[2017-07-01 18:43] lucy811 commented on #1020
We can solve this issue such like this
###Inline-style image:
![panda](https://ganmengfoo.files.wordpress.com/2012/06/photo-fm-pandudup.jpg)

[2017-07-01 19:14] apurva-g opened #1021 "In Step6 GitHub Issues Tutorial - to delete the defunct branch in your local repository."
After the pull request was merged I deleted the defunct branch in my remote repository and when I tried to delete the defunct branch in my local repository using this command
**git branch -d yourLocalBranchName**, it gave an error saying "cannot delete the branch which you are currently on". So I was trying to know how to delete that branch on my local repository, I feel we should have those steps

[2017-07-01 19:23] apurva-g commented on #1021
I followed these steps to delete the branch on my local repository and was able to delete. I think adding this screenshot in the tutorial would be helpful.

![screen shot 2017-07-01 at 3 18 42 pm](https://user-images.githubusercontent.com/22311158/27764801-bbf5d3f4-5e70-11e7-8210-5166fb5827f6.png)

[2017-07-02 16:44] apurva-g opened #1023 "In step4 under MacOSX and Ubuntu, adding a bit more information about port number."
"It is important to have the correct port number otherwise, it will not work correctly."
I think after this line if I add a few more lines about a port number, that will explain as to why it is important to have a correct port number. Yeah, interns can look for that bit of information by googling but by adding those two lines there itself makes it easy to have a better understanding quickly.

[2017-07-02 16:46] apurva-g commented on #1023
A port number is a way to identify a specific process to which the Internet or other network message is to be forwarded when it arrives at a server. For the Transmission Control Protocol and the User Datagram Protocol, a port number is a 16-bit integer that is put in the header appended to a message unit.

[2017-07-02 16:55] adhikara commented on #1023
Good point, although I'd recommend that you write your own understanding of a port number to add to the wiki. That description is from the internet, and so it is not automatically appropriate for the wiki, as the second sentence in particular is a waste of space.

[2017-07-02 17:04] apurva-g commented on #1023
Sure. I can write my understanding of a port number instead of that definition.

[2017-07-02 18:33] tjyothsna16 commented on #1021
These steps are helpful, but personally, I think it's better to write down the advantages and disadvantages on the same page.
For example, I can see a disadvantage here, if we delete any branch we can not use the deleted branch rawgit link anymore.
One of the main advantages I can see here is, we can just use the name of the deleted branch to create a new branch.
So, feel free to list the advantag

[2017-07-02 18:38] lucy811 commented on #1005
I think we can slightly change in Step 9. Instead of repeating the list again in step 9, we can say "make sure you have done the list in Step 8".

[2017-07-02 18:46] apurva-g commented on #1023
Port number is an endpoint of communication when a host sends a service request to the server

[2017-07-02 19:00] apurva-g commented on #1023
Port number is the end point of communication when a host sends a service request to the server that service request is addressed by an application which is listening to that particular port.

Is this ok?

[2017-07-02 20:09] alexkarasik commented on #1005
Yeah, that's along the lines of what I was thinking, but it looks like someone else has made a PR for this issue already.

[2017-07-02 23:02] lucy811 opened #1026 "In Step3, give more general comparison between markdown and other document markup languages"
When I learned in Step 3, I saw "Markdown!=HTML" this sentence in this part. I am little confused about how general different they are.  I think it is better if we can provide a general comparison between markdown and other document markup languages for a beginner.

[2017-07-02 23:51] navneetkarnam commented on #1026
@lucy811 There was a comparison showing both HTML and Markdown syntax earlier but that proved to be a bit confusing so it was removed in one of the earlier issues. I feel it's better we do not add any comparison chart in here as it would lead to more confusions. I would let this stay the way it is.

[2017-07-03 00:22] lucy811 commented on #1026
@navneetkarnam Yeah, I agree with you we do not need to elaborate the difference between HTML and Markdown.  But I find it useful to give a learner a general idea, so I found a  Markdown to HTML converter link on website. I recommend we can add this converter link in the last part of useful links at the end of step 3. This converter just let us know about this general idea.
[Rawgit link](https://r

[2017-07-03 01:54] daisywatson opened #1028 "Typo in step 4"
In the introduction of step 4 - Bell-Apps Tutorial, the line reads "As you complete these instructions, **and** OLE administrator will complete the registration of your community with the Virtual Intern Nation."

"and" should be "an"

It should read:
As you complete these instructions, **an** OLE administrator will complete the registration of your community with the Virtual Intern Nation.

[2017-07-03 16:01] lucy811 commented on #1028
Yes. I agree with you . Besides, I correct this typo and create a pull request.

[2017-07-03 18:26] lucy811 commented on #1018
I agree with you. I correct this issue and create a pull request.

[2017-07-03 20:36] apurva-g commented on #1018
Sure, I will create a pull request. Thank you.

[2017-07-03 20:47] apurva-g commented on #1021
Sure, that's a good point. Thank you. I will add that as well and create a pull request. Thanks.

[2017-07-04 03:30] daisywatson opened #1033 "Inconsistency in step 6 and 8"
In step 6, it says that the format for pull requests is to put the issue # in the **title**.
In step 8, it says to put the issue # in the **description** of the pull request.

One of these two should be changed so that the format is consistent.

[2017-07-04 03:42] daisywatson opened #1034 "Rewrite sentence in step 6"
The sentence reads: "We suggest to include the issue for which the pull request is resolving (for example, if your pull request fixes the issue number 320, then add #320 to your pull request) to the title of your PR and also the rawgit link into the description of the pull request."

This sentence has a grammatical error and I would change it to:

"We suggest including the issue number for which t

[2017-07-04 03:54] daisywatson opened #1035 "Grammar fix in step 6"
The sentence reads, "Github will render the task list in markdown and will look similar to something like the checklist shown below this paragraph."

I would change it to:
"Github will render the task list in markdown, and **it** will look similar to something like the checklist shown below this paragraph."

[2017-07-04 05:37] lucy811 commented on #1018
@apurva-g Ok, I have closed my pull request about this issue, you can make a pull request .

[2017-07-04 09:23] duongdo27 commented on #1033
Good detection. You can open pull request for that.

[2017-07-04 16:21] navneetkarnam commented on #1035
@daisywatson This is a minor change. Go ahead and make a PR for this.

[2017-07-04 17:46] lucy811 opened #1038 "Rewrite sentence in step 8"
In step 8-create issues and pull request part

"Create three more issues, add comments to three other issues, and resolve three issues by making the necessary changes in your repo with three separate pull requests."

Can rewrite sentence "Create three more issues, add comments to three other issues, and resolve three issues by making the necessary changes in your repo with three separate pull requ

[2017-07-04 19:15] lucy811 commented on #862
maybe we can edit a more detailed instructions such as "be sure to add pictures or charts"  and "add the short description in the head of page" and so on.  I think we can call out the reader or the learner should do like this.

[2017-07-04 20:06] kylemathias commented on #1016
The workflow for each intern will differ once they are done with the first steps. For example, the Mobile Development team has a guide [here](http://open-learning-exchange.github.io/#!./pages/takeHomeInternDayToDay.md). I think no matter what team you are on you will use those languages and software on some level.

[2017-07-04 20:06] #1016 closed

[2017-07-04 20:18] #1020 closed

[2017-07-04 20:39] kylemathias commented on #1021
What part in the first steps are you referring to in deleting a branch? I don't know if its necessary to enplane how to delete a local branch when deleting it on github is what is more important. Changing branches and what errors you might get could create an endless list of things to add to the first steps. I would not make this change.

[2017-07-04 20:42] kylemathias commented on #1034
That would be fine. Make the PR and changes

[2017-07-04 22:00] Yurockkk commented on #1017
Solved by [#1032](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1032)

[2017-07-04 22:00] #1017 closed

[2017-07-04 22:14] apurva-g commented on #1021
Hi, Kyle! I am talking about deleting a local branch that we would have created to work on an issue.
Once the issue is resolved and its pull request is merged we no longer need that branch. And yes as you said we would delete that branch from Github but those are the steps explained to delete it locally. I thought of adding it because in the tutorial already there is a command given which tells ho

[2017-07-05 00:53] l0rd3141 opened #1041 "Vagrant installation instructions for Arch users"
Besides Ubuntu users, new interns may be Arch Linux users as well. Maybe it will be a good idea to add installation instruction for Arch Linux on vagrant.md page.

![vagrantinstruction](https://user-images.githubusercontent.com/9048731/27845205-6285359c-60f2-11e7-9673-1a037da7474c.png)

[2017-07-05 04:17] lucy811 opened #1043 "Rephrase the sentence in step 5"
Step 5, clone your github repository username.github.io part
"Both HTTPS and SSH URLs identify the same remote repositories but use different protocols to access the codebase. As an optional step explore the differences using...."

I want to change to this
"Both HTTPS and SSH URLs identify the same remote repositories but use different protocols to access the codebase. **Besides HTTPS we talked ab

[2017-07-05 04:55] lucy811 commented on #1033
I prefer to put issue #in the title,so that people can see pull request to solve issue# at the first glance.

[2017-07-05 16:28] njanne19 opened #1045 "Add bold font under "Wait for Review" in Git Issues"
This is just a minor change, but on the [Github Issues page](http://open-learning-exchange.github.io/#!./pages/githubissues.md), I think that there should be a boldface font under the "Wait for Review" section when it says "After your pull request has been approved and merged ", this way, new interns won't accidentally delete their branch. Maybe this is cherry picking but I think it could just mak

[2017-07-05 16:51] navneetkarnam commented on #1045
@njanne19 Go ahead and make a PR for this.

[2017-07-05 19:22] kylemathias commented on #1021
I think a link would be more appropriate if it is becoming necessary to explain how to delete a local branch. We want people to use the online github branching and deleting functions there. if someone wants to us the local branch system, they should be looking it up themselves.

[2017-07-05 19:24] kylemathias commented on #1041
I like the thought, but i think we are stretching the step by steps to much. If someone is on linux, im assuming they already know these commands.

[2017-07-05 19:30] kylemathias commented on #1043
need to add a "about" to your sentence. so it would sound like this "Besides HTTPS we talked _about_ above, you can also use SSH to do the same thing"

[2017-07-05 20:07] apurva-g commented on #1021
Ok, I will add a link and create a pull request.

[2017-07-05 22:57] l0rd3141 commented on #1041
I'll keep that in mind in future issues and pull requests. Thank you for your advice!

[2017-07-05 23:02] l0rd3141 commented on #1041
My apologies, I closed the issue by mistake. Should I close the issue myself? or is only a higher authority supposed to do it?

[2017-07-05 23:41] #958 closed

[2017-07-05 23:42] LKhadka commented on #958
Solved by #959

[2017-07-06 02:34] #1045 closed

[2017-07-06 02:40] #1018 closed

[2017-07-06 02:47] #1006 closed

[2017-07-06 15:04] sarah-lu102 commented on #1038
@lucy811 ask @dogi in the gitter chat to confirm if that's what he prefers

[2017-07-06 15:10] sarah-lu102 commented on #862
@lucy811 we already resolved this issue in another PR, so there is no need to make another one

[2017-07-06 15:10] #862 closed

[2017-07-06 20:03] #1028 closed

[2017-07-07 01:45] #841 closed

[2017-07-07 04:47] lucy811 opened #1051 "Better describe where Interns can look for the buttons in repository in step 0"
In step 0, old sentence:"When you are on a repository or profile page, look for these buttons in the top right of the screen. "

I think this sentence is better to add an "a" :
"When you are on a repository or **a** profile page, look for these buttons in the top right of the screen. "

[2017-07-07 17:24] kylemathias commented on #1041
you can close it if you want.

[2017-07-07 17:24] #1041 closed

[2017-07-07 17:42] kylemathias commented on #1023
I believe you have explained it well, but i don't think you should add it to the guide. Know what a port number is, is not vital to getting the guide done. If someone wants to know what it is, they can look it up.

[2017-07-07 17:45] apurva-g commented on #1023
Ok. I will not make that change.

[2017-07-07 20:50] aurinsomnia commented on #1051
This is personal preference, but I don't think that the 'a' works a lot better than previously. With that said, I think some of the other parts of the sentence could use some adjustment. One that pops out to me is that the phrase "in the screen" is quite awkward, as a.) the button should be on the top of the *page* not screen, and b.) generally the phrase is *on* not in the screen. I think those w

[2017-07-07 22:30] LKhadka opened #1052 "Including a better Git Tutorial"
While it is not required for aspiring interns to really learn git in order to complete the first steps since they can just use the Github online editor but knowing git can help them when they are accepted as an intern and are working in projects. There are some links to learning Git in the wiki but I have found a couple of guides that provide more hands on approach like Github's [Try Git](https://

[2017-07-07 22:40] navneetkarnam commented on #1052
I just personally tried out the "Try Git" link and it looks helpful to me. I think we should add this to the first steps.

[2017-07-08 00:08] #982 closed

[2017-07-08 00:11] sarah-lu102 commented on #1021
I agree with @kylemathias , I think the steps already have so much information that it is better to just let interns google the solution to deleting branches- being able to figure things out on their own is also important.

[2017-07-08 09:49] l0rd3141 opened #1053 "Add command to clear cache and reload the browser in same session in githubandmarkdown.md"
Add keyboard shortcuts to reload the page with the cache cleared.

![screload](https://user-images.githubusercontent.com/9048731/27984308-61ef74fa-6398-11e7-9b1a-288fb618566c.png)

The current note simply talks about clearing cache but doesn't go into further detail. Simply adding a line with keyboard shortcut to clear cache and reload will be very helpful for new interns

[2017-07-08 10:28] l0rd3141 opened #1054 "Unclear instructions regarding form fill up in bellapps.md"
Current screenshot with details on how to fill index page is somewhat confusing.

![unclearbellapps](https://user-images.githubusercontent.com/9048731/27984466-15685bd4-639c-11e7-912e-ce8a455da01d.png)

Here, administrator details have been imported for General Manager and Tech Support leading to some confusion. Interns are either supposed to manually enter dogi's detail in these fields or they ar

[2017-07-09 04:45] lucy811 commented on #1051
@aurinsomnia Thank you for your advice. I also delete **right** in my pull request . Because I find the follow button on the profile page is on the left, not on the right.

[2017-07-09 21:46] #1035 closed

[2017-07-09 21:46] #1034 closed

[2017-07-09 21:46] #1033 closed

[2017-07-09 23:27] aurinsomnia commented on #1054
I agree that this is somewhat unclear. Go ahead and make a PR with a fix you think is appropriate and we'll go from there.

[2017-07-09 23:29] aurinsomnia commented on #1053
I'm not sure how important this note truly is, but if you can keep the changes minimal, I'm all for it. Also, while you're working on it, I'd fix the spelling error that is in the screenshot. "Incongito" should be spelled *Incognito*. Go ahead and make a PR with the changes.

[2017-07-10 05:17] navneetkarnam opened #1056 "Adding a note on how the survey in the community BeLL"
- Since most of the prospective interns get confused as to where and how to go about with the survey on the community BeLL after __Step 8__. I feel we must add a small note or a screenshot on the survey after the step 8.

[2017-07-10 12:14] tjyothsna16 opened #1057 "Community migration when moving to a new workstation"
Moving to a new workstation would mean one has to abandon their community. There is no automatic way to move from one machine to another and retain the entire community. @dogi suggested that a temporary solution for users/developers planning to move would involve migrating the entire database. We should probably mention this in the documentation.

Please feel free to edit the issue to make it more

[2017-07-10 14:28] #1023 closed

[2017-07-10 16:15] sagun98 commented on #1052
The links on git tutorial looks great. Should definitely add this one on the main pages.

[2017-07-10 16:41] kylemathias commented on #1051
I think it is fine as is.

this is a different issue then what you brought up original. Are you trying to add an  "a" to a sentence? or are you trying to better explain where the delete button is? try to be as clear and concise as you possible can so when others are reading the issue you created they don't have to figure out what you are talking about.

[2017-07-10 23:01] Ebuka-Chibueze commented on #1051
@kylemathias I noticed that this sentence kinda conflates the watch button with the follow button.

I think @lucy811 is talking about the follow button for profile pages. Its near the top left of the page but the wiki says its in "the top right of the screen".

[2017-07-10 23:20] Ebuka-Chibueze commented on #1051
@lucy811

 I don't think you have to delete **right** since it's technically true for repository pages. I think you should delete **or profile page** and mention it in a new sentence. Also change  **these buttons** to **this button**.

[2017-07-11 17:48] lucy811 commented on #1051
@Ebuka-Chibueze @kylemathias

First, I have changed the title of this issue .
Then, according to your comments, I delete “or profile page”, and change “these buttons in the top right of the screen” to”this button at the top right of the page"
Now, the new sentence is "When you are on a repository, look for this button at the top right of the page. “

[2017-07-11 18:26] sarah-lu102 opened #1059 "step 1 installer instructions needs a page on mdwiki"
per dogi's request:

Step 1 in the [first steps page](http://open-learning-exchange.github.io/#!./pages/firststeps.md) sends interns to a readme on his [personal github repo](https://github.com/dogi/ole--vagrant-vi), which contains instructions to install the community bell. It is better to make that readme into a page on the mdwiki.

[2017-07-11 19:12] #1051 closed

[2017-07-11 19:44] #1005 closed

[2017-07-12 02:38] lucy811 commented on #1038
@sarah-lu102 I have posted this question to @dogi in gitter chat.

[2017-07-13 03:08] #1053 closed

[2017-07-13 04:37] apurva-g opened #1062 "Fixing a minor grammatical error in FAQ page: in a sentence under Q6."
As an answer to Q6 on FAQ page
"To be more clear: the initial 10 steps are a vetting process to determine whether or not people are fit for the internship, so consider **it an** interview for the internship".
There is a missing preposition "as".

[2017-07-13 04:39] apurva-g commented on #1062
"To be more clear: the initial 10 steps are a vetting process to determine whether or not people are fit for the internship, so consider **it as an** interview for the internship".

[2017-07-13 14:11] adhikara commented on #1062
The current version is idiomatic, and is correct. Adding 'as' just sounds bizarre to me, and the internet seems to agree: https://www.englishforums.com/English/ConsiderOrConsiderAs/znrpd/post.htm

[2017-07-13 17:42] apurva-g commented on #1062
Ya makes sense. But in this particular sentence adding "as" would not make the sentence wrong.

[2017-07-13 18:10] #1062 closed

[2017-07-13 21:36] apurva-g opened #1064 "Fixing a minor punctuation mark typo on FAQ page, under Q.10"
"Communities, which run locally on **Raspberry Pi’s** and/or laptops, are run on an intranet but are most of the time not connected to the internet".

Here I think they mean to use the plural form of Rasberry Pi, so I feel it should not be an apostrophe s (because it makes it a possessive form).

[2017-07-13 21:37] apurva-g commented on #1064
"Communities, which run locally on **Raspberry Pis** and/or laptops, are run on an intranet but are most of the time not connected to the internet".

[2017-07-13 22:03] apurva-g commented on #1021
So do you all think I should just provide a link to it on the page and create a pull request in order to complete the first steps or I need to create another issue? Either is fine with me.

[2017-07-14 15:38] kylemathias commented on #1064
you can go ahead and make the change and the PR.

[2017-07-14 15:41] kylemathias commented on #1021
I would say make a link at the most. Something like "Go here to find out more about how to delete a branch locally"

[2017-07-14 15:58] dogi commented on #1015
@njanne19 go for it ;)

[2017-07-15 03:44] #1059 closed

[2017-07-15 04:09] navneetkarnam opened #1066 "Changes for the Mac OS part of the Couchapp installation"
- This part of the Couchapp installation needs to be edited as ``sudo install`` does not work for Mac and we would need to use ``brew install`` instead.
- Also once installed the couchapp command doesn't work on the mac unless you do some hard coding and get into the "ole--vagrant-vi" folder on your mac and then type in
``cd /ole/BeLL-Apps-0.12.80/node_modules/.bin/couchapp`` to launch couchapp.
<

[2017-07-15 06:34] apurva-g commented on #1064
Sure. Thank you.

[2017-07-15 06:34] apurva-g commented on #1021
Sure. Thank you.

[2017-07-15 19:35] prajwalajayaprakash commented on #1043
I am closing this issue since it has been resolved.

[2017-07-15 19:35] #1043 closed

[2017-07-15 19:36] navneetkarnam commented on #1057
Go ahead and make a PR for this as I think there were a couple of people who had an issue with this and it would be helpful if it is mentioned in the documentation as to how to go about with migration to another system.

[2017-07-15 19:36] prajwalajayaprakash commented on #1038
I am closing this issue since it has been resolved.

[2017-07-15 19:36] #1038 closed

[2017-07-15 19:38] navneetkarnam commented on #1052
@LKhadka are making a PR for this?

[2017-07-15 19:41] prajwalajayaprakash commented on #1026
@lucy811 Hi! Are you still working on this issue? If not, please close it.

[2017-07-15 19:43] prajwalajayaprakash commented on #867
@adhikara I believe this issue has been resolved. Hence I will be closing it.

[2017-07-15 19:43] #867 closed

[2017-07-15 19:44] #919 closed

[2017-07-15 19:46] #902 closed

[2017-07-15 23:27] #1026 closed

[2017-07-16 04:02] xyb994 opened #1070 "Recommend people to start Crowdin tranlation after finishing step 4 BeLL-Apps Tutorial"
# Problem
Due to lack of context and basic understanding of what BeLL Apps do, I found it hard to translate some words (e.g. nations, communities, collection, etc.) when I started translating on Crowdin following [Step 0](http://open-learning-exchange.github.io/#!./pages/firststeps.md#Step_0_-_Introductory_Steps). I feel that I have a better understanding of what BeLL-Apps do after going through [

[2017-07-16 16:58] kanishk1010 commented on #1066
@navneetkarnam you are right, apt-get is not available on MacOS. So, first of all we can separate Linux and MacOS instructions. However, to get Python, if not installed already installed, I would rather use official Python package from their website than use 'brew', as brew puts it in /usr/local/bin which can be overwritten easily by other applications without 'sudo'. But both ways are fine. MacOS

[2017-07-16 18:35] Ebuka-Chibueze commented on #1054
The parts that are circled are more important. You can just import from the admin. The General Manager and Tech support section are more like placeholders.

[2017-07-16 20:19] jessica-spencer opened #1071 "adding to How To Preview of markdown in github"
The section about How to Preview markdown text should include instructions on how to preview markdown within the github browser.

[2017-07-16 20:51] jessica-spencer commented on #1071
Proposed addition:

If you are writing markdown from the [editor](https://github.com/open-learning-exchange/open-learning-exchange.github.io/new/master) in the GitHub browser interface, you are able to preview that markdown by clicking the preview button.

[2017-07-17 17:47] kylemathias commented on #1057
If you want to make a guide to migrating ones database, that would work.

[2017-07-17 17:52] kylemathias commented on #1052
@LKhadka You want to change around our git tutorial? You want to add to our tutorial? You want to replace the currently linked tutorial with different ones? Please explain a little more to what you are going to do before you go and make changes.

[2017-07-17 18:04] kylemathias commented on #1070
This change is fine. Go ahead and make the changes and pull request.

[2017-07-18 03:30] xyb994 commented on #1070
@kylemathias Thanks for the comment, I've started a PR https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1078

[2017-07-18 15:27] LKhadka commented on #1052
@navneetkarnam yes i will make one by tomorrow
@kylemathias i was thinking of adding them to the useful links section in the [Git Repositories page](http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md).

[2017-07-19 00:40] jessica-spencer commented on #1052
@LKadka codeacademy also has a free tutorial on git that's very thorough.  Maybe it would be worth comparing to the resources you are proposing and the ones already listed

[2017-07-19 01:02] jessica-spencer opened #1079 "Clarifying cd instructions in Vagrant tutorial"
In pages/vagrant.md under the MacOSX instructions, it says : "Vagrant only works when you are in the same directory where your Vagrantfile is located. To make sure you are in the proper directory, open your Terminal and type cd ole--vagrant-vi."

As it is not always true that old-vagrant-vi will be located one down from the home directory, I'd like to reword it like this to make it a bit more accu

[2017-07-19 01:08] jessica-spencer commented on #1079
Forgot to include markdown in the change, going back and fixing it.

[2017-07-19 01:48] jessica-spencer opened #1080 "Change FAQ link to indeed job description to a markdown link"

[2017-07-19 02:05] jessica-spencer opened #1083 "minor grammer fix in faq"
first sentence of 'first steps' software Summary:
"The aim of the ‘First Steps’ is to introduce prospective interns to the software that they will be using, and make sure they are familiar with each"

I would like to change it to:
"The aim of ‘First Steps’ is to introduce prospective interns to the software that they will be using, and **to** make sure they are familiar with ** it**"

Bolded text

[2017-07-19 02:31] xyb994 commented on #1070
Just noticed that we have the link to [Planet User Manual](http://open-learning-exchange.github.io/#!pages/planetusermanual.md) at https://open-learning-exchange.github.io/#!index.md

I think it would be better to add another sentence:

[2017-07-19 19:05] kylemathias commented on #1079
This change is fine. Go ahead and make the changes and pull request.

For future reference: please wait for approval on an issue before you start to make changes to code. You might be making changes to something that could be removed in the future, already could of been solved some place or for a variety of reasons you could not be aware of.

[2017-07-19 19:05] kylemathias commented on #1080
What?

[2017-07-19 19:14] kylemathias commented on #1083
Please wait for approval on your issue before making changes and a pull request. see my comment here: https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/1079#issuecomment-316485745

[2017-07-19 19:17] kylemathias commented on #1071
Please wait for approval on a issue before making changes and pull requesting. ( i know it seems like i am beating you up about this topic, i just want to be consistent. Its not a big deal, you didn't know before hand our issue fixing etiquette.)

[2017-07-19 19:19] #1070 closed

[2017-07-20 04:15] xyb994 opened #1086 "Inconsistent phrasing of "community BeLL" in configurations.md"
## Problem
In Step 1 [configuration page](https://open-learning-exchange.github.io/#!./pages/configurations.md), there are 6 places using "community BeLL" but following 2 places using "communityBeLL":

## Proposed Change

[2017-07-20 05:09] xyb994 opened #1087 "Step 1 - BeLL installation note about Ubuntu"
## Question
What does "previously downloaded ole--vagrant-vi" mean in [Step 1 - BeLL installation](https://open-learning-exchange.github.io/#!./pages/firststeps.md#Step_1_-_BeLL_Installation)'s note? There's no prior instruction about downloading ole--vagrant-vi.

Is this referring to `git clone https://github.com/dogi/ole--vagrant-vi.git` in [configuration.md](https://open-learning-exchange.githu

[2017-07-20 05:51] xyb994 commented on #1087
Just noticed

was recently replaced with

That's probably why it's more confusing now.

[2017-07-20 15:31] navneetkarnam commented on #1087
@xyb994 yes downloaded ole--vagrant-vi refers to the cloning you did before. Downloading the folder in git through the terminal is done using __git clone__ command.

[2017-07-20 15:32] navneetkarnam commented on #1086
This is a minor fix. Go ahead and make a PR for it.

[2017-07-20 15:44] #1009 closed

[2017-07-20 17:05] xyb994 commented on #1086
@navneetkarnam Thank you, just made a [PR](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1088)

[2017-07-20 17:31] l0rd3141 commented on #1087
Yes, it is referring to the git clone https://github.com/dogi/ole--vagrant-vi.git. Sorry about not making it clear

[2017-07-20 17:42] #1086 closed

[2017-07-20 17:47] xyb994 commented on #1087
@navneetkarnam @l0rd3141 Thank you for clarifying my confusion. But the [bash file](https://github.com/open-learning-exchange/open-learning-exchange.github.io/blob/master/pages/uploads/bashScripts/instructions.sh) itself consist of installing git. And `git clone`  is not mentioned until the end of [configuration.md](https://open-learning-exchange.github.io/#!./pages/configurations.md), where it si

[2017-07-20 18:15] l0rd3141 commented on #1087
Sounds like a great idea. Makes complete sense and it will also unclutter the firststep.md. Maybe wait for approval from one of senior members before going ahead and making a PR.

[2017-07-20 18:24] l0rd3141 opened #1090 "Add screenshot for creating dummy user in nation.md"
Currently the instructions for creating dummy member is not accompanied with any image.
![nation bell 1](https://user-images.githubusercontent.com/9048731/28432609-179315e6-6d4e-11e7-84f1-9e43c6811c6b.png)
While the text is self explanatory it will still be helpful to add images with instructions on them. This will also create consistency as most other steps have screenshot associated with them.

[2017-07-20 18:26] sarah-lu102 commented on #1087
@l0rd3141 @xyb994 sorry for the confusion, dogi has some switches in the order of instructions that I'm currently working on. I am removing the note from firststep.md to configuration.md in my branch as part of the rearranging that I'm doing.

[2017-07-20 21:16] Ebuka-Chibueze commented on #1090
@l0rd3141  I agree, this would help with the consistency. I suggest making a pull request that adds the picture and mentions it in the instructions.

[2017-07-20 21:31] LKhadka commented on #1052
@jessica-spencer thanks i will include that as well

[2017-07-21 07:06] xyb994 opened #1094 "Extra space after left parenthesis in firststeps.md"
4 out of 11 parentheses in [firststeps.md](https://raw.githubusercontent.com/open-learning-exchange/open-learning-exchange.github.io/master/pages/firststeps.md) is having an extra space after `(`.

### Step 6

### Step 7

---
We should probably remove the extra space.

[2017-07-21 07:13] xyb994 commented on #1087
@sarah-lu102 Thank you for catching this issue and explaining the context. As I'm still on First Step - Step 8, can I work on the update I mentioned above after [your PR](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1091) has been merged?

[2017-07-21 14:28] sarah-lu102 commented on #1087
@xyb994 are you referring to the bash file? You can work on that independently of my PR since I am only referencing a link to it- as long as you keep the name and location of the file (in github) the same, it should be fine.

[2017-07-21 14:41] xyb994 commented on #1087
@sarah-lu102 I'm referring to both the bash file and the note. I have some modification suggestion to the note content too. Sorry I didn't explain it in item 2. above.

[2017-07-21 14:57] sarah-lu102 commented on #1087
@xyb994 do you want them to be separate pull requests or just one? because if you only need one, then I can just put the edited note into my PR since I am editing that page anyway

[2017-07-21 15:01] #1064 closed

[2017-07-21 15:14] xyb994 commented on #1087
@sarah-lu102 I wanted to just have one PR. If you think above change to the note is fine, I can just have one PR that edits the bash file.

[2017-07-21 16:00] sarah-lu102 commented on #1087
@xyb994 ok, I will make changes to the note!

[2017-07-21 17:34] alexkarasik commented on #1094
@xyb994 that seems fine to me. Go ahead with the PR.

[2017-07-21 17:36] alexkarasik commented on #1080
@kylemathias I think she means, to just include the description from the link rather than the link itself. Is that correct @jessica-spencer ?

[2017-07-22 03:07] xyb994 commented on #1080
I agree, this makes it consistent since all other external links on the same page are using Markdown format. But it looks like the [PR](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1081) is changing more than one file.

[2017-07-23 05:48] srivirtual opened #1102 "BeLL Community configuration page screenshots not up to date"
Steps to Reproduce:
step1.
Goto https://open-learning-exchange.github.io/#!./pages/configurations.md#User_Interface
    Check the images of Configurations.png ,Success.png (Configurations,Register)

step 2.
Goto http://127.0.0.1:5985/apps/_design/bell/MyApp/index.html .enter your username /password .goto http://127.0.0.1:5985/apps/_design/bell/MyApp/index.html, click on Manager and click on config

[2017-07-23 16:06] xyb994 opened #1103 "Update note about closing issues using keywords"
Current [Commit Message Style Guide](https://open-learning-exchange.github.io/#!./pages/githubissues.md#Commit_Message_Style_Guide) in Step 6 - GitHub Issues Tutorial:

# Proposed Update
Add a link to the official GitHub help page regarding `Closing issues using keywords` to help explain how this works on GitHub

[2017-07-23 17:11] xyb994 opened #1104 "Vi Cheat Sheet in FAQ page"
[Vi Cheat Sheet (JPG)](https://www.shell-tips.com/sheets/vi_help_sheet.jpg) in [faq.md](https://open-learning-exchange.github.io/#!./pages/faq.md#Helpful_Links) is linking to a low quality .jpg file. The same [pdf version](https://www.shell-tips.com/sheets/vi_help_sheet.pdf) has higher quality but someone already pointed out [an error](https://www.shell-tips.com/2006/10/29/help-sheet-for-vi-editor

[2017-07-24 04:30] xyb994 commented on #1094
Closing this as [PR](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1098) has been merged.

[2017-07-24 04:30] #1094 closed

[2017-07-24 17:41] #1003 closed

[2017-07-24 17:47] dogi commented on #432
since some days ago we moved all members to a new directory this issue is not working the same way as before ...
that is why I will close it for now

[2017-07-24 17:47] #432 closed

[2017-07-24 18:01] dogi commented on #840
@kanishk1010 thanks - but due importance of other issues and the nearly 2 months of nobody taking this issue to a new level (comment and/or PRs)
I am closing it

[2017-07-24 18:01] #840 closed

[2017-07-24 18:32] srivirtual opened #1107 "Application Cache Error:Manifest fetch failed(404) when trying to sync with nation"
Goto http://127.0.0.1:5985/apps/_design/bell/MyApp/index.html#login
login with your admin credentials.Goto Mnanger/click sync with nation tab/select all ,click send
please see attached error
<img width="2500" alt="syncnationerror" src="https://user-images.githubusercontent.com/30275122/28538624-b4d01df0-7063-11e7-9d1e-a56abd3fbd99.png">

[2017-07-24 19:02] kylemathias commented on #1102
I think you are referring to a problem that should get fixed, but the way you went about presenting it makes it difficultly for someone to understand.

- Your title should be 2-4 words describing the issue so its easy to reference later.
- Your first paragraph should describe the problem in **_concise_** details.
- Next, you should describe how you are going to solve the problem.

After you have d

[2017-07-24 19:05] kylemathias commented on #1107
This might be an isolated issue. Let others comment on it so we can find out if this is a error that can be avoided.

[2017-07-24 19:11] kylemathias commented on #1080
@alexkarasik (I think) i know what she is going to change, but there is no explanation as to why the change should be made. On top of that, @jessica-spencer went and made the changes before anyone even said anything about them.

[2017-07-24 19:22] #901 closed

[2017-07-24 19:54] alexkarasik opened #1108 "*General Issue* Less is More!"
This is an ongoing issue, so all potential and current interns can contribute to this. Issues are not just about adding and contributing to the wiki, but can also be about removing repetitive or unnecessary content. Less is more. Anywhere that you see something that can be removed can be helpful and a valid pull request to make the steps clearer.

Thank you. :)

[2017-07-24 20:28] #1056 closed

[2017-07-24 20:29] #910 closed

[2017-07-24 20:30] dogi commented on #924
Hmm - this mean this issue is now a free for all

[2017-07-24 20:31] dogi commented on #936
hmm - this means that this issue now is a free for all

[2017-07-24 20:32] #1007 closed

[2017-07-24 20:32] navneetkarnam commented on #1066
@kanishk1010 Yup the MacOS instructions and linux has to segregated it is a bit confusing and will take a lot of time for anyone with a mac to get thru this step. I had been away for a while and will be getting back to doing things from this week. I'm still a bit confused on running the Couchapp, that being said I will get to work on this from scratch again. Please do let me know if you come acros

[2017-07-24 20:34] #1090 closed

[2017-07-24 20:57] #1012 closed

[2017-07-24 21:02] dogi commented on #1021
@apurva-g was wondering where we stand on this issue?

[2017-07-24 21:05] #1054 closed

[2017-07-24 21:12] dogi commented on #1057
Hmm - I kinda suggested the opposite :P

I said that migration is theoretically possible but not advised,
cause it will take lots of time and lots of  couchdb knowledge

That why my suggestion was like to leave old installation as it is
and start a new one from scratch ...

... make sure that by doing that **NAME** and **CODE** of the new community are different then the old one

[2017-07-24 22:05] Ebuka-Chibueze commented on #1103
@xyb994 I would personally arrange it like this:

I previewed your update on my local fork and in my opinion it looks more clean if the link is at the end of the paragraph. You could also  add the link to bottom of page in the **Useful Links** section.

[2017-07-24 22:08] dogi commented on #1071
@jessica-spencer I really like your suggestion of Preview,
but the place you added it (README.md)
was not the right place ...

please try to add this to a better spot inside our github.io pages

[2017-07-24 22:15] dogi commented on #1103
@xyb994 I really like you suggestion - just go for it

[2017-07-24 22:20] dogi commented on #1104
@xyb994 why not ;)

try to wow me with a better solution ...

[2017-07-24 22:20] dogi commented on #1104
@xyb994 why noy ;)

... try to wow us with a better solution

[2017-07-24 22:37] dogi commented on #936
open-learning-exchange/open-learning-exchange.github.io#948

[2017-07-24 22:37] #936 closed

[2017-07-24 23:20] #521 closed

[2017-07-24 23:53] xyb994 commented on #1103
@Ebuka-Chibueze Thank you for your comment. I originally thought about putting the link at the end of the paragraph just as you suggested. But I thought it would be nice to know what the note is about at the start of the paragraph.

After comparing both versions. I agree with you that putting it at the end looks more clean. So I'll go ahead creating the PR with the link at the end.

### Putting th

[2017-07-25 00:20] xyb994 commented on #1103
@dogi Thank you for taking a look at the issue, just created [PR](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1111)

[2017-07-25 02:50] #1052 closed

[2017-07-25 17:02] kylemathias commented on #1108
I know this seems silly to say, but might be good to add this to some place in the wiki to let people know they can remove things if its repetitive.

[2017-07-25 20:02] xyb994 commented on #1103
Closing this as PR #1111  has been merged.

[2017-07-25 20:02] #1103 closed

[2017-07-25 20:35] xyb994 commented on #1102
@kylemathias, I think @srivirtual is saying that [the configuration screenshot](https://open-learning-exchange.github.io/pages/uploads/images/configuration.png) and [registration success screenshot](https://open-learning-exchange.github.io/pages/uploads/images/success.png) on [Step 4 - BeLL-Apps Tutorial](https://open-learning-exchange.github.io/#!./pages/bellapps.md#User_Interface) is a little bi

[2017-07-25 21:12] xyb994 opened #1113 "Step 0 ordered list and screenshot size"
# Problem
- List item 3 on [step 0](https://open-learning-exchange.github.io/#!./pages/firststeps.md#Step_0_-_Introductory_Steps) is showing as `1.` in the MDwiki page.
- Two screenshots are taking a lot of space in firststeps.md

# Proposed change
- Indenting `![Watch screenshot](uploads/images/Watch.png)`, `![Follow Screenshot](uploads/images/Follow.png)`, and removing `* * *` fixes the problem

[2017-07-26 00:46] alexkarasik commented on #1108
@kylemathias sure, I'll make a PR in reference to this, but we'll keep the issue open after it gets approved.

[2017-07-26 20:00] alexkarasik commented on #1113
I personally don't think its too confusing as it is, but if you think this is an improvement, give it a PR

[2017-07-26 20:55] LKhadka commented on #1113
I think it might be a problem on smaller screens. Maybe you could use some media queries for that?

[2017-07-26 21:21] Ebuka-Chibueze commented on #1113
I think you should definitely make a pr to change the list in step 0.

[2017-07-26 22:00] xyb994 commented on #1113
@alexkarasik Yeah it's definitely not confusing as it is, but I think it could be consider a defect and the screenshots are supposed to be within item 2 anyways.

[2017-07-26 22:06] xyb994 commented on #1113
@LKhadka @Ebuka-Chibueze On smaller screens, users could click on the image to view it in a bigger size. It looks like it's already responsive, see screenshots of the one line version on screen width 767px below:
<img width="867" alt="screen shot 2017-07-26 at 18 01 13" src="https://user-images.githubusercontent.com/7483137/28645683-7ea66214-722c-11e7-82a3-09adbb699dab.png">

[2017-07-26 23:22] LKhadka commented on #1113
@xyb994 looks good but it would be nice to have some gap between those two images.
![image](https://user-images.githubusercontent.com/6295956/28647867-5da5578e-722f-11e7-82bb-442979493a13.png)

[2017-07-27 02:46] xyb994 commented on #1113
@LKhadka There are no gap between these two images because I have them placed in one line and that's the way MDwiki handles it on smaller screens. To make things simple and not changing too much of the original page, I will make a PR with the version that displays [screenshots on separate lines](https://user-images.githubusercontent.com/7483137/28593241-a8a887be-7159-11e7-8f9f-b24dd57b859f.png) so

[2017-07-27 15:42] LKhadka commented on #1113
Looks good to me

[2017-07-27 16:31] kylemathias commented on #1102
@xyb994 I understand what is being requested, bit just takes longer to translate what was said into what is going to be changed and why. The whole purpose of the Issue is to simply describe something you see needs changing to others.

[2017-07-27 17:30] #1113 closed

[2017-07-27 19:50] ggwilliams opened #1118 "BeLL-Apps Tutorial"
After the configurations screen shot it says,
"After filling out your configurations, remember to save a screenshot of the configuration page so that you can post it on the Gitter chat after submitting your registration request".

I think it might be more helpful to mention that iterns will need to take a screenshot of this page under the User Interface header. Or maybe add another note mentioning

[2017-07-27 20:57] sarah-lu102 commented on #1107
@srivirtual I have the same issue as well- good catch.

[2017-07-28 00:14] RMDern opened #1119 "Git Bash Lesson"
![olegitbash](https://user-images.githubusercontent.com/3970591/28697001-1005fed8-7307-11e7-97f9-58d3bdfeba90.PNG)

Add link to Git Bash lesson for interns interested in using and learning more about the tool. I think the link should be located in a new sentence at the bottom of the pictured section of "vagrant.md".

[2017-07-28 00:14] RMDern commented on #1119
I have previously completed a short (~1 hour) course on Git Bash which is available for free on Udemy here: https://www.udemy.com/git-bash/

It is very easy to follow for beginners and provides a comprehensive setup and introduction to get people up and running with Git Bash in tandem with GitHub.

[2017-07-28 07:10] dogi commented on #1119
why not ;)

@RMDern make a PR

@/all: wonder still if we should reverse the order of cli's
I mean 1. git bash 2. powershell 3 command line ;)
I would be even so arrogant to say that `git bash` is the preferred choice
but here I wonder about feedback of you ;)

[2017-07-28 15:29] alexkarasik commented on #1118
If you think that is an improvement, go ahead and make a PR.

[2017-07-28 15:40] alexkarasik opened #1121 "Crossed out bit in HTML Resources page."
I was wondering why this sentence in the HTML Resource page under the "Adding content to the app and pushing it" section has the bit in the parenthesis crossed out, (though you can't see it here it is crossed out on the page):

Now that you have generated the app, you will need to add the original app data (the one you're porting) to _attachments folder.

If there is an explanation, I am curious a

[2017-07-28 15:42] alexkarasik commented on #1119
Which section/page would we find this?

[2017-07-28 15:48] Yurockkk commented on #1119
@alexkarasik you can find it [here](http://open-learning-exchange.github.io/#!./pages/vagrant.md#Windows). People who use Windows can share their thought to @dogi !

[2017-07-28 21:07] Ebuka-Chibueze commented on #1119
@dogi I think this is a great idea. As a windows user, I personally prefer Git Bash.

[2017-07-29 16:04] alexkarasik opened #1122 "Include a section for ongoing projects/ repositories on each page"
I'm not quite here yet, but I think after an intern has done the preliminary steps in one of the main project sections, there should be a sub-section at the bottom for relevant ongoing projects/repositories to work on, so the next step will be made clear and easily accessible. For example, we were told in the Angular chatroom to work on this repository, which is probably going to be a relevant pro

[2017-07-31 14:27] mappuji commented on #521
Closed because issue was solved.

[2017-07-31 14:52] paulbert commented on #1119
@dogi I agree.  I rarely use powershell or the command line.

[2017-07-31 18:56] alexkarasik opened #1124 "Remind interns to use Firefox when it is time to push their first HTML5 resource to the nation"
I got stuck for a few days on Step 1 because of this... I feel silly in retrospect, but I think a note or reminder that the "Add to Nation" button will not appear unless the Firefox browser is used will be helpful for someone else in the future.

[2017-07-31 19:15] paulbert commented on #1122
Great point. We've been a little slow to add project pages for that and the RaspberryPi project here:

https://github.com/ole-vi/treehouse-builder

I agree that this is a good one to keep open as it will be related to a few PRs.

[2017-07-31 20:10] #1087 closed

[2017-07-31 22:26] kylemathias commented on #1119
I say remove it. i never used it.

[2017-07-31 22:30] kylemathias commented on #1124
I think we mention it some place to use firefox exclusively to avoid problems like this.

[2017-08-01 00:46] #641 closed

[2017-08-01 14:07] Yurockkk commented on #1124
we did mentioned [here](http://open-learning-exchange.github.io/#!./pages/installation.md#MacOS(X)_and_Ubuntu_ONLY) although it's not that noticeable to me

[2017-08-01 19:11] navneetkarnam commented on #1118
go ahead and make a PR for this. I think it is good to add in as a __"note"__ so that it just serves as a reminder before hand that they will need to take a screenshot.

[2017-08-01 19:56] sahityaLMaruvada opened #1128 "URL provided for EmilyLarkin md page shows a 404 error"
When I copy pasted the [URL](EmilyLarkin.github.io/pages/profiles/EmilyLarkin.md) for reference in the browser from the [githubandmarkdowndown.md](http://open-learning-exchange.github.io/#!./pages/githubandmarkdown.md). I got  a page not found error. This is what my [URL](https://github.com/sahityaLMaruvada/sahityaLMaruvada.github.io/blob/sahityamaruvada-branch-1/pages/profiles/sahityaLMaruvada.md

[2017-08-01 20:46] sahityaLMaruvada opened #1129 "Repository(<username>.github.io) already exists error"
I think its better to mention what is to be done if one already has a repository named <username>.github.io for a personal webpage or similar.
I had the same issue so I renamed the old <username>.github.io repository to a different name since I wasn't really using it and forked the ole repository with title <username>.github.io. It isn't ideal way to do but it worked for me. Is there any other bet

[2017-08-02 16:06] kylemathias commented on #1128
I think that is trying to show you the proper path to the location witch profile pages are stored more than getting you a proper URL. My URL is https://github.com/kylemathias/kylemathias.github.io/blob/master/pages/profiles/kylemathias.md. You can generate the URL in many ways, but i believe the way it is on the wiki is the easiest.

You could add the beginning of the URL, https://github.com/kylem

[2017-08-02 16:20] kylemathias commented on #1129
if someone runs into that problem i think its safe to assume that they know how to solve the problem. This guide is intended to streamline the process for people who don't normally use GitHub.

[2017-08-02 16:23] sahityaLMaruvada commented on #1128
Yeah I get that. Since it is mentioned "as an example of a link to a personal page", I think it  would be ideal if the link is valid incase someone tries to see what exactly is in there. Is it fine if I update the current URL in the page with https://github.com/kylemathias/kylemathias.github.io/blob/master/pages/profiles/kylemathias.md as a reference?

[2017-08-02 16:25] sahityaLMaruvada commented on #1129
Okay sure.. So can we consider this as closed?

[2017-08-02 16:37] #857 closed

[2017-08-03 02:22] LKhadka opened #1132 "Adding direct link to next steps"
I think it would be nice to have a direct link to go the next steps instead of going back to the first steps and clicking on the next step.
<img width="709" alt="image" src="https://user-images.githubusercontent.com/6295956/28903073-8c412c78-77c8-11e7-9aed-57ffe93d470b.png">

[2017-08-03 14:45] alexkarasik commented on #1132
Great idea! Definitely make a PR for this one

[2017-08-05 07:53] kylemathias commented on #1128
sure. go ahead.

[2017-08-05 07:54] kylemathias commented on #1129
yes

[2017-08-05 07:54] #1129 closed

[2017-08-06 22:48] xyb994 commented on #1132
I agree, it make sense to just add the link there.

But "Next Steps" is a little bit strange to me because "installation page" and "configurations page" are both under step 1... Probably this is my language issue. Does anyone else have an opinion?

[2017-08-07 14:43] LKhadka commented on #1132
@alexkarasik thanks i will make a pr for it

@xyb994 i think its because they have different pages and are too big cover them all in one page

[2017-08-07 15:03] sahityaLMaruvada commented on #1128
Done! will update it asap!

[2017-08-07 15:30] sahityaLMaruvada commented on #1132
I think its a good idea too. It would be easy to go to next step directly than returning to the "first steps" page and checking till which step one has completed.

[2017-08-07 15:50] sahityaLMaruvada opened #1133 "Ambiguous Sentence in GitHub Issues page"
**Suggested Correction:**
If you switch back to master, the files on your local machine revert back to how they were before you made changes, since you are no longer on the new branch created.

I found the latter to be more clear and precise than the previous description

<img width="883" alt="screen shot 2017-08-07 at 11 46 05 am" src="https://user-images.githubusercontent.com/24358427/29034344-0

[2017-08-07 16:17] sahityaLMaruvada opened #1134 "Representation of Mac OS X in installation.md"
**Current Content:**

Open your Terminal. We assume that brew is already installed.

**Suggested Representation:**

Reference:
<img width="754" alt="screen shot 2017-08-07 at 12 12 31 pm" src="https://user-images.githubusercontent.com/24358427/29035512-ddd286c8-7b69-11e7-8ee6-4381e8c84351.png">

[Link to installation.md page](http://open-learning-exchange.github.io/#!./pages/installation.md)

[2017-08-07 16:46] Ebuka-Chibueze commented on #1133
@sahityaLMaruvada Yeah I see where you're coming from. Your suggestion is more explicit and leaves little room for confusion.

[2017-08-07 16:50] sahityaLMaruvada commented on #1133
@Ebuka-Chibueze  Yeah I feel the same too. So shall i go ahead and create a pull request for updating it?

[2017-08-07 16:53] Ebuka-Chibueze commented on #1133
@sahityaLMaruvada Sure.

[2017-08-07 18:25] LKhadka commented on #1134
This is more of a preference change than a functionality issue. Also, there are multiple pages where Mac OS X is spelled differently. Try to focus on issues that are unquestionably needed to be fixed.

[2017-08-07 18:35] LKhadka commented on #1124
I think it would be nice to have a small note since it could help someone who got stuck in that step

[2017-08-07 18:39] LKhadka commented on #1121
That part confused me too

[2017-08-07 19:36] #1124 closed

[2017-08-07 20:09] alexkarasik commented on #1071
@jessica-spencer Are you still working on this?

[2017-08-07 20:12] alexkarasik commented on #1119
@RMDern are you still working on this? I don't see an open PR for it. I will close this on Wednesday otherwise.

[2017-08-07 20:15] alexkarasik commented on #1021
@apurva-g Are you still working on this? I will close it by Wednesday if you are not working on it.

[2017-08-07 20:20] alexkarasik commented on #1107
Anyone else get this error? This is either a big issue or an isolated issue. This did not happen to me.

[2017-08-07 20:21] alexkarasik commented on #1083
@jessica-spencer Seems like a fine change to me. Please make a PR for this by Wednesday or I will close this issue.

[2017-08-09 02:52] LKhadka commented on #1132
Do you think that there should be a direct link to the next steps in all the pages? It seems that only step 1 has a next steps section and steps 8 and 9 don't have their own pages.

[2017-08-09 12:55] #1083 closed

[2017-08-09 12:56] #1119 closed

[2017-08-09 12:56] #1080 closed

[2017-08-09 12:56] #1021 closed

[2017-08-09 13:14] alexkarasik commented on #1104
@xyb994 any progress with this? I will close by Friday of not.

[2017-08-09 16:04] alexkarasik commented on #1015
This has been merged, so I am closing it.

[2017-08-09 16:04] #1015 closed

[2017-08-09 19:46] sahityaLMaruvada commented on #1134
Thank you for the suggestion. I felt it is a "standard", rather than a preference,  so wanted to update.  I can fix it on all the pages that has the current representation if required.

[2017-08-10 03:08] hmly opened #1140 "Add link to Installation page"
I think it would be helpful to readers if we add something like:

"Refer to the Prerequisites Section of [Vagrant Instruct](http://open-learning-exchange.github.io/#!./pages/vagrant.md) if you encountered an error while executing `vagrant up`"

to the "MacOS(X) and Ubuntu ONLY" section of the [installation page](http://open-learning-exchange.github.io/#!./pages/installation.md).

The reason I brou

[2017-08-10 03:27] xyb994 commented on #1104
@alexkarasik Thanks for reminding me, here's the [PR](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1141)

[2017-08-10 03:53] xyb994 commented on #1134
@sahityaLMaruvada I noticed this as well when I was on First Steps. Probably just change them to the name of the latest version `macOS` as https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/1108 mentioned less is more.

[2017-08-10 14:28] alexkarasik commented on #1140
Great suggestion! We are always looking to make the workflow more clear. Make the PR please :)

[2017-08-10 14:28] #1140 closed

[2017-08-10 14:28] #1071 closed

[2017-08-10 14:40] #1104 closed

[2017-08-11 16:08] sahityaLMaruvada opened #1144 "Typo in simpleinstall.md "diffrent""
Typo in simple install wiki page. Update - diffrent to different in three places

**Added Suggestion(minor):**
All the project pages just have the **title** but the Simple Install page has **Project Title : Simple Install**. It would be ideal if the uniformity is maintained for all the project page titles.

Project Title: Simple Install

Simple Install

[2017-08-11 19:19] Yurockkk commented on #1144
@sahityaLMaruvada Good catch! Since you are dealing with uniformity issue, you should check [raspberrypi project](http://open-learning-exchange.github.io/#!pages/raspberrypi.md) as well. Go ahead and make a PR!

[2017-08-11 19:31] sahityaLMaruvada commented on #1144
Sure! Will do it! Shall i update the title to **Raspberry Pi** instead of **Introduction to Raspberry Pi**?

[2017-08-11 19:46] Yurockkk commented on #1144
@sahityaLMaruvada It seems more consistent to me. Make a PR and let's see what others thought.

[2017-08-12 01:50] alexkarasik opened #1146 "Adding a summary of the steps in 'The Steps'"
I think it would be best to let prospective interns know that the bulk of what they will be doing is filing 4 issues and making 4 pull requests on improvements for the 'First Steps' section and letting them know that this is for them to practice their ability to use Github and work in an Open Source environment. I feel like we could condense 'The Steps' section into a single paragraph as they will

[2017-08-12 01:52] #1079 closed

[2017-08-12 03:20] kylemathias commented on #1121
not sure why. You can go ahead and remove it if you like.

[2017-08-12 03:23] kylemathias commented on #1132
Some steps have a paragraph explain what the next step entails. i would try to avoid a link to a next step where there is an explanation paragraph for it on the firststeps.md page.

[2017-08-12 03:42] kylemathias commented on #1146
There is sorta of a summary there already under step 8:

The goal of the first steps is to be concise and clear as possible, more emphasis on concise. We want interns to ask question and get familiar with reaching out for help when they are stuck.

[2017-08-12 04:55] #1133 closed

[2017-08-12 14:16] Yurockkk commented on #1144
solved by #1145

[2017-08-12 14:16] #1144 closed

[2017-08-12 20:18] #1134 closed

[2017-08-12 21:46] hmly opened #1147 "Ambiguity in the VIO Page"
**On the Virtual Intern Orientation page:**

The instruction does not specify who the author is, so I suggest we should include at least the author's name so the reader will know who to notify.

[2017-08-13 00:18] hmly opened #1148 "Repetitiveness in VIO page"
**From the Virtual Intern Orientation page:**

**Suggested Change**

The change is to make the sentences less repetitive and more descriptive.

[2017-08-13 01:11] hmly opened #1149 "Improving readability of objective"
**From Simple Install page:**

**Suggested Change**

Work on issues at https://github.com/dogi/ole--vagrant-community/issues.

[2017-08-13 05:52] duongdo27 commented on #1147
@hmly The author's name is **the person who create the pull request**. After you merge a PR you should message him/her in the **intern channel**.

[2017-08-13 15:37] hmly commented on #1147
@duongdo27 Thanks for the clarification. It seems I was reading the sentence from a different perspective.

[2017-08-13 15:37] #1147 closed

[2017-08-14 00:31] #1128 closed

[2017-08-14 01:09] xyb994 commented on #1149
How about formatting Objectives section in following 3 projects the same way using ordered list or unordered list:
https://open-learning-exchange.github.io/#!pages/simpleinstall.md
https://open-learning-exchange.github.io/#!pages/crowdinintegration.md
https://open-learning-exchange.github.io/#!pages/htmlresources.md

[2017-08-14 02:15] alexkarasik commented on #1148
I agree, this is an improvement. Please make a PR :)

[2017-08-14 02:18] alexkarasik commented on #1146
@kylemathias Yes, but I think it may be more useful to have it up earlier than that... I think we are giving folks a lot of information before they know what they are going to be doing. I think it would be an improvement to have them understand the issue/pr system as early as possible.

[2017-08-14 17:56] alexkarasik commented on #1118
@ggwilliams Still working on this? I will close it by wednesday if not...

[2017-08-14 18:00] alexkarasik commented on #1132
@LKhadka What is the status with this issue? I don't see a PR for this, but maybe it was done already?

[2017-08-14 18:02] alexkarasik commented on #1149
Awesome, but you can put the changes in a PR next time

[2017-08-14 18:46] hmly commented on #1149
Got it.

[2017-08-14 19:30] apurva-g opened #1153 "Adding apurva-g (myself) to the team"
I am adding myself to the team.

[2017-08-14 19:47] paulbert opened #1155 "Improve Angular project page"
Open issue for discussion of improvements for the [angular project page](http://open-learning-exchange.github.io/#!pages/angular.md)

This page was merged into the wiki in an early stage of writing so interns would at least have some information on the project.  If something is unclear with the documentation, but you are unsure how to go about fixing it, this is the place to bring that up.

[2017-08-14 19:52] kylemathias commented on #1146
@alexkarasik we have had interns who skim pass everything and just do pull request and end up missing some important information because they skipped reading and just did the check list. I would prefer if the first steps became more concise to the point where needing to add the check list at the start was not necessary.

[2017-08-15 16:51] kylemathias commented on #1153
i don't think this is an issue : ).

[2017-08-15 16:51] #1153 closed

[2017-08-15 18:31] #1148 closed

[2017-08-17 15:30] alexkarasik commented on #1146
I understand. I'm going to close this issue for now and try to think of a different way to make the First Steps more straight forward.

[2017-08-17 15:30] #1146 closed

[2017-08-18 19:13] RMDern commented on #1119
@alexkarasik My apologies, I'm just returning from overseas and didn't have a chance to make this change. Could you please re-open this and I'll make a PR?

[2017-08-19 16:22] mappuji opened #1160 "Create a contributions guideline and how a guide how to create an issue"
See [here](https://github.com/ole-vi/rpi-couchdb/tree/master/.github) for example

[2017-08-21 21:49] #1121 closed

[2017-08-22 15:52] #1132 closed

[2017-08-22 15:56] #1149 closed

[2017-08-23 15:26] alexkarasik opened #1162 "Formatting with providing links..."
Hey guys, I can use a little help with something. I'm trying provide links to useful Angular tutorials for the wiki, but I am having some formatting errors. This is what I am trying to add:
## Resources for learning Angular/Tutorials

The following are some solid free resources for deepening your understanding of the fundementals of Angular in order to assist in this ongoing project:

[The Officia

[2017-08-23 16:45] xyb994 commented on #1162
It looks like this to me:

<img width="856" alt="screen shot 2017-08-23 at 12 36 01" src="https://user-images.githubusercontent.com/7483137/29627320-b6d792aa-87ff-11e7-980a-e4e2720297aa.png">

Did you hard refresh (cmd/contrl+shift+R) the rawgit page in the browser? [Related Issue](https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/894#issuecomment-308516613)

[2017-08-23 20:57] Yurockkk opened #1164 "Inconsistent page layout on Raspberry Pi project page"
I notice that there is a table of content in each project page except Raspberry Pi project page, I think It would be better to be consistence.

[2017-08-23 21:20] alexkarasik commented on #1162
Oh! That's exactly what I wanted. Going to make another Issue and PR for this then... thanks

[2017-08-23 21:20] #1162 closed

[2017-08-25 02:37] #1164 closed

[2017-08-28 07:20] MadagascarOLE opened #1167 "Return to the corresponding step number"
In the [Github Issues page](http://open-learning-exchange.github.io/#!./pages/githubissues.md), if one click the link __Return to [First Steps](http://open-learning-exchange.github.io/#!./pages/firststeps.md)__ at the bottom, it would be better if the page is redirected at the corresponding step number (here [step 6](http://open-learning-exchange.github.io/#!./pages/firststeps.md#Step_6_-_GitHub_I

[2017-08-29 03:01] daisywatson commented on #1167
Do you mean that each page should return to its corresponding step number or just step 6?

[2017-08-29 03:18] xyb994 commented on #1167
I think this is a good suggestion. When I was doing FirstSteps, it did take a look of scrolling to navigate around the page, the table of content section on the left side is helpful though.

[2017-08-29 05:50] MadagascarOLE commented on #1167
@daisywatson yes,  i mean  each page  should return to its corresponding  step number

[2017-08-30 12:45] MadagascarOLE commented on #1167
I  think that adding  an anchor-like link in the form of **#Step_StepNumber_-_Title_of_the_step**  after each **(firststeps.md)** link would make each page return to its corresponding step number

[2017-08-30 16:15] bsocial opened #1168 "Update the Logo"
We need to update the default OLE logo that is used-in the user interface.

![ole-logo](https://user-images.githubusercontent.com/4063398/29883027-e99f06aa-8d7c-11e7-978f-3370962baae7.png)

[2017-08-30 16:32] bsocial commented on #1168
See the old logo in this image.
![logo-placement-example](https://user-images.githubusercontent.com/4063398/29883768-3f547254-8d7f-11e7-9acc-8c4546469a06.png)

[2017-08-31 16:03] kylemathias commented on #1168
were exactly dose it need to be updated? Could you enplane were exactly you want the change to take place and why?

[2017-08-31 19:59] ajGingrich opened #1172 "npm ERR! code ETARGET when npm installing"
I am just trying to install the dependencies on a local version using `npm install` and I get this error:

    npm ERR! code ETARGET
    npm ERR! notarget No matching version found for grunt@0.4.0rc4
    npm ERR! notarget In most cases you or one of your dependencies are requesting
    npm ERR! notarget a package version that doesn't exist.
    npm ERR! notarget
    npm ERR! notarget It was specif

[2017-08-31 20:23] ajGingrich opened #1173 "Fix/Spelling Error on Intern Orientation Page"
Under the recommended daily routine page in pages/internorientation.md, the last bullet point spells variations incorrectly.

* Try to close issues using some of the following keywords and **vairations** of them in the headings: `close`, `fix` and `resolve`.

I would like to fix this and make a pull request.

[2017-08-31 20:41] #1167 closed

[2017-08-31 21:04] bsocial commented on #1168
Hey Kyle. I missed categorized this issue. It should have appeared under bell-apps [here >](https://github.com/open-learning-exchange/BeLL-Apps/issues/1010)

[2017-08-31 21:45] #1168 closed

[2017-09-01 10:32] MadagascarOLE opened #1175 "Repetitive content on GitHub Issues on FirstSteps"
in the introduction section of [GitHub Issues](http://open-learning-exchange.github.io/#!./pages/githubissues.md#Introduction), the sentence

**May be one should keep only one of that sentence**

[2017-09-01 10:34] MadagascarOLE commented on #1175
To fix that issue,  the repetitive sentence in the file githubissues.md should be deleted.

[2017-09-01 10:45] MadagascarOLE opened #1176 "Link to step 4 in the Sync With the Nation"
In the Sync With the Nation [section](http://open-learning-exchange.github.io/#!pages/nation.md#Sync_With_the_Nation) of the Nation BeLL [step](http://open-learning-exchange.github.io/#!pages/nation.md), it would be nice to convert the Step 4 words into a link that will redirect to that step

That would act as a reminder of that step !!!

[2017-09-01 10:49] MadagascarOLE commented on #1176
To fix that , i'm planning to add a link to the [Different Kind of Updates to Your Community](http://open-learning-exchange.github.io/#!pages/bellapps.md#Different_Kinds_of_Updates_to_Your_Community) in the section

[2017-09-01 11:02] MadagascarOLE opened #1177 "Planet User Manual File don't use local file in fork (Rawgit or on personnal copy)"
In the First Steps page, and on the third point of the [Introductory Steps](http://open-learning-exchange.github.io/#!pages/firststeps.md#Step_0_-_Introductory_Steps), there is a link to the [Planet User Manual](http://open-learning-exchange.github.io/#!pages/planetusermanual.md).
The problem is that, when we work on our local repository, that link still reference the [remote link](http://open-lea

[2017-09-01 11:07] MadagascarOLE commented on #1177
Deleting the `http://open-learning-exchange.github.io` part of the link would resolve this.

[2017-09-01 16:18] #1173 closed

[2017-09-01 17:35] kylemathias commented on #1175
Nice find, i would say just delete "Issues are often opened by our team to fix software bugs on the BeLL and in our code is repeated twice." Go ahead and make the pull request and changes.

[2017-09-01 17:37] kylemathias commented on #1176
This change seems fine. Go ahead and make the pull request and the change.

[2017-09-01 17:41] kylemathias commented on #1177
Nice find. Go ahead and make the changes and the pull request.

[2017-09-02 11:59] cramartef opened #1178 "repetitive note with missing words on gitandrepositories.md file"
at the summary section, the note is written twice but the words **rebasing and merging** are missing in the first note.

[2017-09-04 09:04] MbinSophie opened #1183 "Installing problem"
Hi everyone,
May someone can Help me cos I start my training this morning and I couldn't install my vagrant.
Fisrt of all my system is lunixmint (ubuntu's family),so I used all commands
    sudo apt-get install git => ok
    sudo apt-get install virtualbox => ok
But in this last one (  sudo apt-get install vagrant) I had this problem:
    Lecture des listes de paquets... Fait Construction de l'arb

[2017-09-04 22:14] xyb994 opened #1184 "Indeed link no longer works"
## Problem
Links to indeed job description in following two places are no longer working:
<https://github.com/open-learning-exchange/open-learning-exchange.github.io/blob/master/pages/faq.md#q3-where-can-i-find-more-information-about-this-internship>

<https://github.com/open-learning-exchange/open-learning-exchange.github.io/blob/master/pages/firststeps.md#the-big-picture>

## Solution
It's likel

[2017-09-04 22:18] ajGingrich opened #1185 "Format for text on First Steps (Step 6 and Step 8)"
On `firststeps.md`, the text formatting for Step 6 and 8 isn't the most user friendly. Both are extremely large paragraphs which are hard to read. I propose that each step has two different paragraphs.

[2017-09-04 22:23] ajGingrich commented on #1185
I would like to split **Step 6** in the middle and make everything from *Contribute as much as value as you can in each issue...* into a second paragraph.

Similarly, I would like to split **Step 8** at *Just as your learning with this Wiki was made possible...*

[2017-09-04 22:27] ajGingrich commented on #1184
I can change the link to the suggested indeed page if that is the preferred method.

[2017-09-04 22:42] ajGingrich opened #1186 "Do not show anchor links on hover for headers"
I suggest that the anchor links that are used for scrolling to the correct header should not be shown. They are distracting because the user is already at that location so the link only refreshes the page with no additional help.

![ole-anchorlink](https://user-images.githubusercontent.com/22775484/30039571-568e6cf8-9190-11e7-847d-0d290ac69ebb.png)

[2017-09-04 23:35] ajGingrich opened #1187 "Fix/Broken Image Link on my Andrew Gingrich's Personal Page"
I hosted my image in a public folder on Dropbox. As of Sept 1, Dropbox no longer allows this folder to be used publicly. The page can be seen here:

https://github.com/open-learning-exchange/open-learning-exchange.github.io/blob/master/pages/profiles/ajGingrich.md

[2017-09-04 23:35] ajGingrich commented on #1187
I would like to replace this link with a working version - http://i.imgur.com/NOBNao6.png

[2017-09-04 23:42] ajGingrich opened #1188 "Grammar error for Objective Header"
The header Objective occurs on almost every page in the wiki. On multiple occasions, the objective actually consists of a bullet list. Therefore, the header should actually says Objective**s**. For example:

## Objective
* Point 1
* Point 2
* Point 3

An example of this can be see on the github issues [page](http://open-learning-exchange.github.io/#!./pages/githubissues.md)

I would like to add th

[2017-09-05 03:30] dogi commented on #1187
@ajGingrich oops go for it ;)
it was your right from the get go ...

PS: @open-learning-exchange/virtual-interns tiny vote if fixes of this matter should also count as part of step8 ?

[2017-09-05 19:47] kylemathias commented on #1183
Issues are for bringing up issues that need to be fixed about the Wiki. Please use our [gitter ](https://gitter.im/open-learning-exchange/chat)to get help for questions.

[2017-09-05 19:47] #1183 closed

[2017-09-05 19:56] kylemathias commented on #1185
Sounds like a fine change, go ahead and make the pull request and reference this issue.

[2017-09-05 19:57] kylemathias commented on #1184
Go ahead and make the pull request and change.

[2017-09-05 19:58] kylemathias commented on #1186
Go ahead and make the change.

[2017-09-05 20:00] kylemathias commented on #1188
Sure. Go ahead and make the changes and the pull request.

[2017-09-05 20:04] #1177 closed

[2017-09-06 00:41] ajGingrich commented on #1172
I solved this by upgrading to npm 5.4

[2017-09-06 00:41] #1172 closed

[2017-09-06 07:45] cramartef opened #1195 "Add more instruction to firststeps.md Step 0"
At [Step 0 - Introductory Steps](http://open-learning-exchange.github.io/#!pages/firststeps.md#Step_0_-_Introductory_Steps), It is better to say that we need to create a Github account.

Instead of:

Here is [how to fix it](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1196/files)

[2017-09-06 08:50] cramartef opened #1197 "Misspelt word at vagrant.md"
There is a mispelt word at [macOS section](http://open-learning-exchange.github.io/#!./pages/vagrant.md#macOS)

instead of:

Here is [how to fix it](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1198/files)

[2017-09-06 16:45] #1187 closed

[2017-09-06 16:46] #1185 closed

[2017-09-06 16:52] kylemathias commented on #1195
agreed.

[2017-09-06 16:53] kylemathias commented on #1197
k. go ahead and make the fix.

[2017-09-07 10:33] cramartef commented on #1195
I have done it with @Yurockkk 's suggestion.

[2017-09-07 17:32] xyb994 commented on #1197
Closing this as [PR #1198](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1198) was merged

[2017-09-07 17:32] #1197 closed

[2017-09-07 17:38] xyb994 commented on #1175
Closing this as PR https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1180 was merged

[2017-09-07 17:38] #1175 closed

[2017-09-07 17:38] xyb994 commented on #1176
Closing this as PR https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1181 was merged

[2017-09-07 17:38] #1176 closed

[2017-09-07 22:22] #1184 closed

[2017-09-07 22:23] #1195 closed

[2017-09-08 12:52] cramartef opened #1203 "Add a link and more instructions at Tech genius Support section"
There should be a link  to [Clone your GitHub repository username.github.io](http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md#Clone_your_GitHub_repository_username.github.io) at the word **clone**

And It is better to add more details at Step 3 - **`If you are using windows`**. The same as:

And also, maybe a note that says: we need to turn off vagrant for vi, before startin

[2017-09-08 16:29] bsocial commented on #1203
Sweet - @cramartef knows his stuff!

Issue 1:  A link to clone details, definitely. Please add this.
Issue 2:  Halting the vi community. You can have two running at the same time. However, it does consume resources and the user should be aware. I agree that halting the vi community is preferable. Perhaps it needs additional language such as,

[code]
Would you please pull, implement and push. Each

[2017-09-09 19:42] ExaMind opened #1208 "BeLL installation in Windows"
According to the installation guide ( http://open-learning-exchange.github.io/#!./pages/installation.md ) to install the community BeLL and its dependencies in your computer you'll just have to copy and paste one of scripts ( depending on your OS) in your command prompt as admin.

However, this does not work when I tried it. I am using Windows 10 Pro. I get the following error message:
      Excep

[2017-09-10 17:23] ExaMind opened #1210 "Error in Github and Markdown page"
In the [GitHub and Markdown page](https://rawgit.com/ExaMind/ExaMind.github.io/open-learning-exchange-sudarshan/#!./pages/githubandmarkdown.md) on the [Post a link to your repository in chat](http://open-learning-exchange.github.io/#!./pages/githubandmarkdown.md#Post_a_link_to_your_repository_in_chat) section the instructions say that you have to post a link to your github.io website on gitter cha

[2017-09-10 19:44] ExaMind opened #1211 "Rewrite instruction in the Create a Commit section under GitHub Issues"
I think the first two sentences under [Create a Commit](https://rawgit.com/ExaMind/ExaMind.github.io/open-learning-exchange-sudarshan/#!./pages/githubissues.md#Create_a_Commit) should be replaced with the following:

After you are done with the changes use the _git status_ command to see which files in the working directory have been modified. If you wish to stage all of the modified files shown u

[2017-09-11 04:10] xyb994 commented on #1178
Closing this as PR #1179 was merged.

[2017-09-11 04:10] #1178 closed

[2017-09-11 07:57] cramartef commented on #1203
thanks. I'll making the second issue

[2017-09-11 22:11] ExaMind opened #1213 "Need a minor edit in step0."
I think the third sentence in step 2 of [Step 0-Introductory Steps](https://rawgit.com/ExaMind/ExaMind.github.io/open-learning-exchange-sudarshan/#!./pages/firststeps.md#Step_0_-_Introductory_Steps) needs to be changed for better clarity. The sentence can be replaced with the following:

When you are on a repository, look for the Watch button at the top right of the page.

I am explicitly mentioni

[2017-09-12 13:36] bsocial commented on #1213
Looks good. Suggest a minor edit:

But either way works.

[2017-09-12 15:09] #1186 closed

[2017-09-12 15:25] ajGingrich commented on #1210
good catch. Go ahead and make the changes.

[2017-09-12 18:42] kylemathias commented on #1208
@ExaMind I am hesitant to say "go ahead and make the change" because this might of been a problem that you only came across. The fact that you found a work around on your own is great, and makes me lean more towards not adding a 3rd way.

We want to keep the wiki as small as possible. The wiki is already "To big" and needs some trimming.

[2017-09-12 18:42] #1208 closed

[2017-09-12 18:43] kylemathias commented on #1211
@ExaMind i agree. Go ahead and make the change and the pull request.

[2017-09-12 23:27] ExaMind opened #1223 "Minor typo in GitHub and Markdown page"
In the first sentence of Go to Settings and rename your repository section of the [GitHub and Markdown](http://open-learning-exchange.github.io/#!pages/githubandmarkdown.md) page, the second word is a typo. It should be you not your.

[2017-09-13 00:04] dogi commented on #1223
@ExaMind go for it ;)

[2017-09-13 03:25] jwill12 opened #1225 "BeLL-Apps Tutorial formatting issue"
BeLL Apps Communities & Nations (bellapps.md)

Different Kinds of Updates to your Community

[2017-09-16 06:26] xyb994 commented on #1210
Closing this as PR #1222 was merged.

[2017-09-16 06:26] #1210 closed

[2017-09-16 16:12] jwill12 opened #1228 "Formatting issue on Vagrant Tutorial"
The "Note" that reminds us what the command 'vagrant destroy' is capable of, should have a space formatted before the description begins. See below.

[2017-09-16 16:29] jwill12 opened #1229 "Formatting issue on BeLL Tutorial (Vagrant page)"
Fix formatting of issues when commands are brought up, on Vagrant page Tutorial

1.

-Rebuild the community BeLL following step 4
-etc....

Here 'vagrant destory' is mentioned, but we should `highlight to something like this`, to make it clear to users that this is a command.

2.

And here 'vagrant up' is mentioned, and again we should `highlight`, to make it clear to users.

[2017-09-16 16:36] jwill12 opened #1230 "Format issue on Tutorial (BeLL Communities & Nation page)"
Some other formatting issues on tutorial. Just want to highlight and make it clear when users see the "Update Available" and "Publications", they know its an instructional link to press.

[2017-09-16 17:41] xyb994 commented on #1203
Closing this as PR #1212 was merged.

[2017-09-16 17:41] #1203 closed

[2017-09-16 17:43] xyb994 commented on #1211
Closing this as PR #1220 was merged.

[2017-09-16 17:43] #1211 closed

[2017-09-17 06:12] #1223 closed

[2017-09-17 06:15] #1213 closed

[2017-09-17 06:19] xyb994 commented on #1228
Make sense, go ahead and make the PR.

[2017-09-17 06:24] xyb994 commented on #1229
Make sense, go ahead and make the PR.

[2017-09-17 16:52] ajGingrich commented on #1230
Where exactly are you planning on inserting/updating this text? Can you be more specific? I also don't think an update needs to be described because this is general knowledge.

[2017-09-18 06:37] #1230 closed

[2017-09-18 14:09] jwill12 opened #1234 "GitHub and Markdown instructions"
from `githubandmarkdown.md`

For some of the instructions on this page, lets format it **bold** to make it easier to follow around.

1.

Lets make **settings**, and the phrase **rename repo** bold, to make it easier for readers to follow around.

2.

Lets make **branch**, and **create branch** bold here.

3.

Lets make **pages/profiles** folder bold here.

[2017-09-19 02:46] #1234 closed

[2017-09-19 15:57] tarxv opened #1242 "Replace "Markdown Wiki" with "MDwiki" on GitHub and Markdown page"
[GitHub and Markdown](http://open-learning-exchange.github.io/#!pages/githubandmarkdown.md)
"Markdown Wiki" and "MD Wiki" are never used as alternative names for MDwiki by its developers.
It would be clearer to stick with MDwiki.

[2017-09-19 15:59] tarxv opened #1243 "Change inconsistent subtitle on GitHub Issues page"
[GitHub and Markdown](http://open-learning-exchange.github.io/#!pages/githubissues.md)
All titles are in present tense except "Making a new Branch".
It would be better to change it to "Create a New Branch".

[2017-09-19 16:00] tarxv opened #1244 "Rewrite unclear note on GitHub and Markdown page"
[GitHub and Markdown](http://open-learning-exchange.github.io/#!pages/githubandmarkdown.md)

Once again, it is very important to distinguish between your personal GitHub account and the Open Learning Exchange account. As we want to keep a 'clean' version of our code, everyone forks the repositories, commit their changes to their own personal version of the repository, and then send the changes bac

[2017-09-19 16:02] tarxv opened #1245 "Remove redundant comment on GitHub and Markdown page"
[GitHub and Markdown](http://open-learning-exchange.github.io/#!pages/githubandmarkdown.md)

This message is already at the top the image below.

[2017-09-19 18:02] kylemathias commented on #1242
Agree. Go ahead and make the changes and pull request.

[2017-09-19 18:03] kylemathias commented on #1243
Go ahead and make the changes and pull request.

[2017-09-19 18:06] kylemathias commented on #1244
@tarxv These are the changes i really like. Taking a large chunk of text and refining it to a concise and clear few sentences. Helps remove clutter and makes things easier to read and understand. Make the changes and the PR.

[2017-09-19 18:07] kylemathias commented on #1245
Go ahead and make the changes and PR.

[2017-09-19 23:11] bsocial opened #1251 "Pull Request Router Configuration Guide #1250"
How to guide to assign static IP to community and configure network devices.

https://raw.githubusercontent.com/open-learning-exchange/open-learning-exchange.github.io/routerconfig/pages/routerconfig.md

[2017-09-19 23:18] LKhadka opened #1252 "Add to Internship Orientation.md new way of branching as a member"

[2017-09-20 01:28] dogi opened #1253 "remove all absolute paths to open-learning-exchange.github.io"

[2017-09-20 16:00] jwill12 opened #1255 "Instructions on Github & Markdown page"
This page contains a list of insightful instructions for first time users, but lets make some of these instructions 'stick out' as we move along the page. This makes it easier to read compared to just reading blobs of text.

1.

Here lets `highlight the name of the page`, and bold the instructions, **Settings**.

2.

Again `highlight, the name of the page`.

3.

Bold **branch drop down** menu, and

[2017-09-21 13:13] #1251 closed

[2017-09-21 19:10] #1244 closed

[2017-09-21 19:24] #1243 closed

[2017-09-21 19:26] #1242 closed

[2017-09-24 13:49] #1245 closed

[2017-09-25 17:29] #1228 closed

[2017-09-25 17:29] #1229 closed

[2017-09-25 18:43] #924 closed

[2017-09-25 20:52] bsocial opened #1258 "MDwiki Restructuring Proposal"
Hi @/all,

As many of you know we are quickly adding support documents and how-to manuals for Tech Genius', and reworking existing Virtual Intern documents. Over the years many different people created document and image files.  As a result it is oven difficult or impossible to tell what purpose is served by a particular document or image. In short, the MDwiki has grown cumbersome and confusing. A

[2017-09-26 12:52] bsocial commented on #1258
As part of this effort I renamed most of the .md and image files. I have now touched nearly every .md page we have updating links to other pages and images. NOTE that I have not yet touched any of the profile pages. Those will likely need to be updated, too, as their locations have changed. The Members page will also need work as they have been broken out into two folders, ../techgenius/members/ a

[2017-09-26 13:22] bsocial commented on #1258
sorry - wrong path. ../techgenius/profiles/ and ../vi/profiles/

I looked at many of the member profiles. None of them needed updating for path issues related to the new structure.

[2017-09-28 18:22] bsocial commented on #1258
OK so... I have chased down many broken links and images. I think this is nearly ready to go. I would love to have input and/or to push it forward.

The last remain issue is how to treat the Virtual Intern section. Right now it includes both intern-on-boarding steps (first steps) and ongoing projects (Automated Testing, Crowdin Integration, Windows Installer, etc.). Likely these need to be broken

[2017-09-30 15:45] xyb994 opened #1261 "Update screenshot in "GitHub and Markdown""
[This screenshot](http://open-learning-exchange.github.io/pages/vi/images/vi-create-pull-request.png) in [GitHub and Markdown](http://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-markdown.md) is kind of confusing incoming virtual interns. See [this PR](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1202) and [this PR](https://github.com/open-learning

[2017-10-02 04:27] lmmrssa commented on #1258
@bsocial One thing i would like to have changed is regarding tablet setup which says that you need USB-A to USB-C for transferring file. I don't think all tablets have USB-C to use as OTP also it will require OTP enabled. So it would be better to either elaborate or give simple solution for that, like getting from some online store or by direct connection to PC.

[2017-10-02 12:00] jeshmaeric opened #1262 "insert video"

[2017-10-02 16:25] #1258 closed

[2017-10-04 19:04] amanuely opened #1266 "Step 0- Introductory Steps formatting issue"
If you look at the Step 0- Introductory Steps found  [here](https://open-learning-exchange.github.io/#!pages/vi/vi-first-steps.md)
You see that the formatting looks something like this.

Step 0- Introductory Steps
1) Send us your resume again ......
2) Create a GitHub account then watch....
1) We use Crowdin to translate our user interface ...

I think number 1 in the third line is a typo and it w

[2017-10-07 19:58] amanuely commented on #1266
@dogi
@xyb994

[2017-10-07 21:29] xyb994 commented on #1266
If you look at the [raw document](https://raw.githubusercontent.com/open-learning-exchange/open-learning-exchange.github.io/master/pages/vi/vi-first-steps.md), it is numbered `3.` It's actually rendered correctly in [GitHub's Markdown rendering](https://github.com/open-learning-exchange/open-learning-exchange.github.io/blob/master/pages/vi/vi-first-steps.md). MDwiki has some slightly different fla

[2017-10-08 07:35] thesiege208 opened #1269 "Fix Github link in Step 0 of "First Steps""
Under Step 0 of "First Steps" for virtual interns, there is:

The link for Leonard leads to a 404 page.

[2017-10-08 07:51] thesiege208 commented on #1269
Fixed. See PR [#1270](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1270).

[2017-10-08 07:51] #1269 closed

[2017-10-08 18:36] thesiege208 opened #1271 "Update vi "Track Progress" page"
* some minor formatting tweaks (extra spaces, capitalization, etc)
* add link to "First Steps" page for convenience
* update  step 3:

[2017-10-08 18:46] thesiege208 commented on #1271
Fixed. See PR #1272.

[2017-10-08 18:56] thesiege208 opened #1273 ""intern orientation document" under step 9 of "first steps" DNE"
This file does not exist and I can't find it (was it deleted or moved?).

[2017-10-08 22:48] amanuely commented on #1266
@xyb994  you are right, it is rendered correctly on Github's markdown rendering.

[2017-10-09 00:09] amanuely opened #1274 "Add more details to step 6- Clone your github repository username.github.io"
I think this [step](https://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-repositories.md) is very important for anyone who has  never used git . Therefore, adding a  more detailed instruction would be helpful.

I would add the following sentence  right after the screenshot

1) Create a new folder somewhere on your OS. Navigate to the folder using `cd`.

 Then after cloning the repos

[2017-10-09 08:01] thesiege208 opened #1276 "format/writing convention tweaks to vi faq page"
Just a few capitalization/spacing/formatting tweaks for better readability, as well as fixing the link to Q16 (currently does not work because link is missing a #).

[2017-10-09 08:55] thesiege208 commented on #1276
Fixed, See #1277.

[2017-10-09 09:07] thesiege208 opened #1278 "typos and redundancies in "git repositories" tutorial"
In the [tutorial](http://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-repositories.md), there are several typos and other minor errors, as well as a "Summary" and a "Summary of Steps" which seems redundant. I will fix the typos/errors and try to compress the two summaries into one comprehensive section.

[2017-10-09 10:11] thesiege208 commented on #1278
Fixed. See #1279.

[2017-10-09 16:25] amanuely opened #1280 "a link on bell installation instruction page doesn't work"
If you look at the very last line of   [this](https://open-learning-exchange.github.io/#!./pages/techgenius/tg-installation.md) page,  the  **configurations page** link doesn't work.

[2017-10-09 16:48] amanuely commented on #1280
fixed see PR #1281

[2017-10-10 01:25] amanuely opened #1282 "unnecessary linking"
On [this](https://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-repositories.md) page, under **Start Here** the summary of the steps are given as a link element.Those link elements don't work and I think the linking is unnecessary given that all the information is on the same page.

[2017-10-10 03:33] amanuely commented on #1273
@thesiege208 Good catch. I found the document and fixed the link. See PR #1283

[2017-10-11 16:54] bsocial opened #1287 "Conference Calling Intro"
I created this document to provide a brief introduction / background on conference calling via hangouts and/or other services. We seem to run into the same etiquette issues over and over - MUTE the microphone, etc. ;)

Would someone please troubleshoot the rawgit link for me? Can't figure out what I am doing wrong...

[See pull request 1286](https://github.com/open-learning-exchange/open-learning-

[2017-10-11 17:45] bsocial opened #1289 "TeamViewer Install / How To"
Created a document to walk TGs through teamviewer setup and sharing. [See PR 1288](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1288)

Same issue with my rawgit link. Someone school me please...

[2017-10-11 21:17] ajGingrich commented on #1289
How did you create the TeamViewer branch? I notice you don't have a TeamViewer branch of your github.io. I can't even get the firststeps to load in your rawgit

[2017-10-12 12:51] bsocial commented on #1282
The links are there for convenience. TOC / Anchor links.

[2017-10-12 15:06] amanuely opened #1291 "Nation Bell page broken link and additional comment on instruction"
If you look at the [Nation Bell page](https://open-learning-exchange.github.io/#!./pages/vi/vi-nation.md) under **Sync With the Nation** title the `step 4` link doesn't work.

Additionally, under **Introduction**   there  line  which says
Click here to access your Community BeLL,

 It would be nice to remind the intern to make sure the vagrant is running, otherwise, the link will break.

[2017-10-12 17:29] thesiege208 opened #1294 "update vi-faq Q10-Q17 (questions only)"
The link to Q16 is broken (missing underscores). Some words need to be capitalized/de-capitalized in the other "Technical Questions."

[2017-10-12 17:38] thesiege208 commented on #1294
Fixed, see #1295.

[2017-10-12 18:10] thesiege208 opened #1298 "update vi faq (answers only)"
Just some minor edits regarding punctuation, spelling, and capitalization.

[2017-10-12 18:17] thesiege208 commented on #1298
Fixed, see #1299.

[2017-10-12 19:41] Dashlorde opened #1300 "format of readme in mdwiki"
The format of readme.md need to be modified.

[2017-10-12 20:17] Dashlorde commented on #1300
fixed in #1301

[2017-10-13 18:02] Dashlorde opened #1303 "Typo in vi-faq.md"
Q16, repro should be repo.

[2017-10-13 18:29] Dashlorde opened #1305 "A picture can not be displayed on the page"
In [Router/LAN configuration page](http://open-learning-exchange.github.io/#!pages/techgenius/tg-router-config.md), a picture is missing.

[2017-10-13 19:07] Dashlorde opened #1307 "Some grammar errors in tg-library-management.md"
In the [library management](http://open-learning-exchange.github.io/#!pages/techgenius/tg-library-management.md),  _"Type the name name and description of the collection"_, there are two "name" .

[2017-10-13 20:38] Dashlorde commented on #1303
fixed, see [#1310](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1310)

[2017-10-13 20:39] Dashlorde commented on #1305
fixed, see [#1311](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1311)

[2017-10-13 20:40] Dashlorde commented on #1307
fixed, see [#1312](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1312)

[2017-10-13 21:00] Dashlorde commented on #1300
fixed in #1313.

[2017-10-14 20:19] aas919 opened #1316 "Vagrant troubleshooting"
Update the vi-vagrant.md page to troubleshoot the following error.

## Error
When you run vagrant up from command prompt on windows, you might get the following error :<blockquote>The executable 'curl' Vagrant is trying to run was not
found in the %PATH% variable. This is an error. Please verify
this software is installed and on the path.</blockquote>

## Solution
1. Add Cygwin bin folder to path

[2017-10-14 20:27] aas919 commented on #1316
![vagrant up error](https://user-images.githubusercontent.com/22779528/31579097-8d5598b6-b0fc-11e7-81d1-975c8b771f82.png)

[2017-10-14 22:59] aas919 opened #1318 "Broken link to vagrant.md"
The link to Vagrant instructions in Note of macOS and Ubuntu ONLY section at http://open-learning-exchange.github.io/#!pages/techgenius/tg-installation.md is broken and does not show up the correct page. It display Sorry, the page you are looking for doesn't exist. Go home

The link should refer to http://open-learning-exchange.github.io/#!pages/vi/vi-vagrant.md

[2017-10-14 23:33] aas919 opened #1320 "Add note after windows installation and before dependencies"
After windows installation using the given script, sometimes when the MyBeLL icon is clicked it opens firefox and shows error could not connect.

The solution is to add a note to do ``cd ole--vagrant-vi`` and ```vagrant up```  in the command prompt

[2017-10-14 23:59] aas919 opened #1322 "Broken link to FAQ"
The link to FAQ in Windows section at [Configuration Guide](http://open-learning-exchange.github.io/#!./pages/vi/vi-configurations.md) is broken and displays error Sorry, the page you are looking for doesn't exist. Go home when clicked.

The link should refer to http://open-learning-exchange.github.io/#!pages/vi/vi-faq.md

[2017-10-16 05:05] #1273 closed

[2017-10-16 18:56] Dashlorde commented on #1303
#1324

[2017-10-16 19:26] xyb994 opened #1325 "Use which profiles folder?"
A recent structure change moved original virtual interns' profile folder to [_pages/vi/profiles_](https://github.com/open-learning-exchange/open-learning-exchange.github.io/tree/master/pages/vi/profiles). Since tech geniuses and virtual interns share the same [First Steps](http://open-learning-exchange.github.io/#!./pages/vi/vi-first-steps.md) document, maybe we should use [_pages/profiles_](https

[2017-10-16 19:50] dogi commented on #1325
thanks @xyb994 - very good issue
@bsocial right now @MadagascarOLE and @dogi left the techgenuises in vi/profiles
but since you are the driver in the structure change wonder what you think ...

[2017-10-16 19:57] #1291 closed

[2017-10-16 20:01] xyb994 commented on #1325
@dogi I think by using _pages/profiles_ would cause less confusing and make shared documentation simpler, but it will need quite some files movement. Either way, http://open-learning-exchange.github.io/#!pages/vi/vi-github-and-markdown.md needs some update.

[2017-10-16 20:47] #1298 closed

[2017-10-16 20:53] #1294 closed

[2017-10-16 21:14] #1300 closed

[2017-10-18 03:11] amanuely commented on #1322
@aas919 Thanks for catching this issue. In the future, it would nice if you reference your PR number related to the issue in the comment section, once you resolve the issue.
e.g  see PR #1323

[2017-10-19 14:06] dogi opened #1329 "broken link"
In http://open-learning-exchange.github.io/#!./pages/vi/vi-configurations.md there is a broken link `FAQ`
is pointing to http://open-learning-exchange.github.io/#!./pages/vi/interns/vi-faq.md#Technical_Issues_and_Questions and should point to http://open-learning-exchange.github.io/#!./pages/vi/vi-faq.md#Technical_Issues_and_Questions

[2017-10-19 21:29] aas919 commented on #1329
@dogi The issue is already opened here https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/1322 and I have opened a pull request to fix it https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1323. Please review the same.

[2017-10-20 15:19] kylemathias commented on #1282
This issue was fixed https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1283

[2017-10-20 15:19] #1282 closed

[2017-10-20 15:22] kylemathias commented on #1261
@xyb994 Sounds like a fine fix. You can go ahead and make the changes, or a inspiring intern can.

[2017-10-20 15:23] kylemathias commented on #1262
yup? whats this about?

[2017-10-20 15:23] #1262 closed

[2017-10-20 15:31] kylemathias commented on #1266
@amanuely If you are still working on this go ahead and reopen this Issue.

[2017-10-20 15:31] #1266 closed

[2017-10-20 15:33] kylemathias commented on #1274
Are you still working on this? If so, reopen the issue.

[2017-10-20 15:33] #1274 closed

[2017-10-20 15:35] kylemathias commented on #1280
This was fixed. Closing it out.

[2017-10-20 15:35] #1280 closed

[2017-10-20 17:30] xyb994 commented on #1329
Closing this as PR https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1323 was merged.

[2017-10-20 17:30] #1329 closed

[2017-10-20 20:54] kylemathias commented on #1276
Closing this out. This was split into 2 different pull request to fix an issue. (#1295 #1299)

[2017-10-20 20:54] #1276 closed

[2017-10-20 20:55] kylemathias commented on #1271
This was fixed and merged #1272 . If you are going to re open the issue, let us know why next time.

[2017-10-20 20:55] #1271 closed

[2017-10-20 21:24] kylemathias commented on #1307
Was Fixed, closing it out.

[2017-10-20 21:24] #1307 closed

[2017-10-21 04:01] xyb994 opened #1332 "Indeed link not working again"
@dogi Maybe [https://www.indeed.com/cmp/Open-Learning-Exchange,-Inc./jobs](https://www.indeed.com/cmp/Open-Learning-Exchange,-Inc./jobs) is a more permanent link?

Need to fix at [two places](https://github.com/open-learning-exchange/open-learning-exchange.github.io/search?utf8=✓&q=https%3A%2F%2Fwww.indeed.com%2Fjobs%3Fq%3D%2522virtual%2520remote%2520software%2520engineer%2520intern%2522%26l%3DCam

[2017-10-21 20:43] #1322 closed

[2017-10-21 20:44] #1318 closed

[2017-10-21 21:14] xyb994 commented on #1261
Oh, I see why it looks like that in the original screenshot. Try "Edit comment" and you'll see...

[rawgit](https://rawgit.com/YourUserName/YourUserName.github.io/YourBranchName/#!pages/profiles/YourUserName.md)

[2017-10-23 16:43] kylemathias commented on #1303
Was fixed, Closing.

[2017-10-23 16:43] #1303 closed

[2017-10-23 16:43] kylemathias commented on #1325
Was changed and Merged. Closing

[2017-10-23 16:43] #1325 closed

[2017-10-23 18:45] #1316 closed

[2017-10-23 18:46] #1320 closed

[2017-10-23 18:52] kylemathias commented on #1332
@xyb994 Good fix. I say make the changes. or let some new Virtual interns take advantage of adding to there PR count.

[2017-10-23 18:53] kylemathias commented on #1322
Closing this, it seems this was fixed.

[2017-10-23 21:44] Dashlorde opened #1334 "Some grammar issues in the "Community Quick Install / Windows" page"
In step 2, "the" occurs twice.

[2017-10-24 06:13] #1305 closed

[2017-10-25 01:36] bsocial opened #1337 "RPi 3 Build Guide / How-To"
I am working on a how-to guide for the RPi 3 distribution. I made a start but it is missing some steps and needs some polish. Please see branch [RPi-How-To](https://github.com/open-learning-exchange/open-learning-exchange.github.io/tree/RPi-How-To).

[Find the rawgit here](https://rawgit.com/open-learning-exchange/open-learning-exchange.github.io/RPi-How-To/index.html#pages/techgenius/tg-rp3-insta

[2017-10-25 15:57] bsocial commented on #1337
I did not realize that I was creating branches on the master Repo. I will close and repost via my fork.

[2017-10-25 16:28] #1334 closed

[2017-10-26 13:01] lorugant opened #1339 "Step 1- Installation in Ubuntu"
In the Note section, the link to downloading the bash file for installation in ubuntu does not seem to be working. It is redirecting to "Sorry page does not exist". I think the path is wrong. It is directing to pages and then techgenius in the repository but there is no uploads in techgenius and the correct link directing to the bash file would be in the repo-pages-uploads-bashscripts-installation

[2017-10-26 17:02] kylemathias commented on #1339
Go ahead and make the fix. Create a Pull request.

[2017-10-27 20:28] bsocial commented on #1337
Submitted pull request for this how to. See PR #1341

[2017-10-30 23:16] dogi opened #1345 "investigate and maybe remove of file in profiles directory"
https://github.com/open-learning-exchange/open-learning-exchange.github.io/tree/master/pages/profiles

[2017-11-01 19:36] bsocial opened #1348 "Added RPi Guide to navigation.md"
See PR #1347

[Rawgit here](https://rawgit.com/open-learning-exchange/open-learning-exchange.github.io/add-rpi-navigation-md/index.html#!index.md).

[2017-11-07 19:32] lorugant opened #1350 "Helpful reminder to update repository before anything"
The note in blue section is very easy to get overlooked. Can we add a line about this in subsequent steps as a quick reminder to keep local repositories and github.io repository updated?

![screenshot from 2017-11-07 14-33-31](https://user-images.githubusercontent.com/32945884/32513637-b64cd8f4-c3c8-11e7-95dc-a01d17917231.png)

Like for example in such steps where we are making changes...
![screen

[2017-11-07 19:49] lorugant opened #1351 "Making reference to an existing issue"
Can I make a reference to the issue #1108 in the text as shown in below screenshot. Someone might get the same doubt as me. Let me know. Thanks!!
![screenshot from 2017-11-07 14-45-01](https://user-images.githubusercontent.com/32945884/32514301-971a734a-c3ca-11e7-8e28-a9721eb2c37b.png)
![screenshot from 2017-11-07 14-43-33](https://user-images.githubusercontent.com/32945884/32514307-9a43b6ee-c3ca-

[2017-11-07 19:57] lorugant opened #1352 "Add some reference profiles"
Should I add some reference profile links so that it would act as a guideline for future interns to create their profile in a more creative way rather than a basic one? Can we add links to top 3 profiles?

![screenshot from 2017-11-07 14-52-48](https://user-images.githubusercontent.com/32945884/32514734-e869bdfe-c3cb-11e7-98bb-031e51d3d55e.png)
![screenshot from 2017-11-07 14-54-30](https://user-i

[2017-11-08 17:51] kylemathias commented on #1350
the reason it is in blue is so people don't over look it. It might be more reasonable to assume that new interns should pay more attention to blue Notes rather than for us to state it twice.

If you would like, in the second picture you posted, you can try to condense the blue note and green hint into one useful note. We are always looking for ways to make our first steps more concise. If you can,

[2017-11-08 17:54] kylemathias commented on #1351
making a reference to the issue sounds fine. GO ahead and make the changes and a Pull request.

[2017-11-08 17:56] kylemathias commented on #1352
Thats a good idea. Go ahead and add some of our profiles as examples. Pick the best ones! 👍

[2017-11-10 20:16] lorugant opened #1355 "Condensing the note"
With reference to #1350, condensing the note and hint, Can we combine and write a note like

"Use git-branch to see which branch you are in. Master is the default branch and has to clean of all changes to revert back. Make sure you are on right branch using git checkout branch-name while making  changes and while committing."

![screenshot from 2017-11-10 15-15-39](https://user-images.githubuserco

[2017-11-10 21:00] kylemathias commented on #1355
👍 go ahead and make the change and PR.

[2017-11-15 04:46] #1348 closed

[2017-11-16 04:11] #1345 closed

[2017-11-18 17:07] yaoxing1990 opened #1359 "Installing issues on Windows 10"
The command used for installing Vagrant and VirtualBox is not working as expected. After installed, the virtual machine cannot be launched. The reason is that the Vagrant version and VirtualBox version are not the latest. After updating to the newest versions, the virtual machine can be launched normally.

[2017-11-18 18:14] yaoxing1990 opened #1361 "Issues with Vagrant tutorial"
In Troubleshooting part of Vagrant tutorial, for "no_db_found: issue", there is no need to use command "vagrant destroy", only "vagrant up" will work.

[2017-11-18 19:03] yaoxing1990 opened #1363 "Another installing issue on Windows 10"
For correctly installing of VirtualBox on Windows 10, except enabling virtual technology in BIOS, several things need to be done as well:
1. Before installing VirtualBox, enable Hyper-V in Control Panel - Uninstall a program - Turn Windows features on or off. Aftering installing VirtualBox, disable Hyper-V.
2. On the host operating system, click Start > Run, type gpedit.msc, and click Ok. The Loca

[2017-11-18 19:42] yaoxing1990 opened #1365 "Confusion in Github Issues Tutorial"
When someone finds a issue which does not require modification of the directory, the commit and push will not make any difference. So in order to deal with issue, another folder should be listed in main folder as "issues" and the description should be added into the folder.

[2017-11-20 06:06] #1365 closed

[2017-11-20 06:07] #1363 closed

[2017-11-20 06:07] #1361 closed

[2017-11-20 06:07] #1359 closed

[2017-11-20 18:36] yaoxing1990 opened #1367 "Installing command for Windows is out of date"
In step 1 - Installation page - Windows 8.1 and Above: After executing the command, the user is supposed to update VirtualBox and vagrant to newest version

[2017-11-20 19:24] yaoxing1990 opened #1369 "Markdown and Fork Tutorial: the path for profile should be updated"
The new path is pages/vi/profiles, not pages/profiles

[2017-11-20 19:45] yaoxing1990 opened #1371 "Nation BeLL tutorial : in step4, no survey is mentioned"
In "Sync With the Nation" part of Nation BeLL tutorial, the first sentence mentioned 3 kinds of updates in step4. Actually, there are only 2: updates and publications

[2017-11-20 20:20] yaoxing1990 opened #1373 "FAQ: Q3 link "here" refers to nothing"
When user click "here" in Q3 in FAQ, the page shows "no results"

[2017-11-20 20:43] kylemathias commented on #1367
@yaoxing1990 Im a little confused, Dose VirtualBox and vagrant prompt you to update to the newest version once you open it? I thought both of the scripts have you pull the latest download?

I haven't done a fresh install recently, so i could be wrong. Even if i am wrong, interns should understand already that when they work with software, they should be using updated software.

[2017-11-20 20:49] kylemathias commented on #1369
👍

[2017-11-20 20:58] kylemathias commented on #1371
Try to screen shot and circle the issue you are talking about. If you dont, anyone who is reading this issue has to go and find what you are talking about rather then focusing on if the change is necessary or not.

This would be the correct example for this issue:
![image](https://user-images.githubusercontent.com/26488295/33041133-20d9a0ca-cdf2-11e7-8e89-194664526909.png)

In the case of this Iss

[2017-11-20 20:58] #1371 closed

[2017-11-20 21:06] kylemathias commented on #1373
It could be that the internship posting was removed. Only make a change to the link of the Wiki if we have a definitive solution to exactly were the link should lead people.

[2017-11-20 21:07] yaoxing1990 commented on #1367
After I executed the command to install, the virtual machine cannot be launched. After I updated virtual box and vagrant to the newest version, the virtual machine can work normally.

Best Regards,
Xing Yao, MSCS student of UT Dallas
Github: https://github.com/yaoxing1990
LinkedIn: https://www.linkedin.com/in/xing-yao-34161878/
TEL: +1(917)478-2888

From: Kyle Mathias
Sent: Monday, November 20, 20

[2017-11-20 21:24] xyb994 commented on #1373
@yaoxing1990 See Issue #1332

[2017-11-21 18:29] yaoxing1990 opened #1375 "Should add "previous" and "next" navigation button in each step page"
In order to increase the feasibility of the wiki, a "previous" button and a "next" button should be added in each step details page.

[2017-11-21 18:43] kylemathias commented on #1375
a Previous and next buton would be fine, SO LONG as it brings you back to the [vi-first-steps.md](http://open-learning-exchange.github.io/#!pages/vi/vi-first-steps.md). There is some important information before you proceed to the next step. This "previous" and "next" button could bring you to the header of the next or previous step.

I would say go ahead and make the change.

[2017-11-21 18:46] yaoxing1990 opened #1376 ""Take the Course" part is not available"
![capture](https://user-images.githubusercontent.com/10969547/33090371-5ef583f2-ceb9-11e7-89e5-3166723f41ff.PNG)

In "BeLL-Apps: Communities and Nations" section, "Take the course" seems not available, from the screenshot above, after clicking "publications", there is no "course" available.

[2017-11-21 20:38] yaoxing1990 opened #1378 "Rawgit link cannot sync with github repository"
After the initial push, the rawgit link with the specific branch is permanently determined. The change of the later updates of github branch will not change the content in the rawgit link

[2017-11-21 20:41] yaoxing1990 commented on #1367
@kylemathias I got it. Before creating a new branch to do some changes, I should checkout master first and  then create the new branch from origin master.

[2017-11-21 20:53] kylemathias commented on #1378
This is correct. This is an issue with rawgit only caching the page once. Just make sure that when you create your rawgit, its ready for review.

[2017-11-21 20:53] #1378 closed

[2017-11-25 15:13] mappuji opened #1382 "Bad user experience to navigate to translation effort"
While I learning [open-learning-exchange.github.io](http://open-learning-exchange.github.io) wiki again until long time, I spot opportunity for improvement.

In here http://open-learning-exchange.github.io/#!pages/translators/la-introduction.md I think it would better if we put notes that say something like

Instead of need to navigate to top toolbar and click the translate of the choice. By the w

[2017-11-25 15:17] mappuji opened #1383 "Members for translator"
While I learning [open-learning-exchange.github.io](http://open-learning-exchange.github.io) wiki again until long time, I spot opportunity for improvement.

I think it is always good to attract people that specialized in translating stuff and create a hall of fame of members of translator. However for starting it is empty.

<img width="721" alt="screen shot 2017-11-25 at 10 10 00 pm" src="https:/

[2017-11-25 21:26] yaoxing1990 opened #1385 "Add "FAQ" tab in left panel"
One suggestion for main page of First Step: Because "FAQ" is important for user to refer when they have a problem, I suggest adding "FAQ" above "Step 0" in left panel.
![faq](https://user-images.githubusercontent.com/10969547/33234961-d7805322-d1f4-11e7-9493-ab1ecfea954d.PNG)

[2017-11-25 22:26] yaoxing1990 opened #1386 "Add "mailto:xxx@vle.org" in step 0 as a hyperlink"
Add "mailto:xxx@vle.org" in step 0 as a hyperlink so once user click the link, default email client will be launched.
![email](https://user-images.githubusercontent.com/10969547/33235383-3a2badc0-d1fd-11e7-82a5-89d2af17a9b6.PNG)

[2017-11-27 15:55] mappuji opened #1387 "Add https to open-learning-exchange.github.io"
GitHub provide https for free for any `*.github.io` static site, can admin here update the site in setting of repository to enable https? @dogi

[2017-11-27 16:56] kylemathias commented on #1382
This whole sections looks like it needs some clarification. I would suggest, if anyone wants to take on making this section easier to read and navigate meet with @dogi in a hangout to find out what the general message this section is trying to convey.

[2017-11-27 17:48] kylemathias commented on #1386
Sounds good to me. Make the changes and the PR.

[2017-11-27 17:50] kylemathias commented on #1385
FAQ is in the drop down above. If someone was looking for a solution, i would think the drop down would be a place they would look. I think its fine as is.

[2017-11-27 18:44] yaoxing1990 opened #1390 "Bugs in check progress feature"
![step8](https://user-images.githubusercontent.com/10969547/33283139-871a4064-d370-11e7-9a98-4e282595f6ef.PNG)
Click "here"
![hint](https://user-images.githubusercontent.com/10969547/33283155-9119a3f2-d370-11e7-8b40-d986743d2029.PNG)
Then after I click "Cancel", the following appears:
![cancel](https://user-images.githubusercontent.com/10969547/33283168-9c2046d4-d370-11e7-9c92-6eaf00bb4f6b.PNG)
An

[2017-11-27 20:15] xyb994 commented on #1369
PR #1370 merged

[2017-11-27 20:15] #1369 closed

[2017-11-27 20:31] xyb994 commented on #1386
PR #1389  merged.

[2017-11-27 20:31] #1386 closed

[2017-11-27 20:32] kylemathias commented on #1390
@yaoxing1990 i think it was just a place holder response. If you would like to make a change to add a proper response that would be a good change. Go ahead and make the PR and change.

[2017-11-27 20:58] xyb994 commented on #1367
`choco install vagrant --version=1.9.2 -y -allowEmptyChecksums`

– dogi in gitter chat channel

@yaoxing1990 Is everything working fine for you after the update?

[2017-11-27 21:16] yaoxing1990 commented on #1367
@xyb994 My vagrant version is 2.0.1 and my VirtualBox version is 5.2.0, and it is working as expected

[2017-11-27 21:41] xyb994 commented on #1367
@yaoxing1990 Thanks for the info. I don't have a Windows machine to try the latest version. So maybe we leave this for future interns to verify.

@dogi Could you see any of the issues you mentioned is fixed?https://github.com/hashicorp/vagrant/blob/master/CHANGELOG.md

[2017-11-27 22:21] xyb994 commented on #1367
@yaoxing1990 I talked with @dogi. Thank you for raising the issue. As this isn't really a documentation issue in our MDwiki. We'll open an issue in another repo and do more investigation on it.

[2017-11-27 22:21] #1367 closed

[2017-11-28 02:46] yaoxing1990 opened #1392 ""Return" link should navigate to "First step""
![return](https://user-images.githubusercontent.com/10969547/33300004-c1cb3eaa-d3b3-11e7-90a3-3887edac4adb.PNG)
[Check progress](http://open-learning-exchange.github.io/pages/vi/vi-track-progress.html)
After clicking "here", user will be navigated to Welcome page. However, it makes more sense to navigate the user to "First steps" page

[2017-11-28 18:28] kylemathias commented on #1392
👍

[2017-11-28 18:42] yaoxing1990 commented on #1392
@kylemathias #1393

[2017-11-29 07:24] yaoxing1990 opened #1395 "Possible misleading menu item"
![install](https://user-images.githubusercontent.com/10969547/33362920-d50c50ee-d4a3-11e7-970b-74c21a97e17a.PNG)
Although the menu item is for windows, the content actually seems a general guide for windows/mac/ubuntu

[2017-11-29 20:50] kylemathias commented on #1395
You could change it to just say "Community Installation". When you bring up issues, try to give a solution. go ahead and make the PR and changes.

[2017-11-29 21:02] yaoxing1990 commented on #1395
@kylemathias Thank for your suggestion. And here is the pull request: https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1397

[2017-11-30 21:19] bani890 opened #1399 "link inactive"
First step link is inactive in the FAQ.

[2017-11-30 22:37] bani890 commented on #1399
pull request for the issue #1400
 https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1400

[2017-12-01 04:28] #1392 closed

[2017-12-01 04:33] dogi commented on #1395
`c:/users/USERNAME/ole--vagrant-vi` is clearly windows one ...
anyhow in the case we change that

we would also have to change the filename and links linking to it

[2017-12-01 04:38] dogi commented on #1375
hmm this is a very difficult one to do right ...

[2017-12-01 05:00] yaoxing1990 commented on #1395
@dogi Fixed, See #1397

[2017-12-01 06:34] bani890 opened #1401 "Left navigation pane absent."
![capture md](https://user-images.githubusercontent.com/7533475/33470691-a9890f1c-d637-11e7-9187-8b66cdf361d1.PNG)

[2017-12-01 18:33] kylemathias commented on #1401
The left navigation pane is missing because there is no need for it in such small sections. Once headers are made for different sections in the page, then the MDWiki creates a navigation section.

[2017-12-02 02:44] #1401 closed

[2017-12-02 04:47] #1399 closed

[2017-12-02 04:50] bani890 opened #1403 "leftpane missing"
I am working on the#1402 again. I have closed the issue and trying to make the changes from a clean branch.

[2017-12-02 05:09] bani890 opened #1405 "Table overlapping"
![bh](https://user-images.githubusercontent.com/7533475/33511928-3d3e448c-d6f3-11e7-8fd9-b07a174a308c.PNG)

Because of the small size of the table, it overlaps with the left page anchor. The page below is also having the same problem.

![cap](https://user-images.githubusercontent.com/7533475/33511994-bfae1f18-d6f4-11e7-9bcf-3542b1716bf3.PNG)

* I   believe the ways to fix it are By changing the pl

[2017-12-04 17:14] kylemathias commented on #1405
@bani890 I agree overlapping tables are bad, but lets see how @dogi and other interns would want this to be fixed. This might be a bigger issue than just this page.

[2017-12-04 19:22] xyb994 commented on #1405
@bani890 What browser are you using? What's the screen size?

[2017-12-04 20:00] bani890 commented on #1405
@xyb994 my viewport size is 1280x615, I am using chrome.

[2017-12-05 20:55] #1390 closed

[2017-12-05 20:56] #1395 closed

[2017-12-07 02:58] #1403 closed

[2017-12-12 06:39] ddpatel6469 opened #1411 "Change needed of markdown link in step 3"
The markdown link should be http://EmilyLarkin.github.io/#!pages/vi/profiles/EmilyLarkin.md
instead of http://EmilyLarkin.github.io/#!pages/profiles/EmilyLarkin.md in step 3.

![screen shot 2017-12-12 at 1 26 17 am](https://user-images.githubusercontent.com/25786480/33870950-5c4fa580-dede-11e7-9ee6-f2d3c7a9b8e5.png)

[2017-12-12 17:39] kylemathias commented on #1411
sounds like a simple fix, go ahead and make the change.

[2017-12-12 20:57] ddpatel6469 opened #1413 "Last two links need to navigate in step 3"
Last two links are not able to navigate in GitHub and Markdown page of step 3....

![screen shot 2017-12-12 at 3 07 09 pm](https://user-images.githubusercontent.com/25786480/33908009-0750b89a-df55-11e7-8b9f-fbf297fc9089.png)

[2017-12-14 01:13] #1351 closed

[2017-12-14 01:15] kylemathias commented on #1413
What page is this?

[2017-12-14 02:19] ddpatel6469 commented on #1413
Last two links....

![screen shot 2017-12-13 at 9 18 28 pm](https://user-images.githubusercontent.com/25786480/33972305-3c3daa12-e04b-11e7-822c-041ca270ebe3.png)

http://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-markdown.md

[2017-12-14 22:23] kylemathias commented on #1413
fixing broken links is always helpful. Go ahead and make the changes and PR.

[2017-12-15 11:34] ddpatel6469 commented on #1413
Done with changes....
PR #1417

[2017-12-15 11:36] ddpatel6469 commented on #1411
Done with changes.
PR #1416

[2017-12-17 12:44] #1413 closed

[2017-12-19 22:22] thesiege208 commented on #1405
My laptop screen is bigger but I use Chrome and I can't replicate this issue. When I resize the window, the page elements properly shrink and move around to fit the new window size without overlap. Doesn't seem like there's anything wrong with the HTML/CSS.

[2017-12-24 03:05] kevinnerio opened #1422 "Link points to expired post"
'More information can be found here' link points to: https://www.indeed.com/jobs?q=%22virtual%20remote%20software%20engineer%20intern%22&l=Cambridge,%20MA

Would be better off pointing to the FAQ section of virtual interns tab

<img width="916" alt="redirect link" src="https://user-images.githubusercontent.com/19421857/34323981-fe8385fe-e813-11e7-86df-f6e6c483bbc9.png">

[2017-12-26 19:29] kylemathias commented on #1422
I think it is fine as is. I FAQ is more answering questions when you get stuck on steps in the first steps.

[2017-12-26 22:15] #1352 closed

[2017-12-27 05:54] kevinnerio commented on #1422
While this may be true about the FAQ section, it does provide more information about the internship. At least on my end, the indeed link points to a page that provides no information about the internship.
<img width="1277" alt="screen shot 2017-12-26 at 9 53 50 pm" src="https://user-images.githubusercontent.com/19421857/34372093-4996a9fc-ea87-11e7-98d4-5ef3f8ad38fa.png">

[2017-12-28 02:30] xyb994 commented on #1422
@kevinnerio see https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/1332, I recall asking @dogi on Hangouts and he said using https://www.indeed.com/cmp/Open-Learning-Exchange,-Inc./jobs is fine so you could go ahead and create a PR for this.

[2017-12-28 02:44] #1261 closed

[2017-12-28 20:52] kevinnerio commented on #1422
@xyb994 OK I see that https://www.indeed.com/cmp/Open-Learning-Exchange,-Inc./jobs is a different link than the one that was being used previously.

[2017-12-29 07:52] kevinnerio opened #1429 "Local_Branch has no upstream"
I think interns(new to github) would benefit from specifying that they should push changes from the new-feature-branch, through their master branch. I am not sure if this is the only way to `git push origin name-of-branch` but it sure did make it easier for me.

<img width="1268" alt="screen shot 2017-12-27 at 1 22 28 pm" src="https://user-images.githubusercontent.com/19421857/34432184-fb37e286-ec

[2017-12-30 22:11] kevinnerio opened #1430 "Clarification on git Diff"
Maybe add a screenshot of a real example for this git diff. Or even just a link to youtube video that shows a real example for those interns who actually want to use this command.

<img width="927" alt="screen shot 2017-12-30 at 2 08 17 pm" src="https://user-images.githubusercontent.com/19421857/34457632-40d26068-ed6b-11e7-8a55-ee5a72be9b1e.png">

[2017-12-31 05:34] yaoxing1990 commented on #1429
@kevinnerio Nice suggestion, make a pull request

[2018-01-02 18:17] kylemathias commented on #1430
I think the explanation is fin as is. Adding a video for a single git command would be over kill imo.

[2018-01-03 08:57] SamriddhiBasnet1 opened #1433 "To navigate rawgit"
how to navigate to the rawgit section

[2018-01-03 09:48] SamriddhiBasnet1 commented on #1433
https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1432
this is a link to issue 1433

[2018-01-03 18:25] kylemathias commented on #1433
What is this issue about?

[2018-01-03 18:56] #1411 closed

[2018-01-03 19:04] xyb994 commented on #1433
@SamriddhiBasnet1 Are you saying you are not sure how to find the rawgit link to preview your PR?
There's a link at https://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-markdown.md

https://rawgit.com/YourUserName/YourUserName.github.io/YourBranchName/#!pages/profiles/vi/YourUserName.md

[2018-01-04 17:10] TooManySpaces opened #1436 "Simple clarity error on tg-hardware-setup.md"
The sentence under "How do I Connect the Planet Hardware?"
Change the ",and" into a period, so it reads:
"The Planet system has two hardware configurations: Raspberry Pi and router configuration."

[2018-01-04 18:46] TooManySpaces opened #1439 "Formatting FAQ for file vi-faq.md"
Make the Answers under "General Internship Questions" inlined so they are a bit easier to read. Right now, it's a bit hard to tell where the question starts and ends off a glance.

For example:

#### Q1: What will I be working on during this internship?

OLE virtual interns will be helping develop OLE’s BeLL (Basic e-Learning Library) software. The BeLL is a virtual library that is deployed intern

[2018-01-04 18:54] TooManySpaces opened #1440 "Adding how to enable VT-x/AMD-V in the same paragraph in file vi-vagrant.md"
It mentions that VT-x/AMD-V needs to be enabled, but not how to do that. So it would be good to mention quickly how to do that. For example, instead of saying
"Before installing Vagrant on any platform, it is necessary to check if VT-x/AMD-V instruction set is enabled on your processor"
Say
"Before installing Vagrant on any platform, it is necessary to check if VT-x/AMD-V instruction set is enable

[2018-01-04 18:56] kylemathias commented on #1436
Sure, that sounds fine. You can make the change and PR.

[2018-01-04 19:06] HarikaKatragadda opened #1441 "Changes in the the dropdown heading"
I found that the first steps can be found in "virtual intern" tab and after adding to the intern team the other steps can be found under "Robots".
I suggest changing the "Virtual intern"  to "Aspiring Virtual Intern" or something related to the vetting process.
![image](https://user-images.githubusercontent.com/32993693/34579643-d1c74922-f157-11e7-9444-d63a366bd8f9.png)

[2018-01-04 19:43] TooManySpaces opened #1442 "Consistency in the Step formatting"
vi-first-steps.md has "Step 0 - Introductory Steps" while tg-install.md has "Step 0 | Introduction"

want to change vi-first-stepd.md into "Step 0 | Introductory Steps"

[2018-01-04 21:10] #1436 closed

[2018-01-05 15:35] BoazOngote opened #1443 "Broken link on the 'Chat' drop down - Virtual Interns"
The Virtual Interns Chat drop down on http://open-learning-exchange.github.io/#!pages/vi/vi-chat.md is not working or rather leads to no where. The drop down should be made available and working as the ones of **General Chat** and **Tech Geniuses**
![screenshot-2018-1-5 gitter not found](https://user-images.githubusercontent.com/10141520/34615686-d34a3274-f246-11e7-8606-a1fafce0ed94.png)

[2018-01-05 15:36] BoazOngote commented on #1443
The Virtual Interns Chat drop down on http://open-learning-exchange.github.io/#!pages/vi/vi-chat.md is not working or rather leads to no where. The drop down should be made available and working as the ones of **General Chat** and **Tech Geniuses**

[2018-01-08 20:17] xyb994 commented on #1443
These links are not broken, it's about authentication. "General Chat" is available because it's a open chatroom, you could see "Tech Geniuses" chat because you are part of that group. But I do agree this is kind of confusing so maybe there's something we could do to optimize it.

[2018-01-08 20:32] xyb994 commented on #1439
There's no way to indent a paragraph using Markdown element alone, we could probably use unordered list to make it easier to read? Let's see what other VI says.

<img width="1552" alt="screen shot 2018-01-08 at 3 31 45 pm" src="https://user-images.githubusercontent.com/7483137/34690959-16b98322-f489-11e7-9040-7adc86dd04ed.png">

[2018-01-08 23:04] kylemathias commented on #1442
sounds fine, go ahead and make the changes and the PR

[2018-01-08 23:08] kylemathias commented on #1439
I say make the changes and give us what it would actually look like so we can give a fair assessments to the change.

[2018-01-10 04:14] Jackbui96 opened #1449 "Wrong example rawgit link in vi-github-and-markdown"
Link for gitraw preview is wrong at First step -> Step 3 -> Create a new file as your personal MDwiki page and commit your changes.

![github and markdown](https://user-images.githubusercontent.com/15133304/34755529-6e18504e-f579-11e7-91b7-08153a68cdbb.png)

As its said to use this format:
https://rawgit.com/YourUserName/YourUserName.github.io/YourBranchName/#!pages/profiles/vi/YourUserName.md

Bu

[2018-01-10 18:37] xyb994 commented on #1449
@Jackbui96 Good catch, go ahead and create a PR

[2018-01-10 18:40] Jackbui96 commented on #1449
@xyb994 Okay i will work on it right away.

[2018-01-10 22:26] ofrank23447 opened #1451 "BeLLApp Course Grading Issue"
## BeLLApp Virtual Intern Course Grade Issue
I noticed that grades are given after each step in the Virtual Intern Course in BeLLApp.
However, it seems like there's something off about the grading.
If one sees at the red box that I highlighted, I have received 33% even though there were only two questions.
For future virtual intern course and other courses as well, there should be weights displayi

[2018-01-10 22:27] ofrank23447 commented on #1451
I know this is a minor issue, but I think this change will be beneficial for all the users.

[2018-01-10 22:43] dogi commented on #1451
I am very sorry @ofrank23447 but this issue you are raising has nothing to do with open-learning-exchange.github.io

[2018-01-10 22:43] #1451 closed

[2018-01-10 22:44] ofrank23447 commented on #1451
Okay, I understand.
Sorry for my misunderstanding

[2018-01-11 00:48] ofrank23447 opened #1453 "MD wiki issue"
Few days I ago, I tried writing a .md file as shown in Markdown example.
I attempted using bullet point syntax. It worked successfully via preview, but it did not work when switched to MDWiki page as noted in the pull request image.
Maybe, there should be a note that bullet point syntax is not compatible.

![image](https://user-images.githubusercontent.com/24216313/34803020-cf9834e0-f625-11e7-8dbf

[2018-01-11 05:46] TooManySpaces opened #1455 ""Why Vagrant" 404 link in vagrant.md file."
Want to update the link with this https://www.vagrantup.com/intro/index.html link.

[2018-01-11 17:03] kylemathias commented on #1453
Might be a better to change the entire picture to something that is correct rather than add a note.

[2018-01-11 19:32] Jackbui96 opened #1456 "Add "Back to top" link into faq page"
Want to add "Back to top" link after every question in faq page so that the user can easily navigate throughout the page.

Final product will be something similar to this
![jackbui96 github io-vi-faq md at master jackbui96-jackbui96 github io - mozilla firefox_019](https://user-images.githubusercontent.com/15133304/34843344-095f1d5e-f6c3-11e7-943d-ac102c56c440.png)

[2018-01-11 20:42] Jackbui96 opened #1457 "Link for "Markdown Tutorial" is dead"
Link for "Markdown Tutorial" is dead in: First Step -> Step 3: Markdown and Fork Tutorial -> GitHub and Markdown page. If we hit the link, the link will send us to the "404 not found page". I am thinking of using an alternative link for the link.

Here are some of the link that might be useful:
 * http://simpleprimate.com/jekyll-for-designers/blog/markdown-basics/
 * https://www.markdowntutorial.c

[2018-01-12 00:03] ofrank23447 commented on #1453
I tried many ways to do bullet list, but I could not find a solution to make it work.
I will try to find other issues with solutions

[2018-01-12 01:17] ketruong opened #1458 "FAQ: Q3 link is dead"
In Virtual Interns -> FAQ ->Q3:

<img width="1440" alt="screen shot 2018-01-11 at 8 11 53 pm" src="https://user-images.githubusercontent.com/22358168/34855088-c91237ec-f70b-11e7-905f-631fb4ad98d0.png">

The link in "More information about the internship can be found here." is dead.

<img width="480" alt="screen shot 2018-01-11 at 11 02 09 pm" src="https://user-images.githubusercontent.com/22358168

[2018-01-12 01:28] ofrank23447 opened #1459 "Markdown Wiki Reminder"
I had some trouble in the beginning since I relied on using Markdown preview option to see what I changed on my .md page.
I added a reminder and an example to future interns to check their changes with rawgit.
On the bottom, I added a section that says "Reminder"
![image](https://user-images.githubusercontent.com/24216313/34855483-cb7f2e0c-f6f4-11e7-87dc-241b95a20b41.png)

[2018-01-12 01:45] ofrank23447 commented on #1459
I fixed that spelling error to Markdown from Markdwon and also placed a what each code is (raw, preview, MDWiki). Ready to PR

[2018-01-12 03:12] ketruong opened #1461 "Bughunt link dead"
On the Automated Testing page, the Bug Hunt link in the "The Past" section is dead.

<img width="1440" alt="screen shot 2018-01-11 at 10 10 13 pm" src="https://user-images.githubusercontent.com/22358168/34858096-592f9dd2-f71c-11e7-8cc9-e9be3ccd1546.png">

The result of following the link
<img width="1440" alt="screen shot 2018-01-11 at 10 10 24 pm" src="https://user-images.githubusercontent.com/22

[2018-01-12 03:29] ketruong opened #1462 "Sample profile pages link dead"
In the Virtual Interns -> Github and Markdown page

<img width="1440" alt="screen shot 2018-01-11 at 10 24 48 pm" src="https://user-images.githubusercontent.com/22358168/34858483-a0db0a8e-f71e-11e7-8e60-35481d568c2f.png">

The link to the sample profiles in the note is dead

<img width="794" alt="screen shot 2018-01-11 at 10 59 08 pm" src="https://user-images.githubusercontent.com/22358168/3485928

[2018-01-12 03:30] ketruong commented on #1462
Link should go to https://github.com/open-learning-exchange/open-learning-exchange.github.io/tree/master/pages/vi/profiles

[2018-01-12 04:05] ketruong commented on #1458
The link should be changed to https://www.indeed.com/cmp/Open-Learning-Exchange,-Inc./jobs/Virtual-Software-Engineer-Intern-0d660f98f7710439?q=Open+learning+exchange

[2018-01-12 04:16] ketruong opened #1463 "Raspian Image Implementation Dead link"
In Robots -> Raspberry Pi -> How can I help section

The "our implementation" link is dead.

<img width="855" alt="screen shot 2018-01-11 at 11 12 01 pm" src="https://user-images.githubusercontent.com/22358168/34859627-75c4e494-f725-11e7-8dfd-5096bf4bb3c3.png">

[2018-01-12 23:27] ofrank23447 opened #1465 ""Why Install Vagrant link" is Not Available"
When clicked "Why Install Vagrant" under Vagrant step, it leads to a page that says "Page Not Found".
![image](https://user-images.githubusercontent.com/24216313/34899313-f5a7cf0a-f7ac-11e7-87d6-2606f215282e.png)

![image](https://user-images.githubusercontent.com/24216313/34899305-e3eef130-f7ac-11e7-9620-b6c45a781f0c.png)

So, I suggest taking the link down and attach https://24ways.org/2014/what

[2018-01-12 23:34] ofrank23447 opened #1466 ""Take the Course" Images/Explanation Required"
When I was taking the virtual intern quiz from BeLLApp, I was confused what course "it" was referring to from the following paragraph and had to ask dogi to make sure the quiz I was taking was the correct one:
![image](https://user-images.githubusercontent.com/24216313/34899442-c6bc0f16-f7ad-11e7-9a01-389a9b8834d7.png)

I request to add a screenshot of course page that virtual interns need to take

[2018-01-12 23:44] ofrank23447 opened #1467 ""Useful Links" under Github Issue section Improvement"
I strongly believe https://opensource.guide/how-to-contribute/ should be part of one of the links in Useful Links under GitHub Issue section.
The link discusses what are open source projects and importance of documentation.

[2018-01-13 01:41] xyb994 commented on #1465
This is a duplicate of #1455 and PR #1460 is already created.

[2018-01-13 01:41] #1465 closed

[2018-01-13 02:20] xyb994 commented on #1466
Yes, it would definitely be helpful if "Take the Course" is more specific. Personally I would avoid adding too many images to the guide, maybe simply add the course title with bold formatting somewhere in that section? What do other VIs think?

[2018-01-13 02:23] ofrank23447 commented on #1466
Instead of an image. I can list the steps to the course quiz. Let me know

[2018-01-13 02:42] xyb994 commented on #1463
Good catch, it was [updated recently](https://github.com/ole-vi/treehouse-builder/pull/213), the new link is https://github.com/ole-vi/treehouse-builder/blob/master/scripts.d/30_ssh_keys.sh, feel free to create a PR for that.

[2018-01-13 03:15] ofrank23447 opened #1468 "Example of Issue Confirmation"
Under Step8-Create Issues and Pull Requests, it talks about waiting for confirmation from OLE team members after creating an issue.  I think there should be another example link at the red line that shows an issue that shows the importance of waiting for confirmation by the team.
The link can be to this issue: https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/1465
!

[2018-01-14 03:58] ketruong commented on #1461
Found the correct link for bughunt

https://docs.google.com/document/d/1cLbduhSoH0y6JKxcgoKGXz_BkxEV2P0sv1FtbVQztR0/edit

[2018-01-14 06:24] xyb994 commented on #1468
Good point, but First Steps page probably shouldn't go into too much details.

Would it be better to address the duplicate issue problem at [Create an Issue](https://open-learning-exchange.github.io/#!./pages/vi/vi-github-issues.md#Create_an_Issue) in Step 8? Using a "Note" there might be able to catch aspiring virtual interns' attention. Additionally, we could probably bold the sentence before th

[2018-01-14 06:28] ofrank23447 commented on #1468
I can make the sentence before the red line bold and create a "Note" as you mentioned.
Let me know. I will modify and PR

[2018-01-14 06:49] ketruong commented on #1458
Continuation of #1422

[2018-01-14 06:55] xyb994 commented on #1458
@ketruong This is not the first time we run into indeed link broken. Replacing the link with `https://www.indeed.com/cmp/Open-Learning-Exchange,-Inc./jobs` would be a more permanent fix. As you can tell from [the link you posted](https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/1458#issuecomment-357137814),  `0d660f98f7710439` is random. It would change next time d

[2018-01-14 08:07] ketruong commented on #1458
@xyb994 I have made the change.

[2018-01-14 20:56] Jackbui96 opened #1480 "Remodel Git Repositories.md"
1. Some heading needs to be bigger. The headings are:
 * Clone with HTTPS or use SSH?
 * Configure a Remote Repository for your fork
2. Make a re-direct from the heading to the reading point.

So if the user want to read the header, the user can just click on the heading and it will jump to the corresponding place.

[2018-01-14 21:08] Jackbui96 commented on #1480
Prototype: https://rawgit.com/Jackbui96/Jackbui96.github.io/issue1480/#!pages/vi/vi-github-and-repositories.md

[2018-01-15 03:28] ybai8 opened #1481 "'Next' and 'Finish' buttons don't work in Virtual Intern Course Step-12"
Javascript or Node.js code may don't work. Please check.

[2018-01-15 03:55] ybai8 commented on #1481
Here is the image:
<img width="1216" alt="screen shot 2018-01-14 at 3 09 37 pm" src="https://user-images.githubusercontent.com/21957889/34926508-dc7756b8-f97d-11e7-88d6-f496fc081cbc.png">

[2018-01-15 05:31] xyb994 commented on #1481
What browser are you using? Could you provide some more information like error message in console?

[2018-01-15 05:34] xyb994 commented on #1456
Personally, I feel it looks a little "too much" to have "Back to top " after every single question. Moreover, another way to navigate back to FAQ list is to click one of the item on the left sidebar.

What do other VIs think?

[2018-01-15 14:06] ybai8 commented on #1481
I'm using firefox. Sometimes the buttons work, sometimes not. Please check the console.
<img width="1272" alt="screen shot 2018-01-15 at 9 03 03 am" src="https://user-images.githubusercontent.com/21957889/34946031-4b484a2a-f9d3-11e7-82d6-b77ebd3550fd.png">
<img width="1277" alt="screen shot 2018-01-15 at 9 02 56 am" src="https://user-images.githubusercontent.com/21957889/34946033-4d261282-f9d3-11e

[2018-01-15 14:25] ybai8 opened #1483 "Link format error"
page/vi/vi-github-and-markdown.md (line 97)
The first image is after I changed the link format, which is "pages/vi/profiles".
The original one is "pages/profiles/vi".

<img width="916" alt="screen shot 2018-01-15 at 9 14 06 am" src="https://user-images.githubusercontent.com/21957889/34946644-ac98a476-f9d5-11e7-9cae-92667af770f5.png">

<img width="927" alt="screen shot 2018-01-15 at 9 14 22 am" src

[2018-01-15 15:38] Jackbui96 commented on #1456
The "Back to top" here will not redirect the user to the top of the page, but rather to the list of questions. For example, the user finished reading question 3 of the general internship question. If the user was to click on the "Back to top", it will redirect the user to the top of the list of general internship questions, then the user can look at another question. Here is a prototype that I hav

[2018-01-15 16:15] ybai8 commented on #1483
I have fixed this error at here: https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1484

[2018-01-15 17:33] ybai8 opened #1485 "Hint of fixing 404 error when access <username>.github.io in Step-3"
<img width="866" alt="screen shot 2018-01-15 at 12 26 47 pm" src="https://user-images.githubusercontent.com/21957889/34954697-6d68bf1a-f9ef-11e7-9fe9-c03159511018.png">
When I tried to access my <username>.github.io the first time, I still have the 404 error for a long time. It didn't show up as the instruction said. So I tried to run git commands. I didn't change any files, just run git add . ,gi

[2018-01-15 18:24] ybai8 opened #1486 "Encourage interns to comment issues here in Step-8"
I found there are not enough comments on issues. How about encouraging interns to comment these issues instead of "Add comments to three other issues"? We can add "Your comments will help improve this MarkDown wiki clearer and better for future use." What do you think?
<img width="872" alt="screen shot 2018-01-15 at 1 11 10 pm" src="https://user-images.githubusercontent.com/21957889/34956123-c0fe0

[2018-01-15 18:26] xyb994 commented on #1459
- Instead of "Reminder", we better stick with one of [these](http://dynalon.github.io/mdwiki/#!gimmicks.md) alert box since they come with MDwiki, and I believe we  are mostly using `Note:` in our Markdown files.

- It might be a good idea to add some info about Markdown flavors. Something similar to this: As MDwiki site is what we use for "production." Please always check if everything renders as

[2018-01-15 18:39] xyb994 commented on #1483
This is duplicate of issue #1449, PR #1478 already opened.

[2018-01-15 18:39] #1483 closed

[2018-01-15 18:46] lorugant commented on #1456
@Jackbui96 I agree with @xyb994 . By clicking "General Internship questions" on the left side, we are automatically redirected to the top where all the questions are present.

[2018-01-15 18:59] kylemathias commented on #1457
Nice find. i would use the first link.

[2018-01-15 19:16] ofrank23447 commented on #1459
I can do it using Note:
And I will include as you mentioned.
Yes, I believe adding a link is better.
Let me know

[2018-01-15 19:22] kylemathias commented on #1467
You can add it if you like. But be aware that not everyone will read it.

[2018-01-15 19:40] #1461 closed

[2018-01-15 19:40] #1463 closed

[2018-01-15 19:42] #1462 closed

[2018-01-15 19:43] lorugant commented on #1466
@ofrank23447  yes. please list the steps and create a pull request

[2018-01-15 19:49] #1439 closed

[2018-01-15 19:49] #1449 closed

[2018-01-15 19:54] lorugant commented on #1468
@ofrank23447  Please make the changes and create pull request

[2018-01-15 19:54] #1458 closed

[2018-01-15 19:54] kylemathias commented on #1480
Those changes seem fine. I would go ahead and make a Pull Request for it.

[2018-01-15 20:00] #1455 closed

[2018-01-15 20:05] kylemathias commented on #1485
Part of the underlining processes with the first steps is figuring out things like this on your own. I would say it would be fine to leave this out of the first steps.

[2018-01-15 20:10] kylemathias commented on #1486
We want interns to actually add comments to other issues as part of the first steps process. This helps newer interns get used to our process.

[2018-01-15 20:17] xyb994 commented on #1459
Sounds good, open a PR for it so everyone could review.

[2018-01-15 20:18] #1442 closed

[2018-01-15 20:36] xyb994 commented on #1422
Fixed in PR https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1473

[2018-01-15 20:36] #1422 closed

[2018-01-15 20:59] xyb994 commented on #1441
@HarikaKatragadda Got word from dogi that we can change "Robots" to "Contributors"

[2018-01-15 21:09] xyb994 commented on #1457
+1 for http://commonmark.org/help/

[2018-01-15 21:30] ybai8 commented on #1486
Please check. I added "We want interns to actually add comments to other issues as part of the first steps process. This helps newer interns get used to our process." in the second paragraph of Step-8. Let me know if it is ok.
https://rawgit.com/ybai8/ybai8.github.io/issue1486/#!./pages/vi/vi-first-steps.md

[2018-01-15 22:07] ybai8 opened #1489 "Change adding images note"
I found in chat introduction, the adding images note is "To add images in the chat, just drag the image from your directory to the browser context and drop it in the messaging area or simply use Ctrl+C and Ctrl+V to paste your image", which is not the same with configuration page. Since CTRL-C and CTRL-V also can upload images, so how about changing the configuration page adding images note like t

[2018-01-15 22:33] ybai8 opened #1491 "Raspberry grammar and format error"
1. A small grammar error "So our main **concerns** at the moment is getting the RPI to connect to different connectivity options such as wifi/bluetooth/ethernet automatically. " has been edited.
<img width="705" alt="screen shot 2018-01-15 at 5 28 56 pm" src="https://user-images.githubusercontent.com/21957889/34964064-9d3faae4-fa19-11e7-9a02-1e66be48ea43.png">
2. I deleted the full stop after poin

[2018-01-15 23:07] ybai8 opened #1492 "Format error"
<img width="602" alt="screen shot 2018-01-15 at 6 01 22 pm" src="https://user-images.githubusercontent.com/21957889/34964912-35d214f0-fa1e-11e7-9640-4c19e4f848ea.png">
In robots/rbts-raspberry-pi.md page, **Building the image with treehouse-builder:** is not at the appropriate place. Please take a look.
Here is the rawgit link:
https://rawgit.com/ybai8/ybai8.github.io/issue1492/#!pages/robots/rbts

[2018-01-15 23:10] xyb994 commented on #1492
Good catch, go ahead and open a PR.

[2018-01-15 23:18] xyb994 commented on #1491
"getting the RPI to connect to different connectivity options" sounds like one problem to me. Can any native speaker point out if it should be "concerns" here?

Other than that, I wonder if it's better to say "So our main goal at the moment is to get ..."

[2018-01-15 23:27] Jackbui96 commented on #1456
I see, if that is the case then I will find another issue to work with.

[2018-01-15 23:30] ybai8 commented on #1491
This sounds good. I have made the change and created a PR

[2018-01-15 23:31] ybai8 commented on #1492
A PR has opened. Please check.

[2018-01-16 00:42] ybai8 commented on #1489
New rawgit link:
https://rawgit.com/ybai8/ybai8.github.io/issue1489/#!pages/vi/vi-configurations.md
The formal one doesn't work anymore

[2018-01-16 00:50] ybai8 commented on #1486
The newest rawgit link:
https://rawgit.com/ybai8/ybai8.github.io/issue1486/#!pages/vi/vi-first-steps.md
The formal one doesn't work anymore.

[2018-01-16 01:01] xyb994 commented on #1489
Nice catch, it's always good to be to consistent. Go ahead and make the PR.

[2018-01-16 05:27] ofrank23447 commented on #1467
https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1499

[2018-01-16 06:36] ofrank23447 commented on #1468
@lorugant @xyb994 https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1500

[2018-01-16 07:02] ofrank23447 commented on #1466
@lorugant @xyb994 https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1501

[2018-01-16 07:34] ofrank23447 commented on #1459
@xyb994 https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1502

[2018-01-16 08:01] BoazOngote commented on #1443
Okay 'General Chat' and 'Tech Geniuses' Chats work though the 'Virtual Interns' doesn't work....

[2018-01-16 17:35] #1456 closed

[2018-01-16 18:41] kylemathias commented on #1486
@ybai8 It looks and sounds fine, but i don't know if its necessary to put my exact words in step 8. What i said contradicts what i meant behind it.

[2018-01-16 18:56] kylemathias commented on #1486
I think the lack of comments on issues is not because we didn't mention it in step 8, its a combination of other factors (not many interns at the moment, people not wanting to comment).

[2018-01-16 18:58] ybai8 commented on #1486
That's fine. Thank you very much for answering! :)

[2018-01-16 18:59] #1486 closed

[2018-01-16 18:59] #1481 closed

[2018-01-16 19:00] #1485 closed

[2018-01-16 19:20] ybai8 opened #1504 "HTML resources page format error"
1. <img width="284" alt="screen shot 2018-01-16 at 2 14 20 pm" src="https://user-images.githubusercontent.com/21957889/35007414-a3ddfbea-fac7-11e7-81c9-6974d1e5604c.png">
The "Couchapp Installation" should be under Method 1, so I changed the format from "##Couchapp Installation##" to "###Couchapp Installation###", which is the same format with "Generating the Couchapp". It seems like this now:
<im

[2018-01-16 19:31] kylemathias commented on #1504
Looks good to me. Go ahead and create the PR.

[2018-01-16 19:54] kylemathias commented on #1443
The links for "Interns" and "Tech Genius" don't work for me. If you can find the correct working links for "Interns" and "Tech Genius" then go ahead and make the fix.

[2018-01-16 23:09] anagabriel42 opened #1506 "fix vagrant install for bash script"
![screenshot from 2018-01-16 15-05-49](https://user-images.githubusercontent.com/11947390/35016733-c6da2f2c-face-11e7-897f-6ad29abc95a0.png)

[code]
The `vagrant` package has been deprecated, and has to be installed using a different method.

I found a way to do it using the command line, using [this source](https://tutorialforlinux.com/2017/10/09/how-to-install-vagrant-ubuntu-17-10-artful-linux-e

[2018-01-16 23:23] anagabriel42 opened #1507 "Step 0 - small typo/syntax/inconsistencies"
![screenshot-2018-1-16 first steps](https://user-images.githubusercontent.com/11947390/35017219-b85ff3a8-fad0-11e7-9557-83b2eb4ba9cc.png)

The quotations are inconsistent:
- [x] maybe change them to either bold or back-ticks to add emphasis to the button titles.

![screenshot-2018-1-16 first steps 1](https://user-images.githubusercontent.com/11947390/35017298-13f5e506-fad1-11e7-9446-8a581302a21a.p

[2018-01-17 00:48] vishwakarmaanil opened #1510 "Add Member Page doesn't checks Email Constraints"
In Add member Page: Members are getting added with invalid Emails. For example, the usual format of email is something@abc.com but as you can see from the image below, The page registers users successfully without checking email format.
![](https://image.ibb.co/d4TmU6/3.png)

[2018-01-17 01:22] #1510 closed

[2018-01-17 01:23] xyb994 commented on #1459
@kylemathias @ofrank23447 My main concern is still that this page contain many images already. Since we already delivered the message that GitHub's preview might be different on MDwiki, in the end, the image seems not necessary to me.

[2018-01-17 02:02] ofrank23447 commented on #1459
@kylemathias @xyb994 Then, I can discard the image and combine that Note into one instead. Please let me know

[2018-01-17 08:02] vishwakarmaanil opened #1512 "Auto Install Script for Virtual Box version 5.0.10 does not work in windows 10 64 bit system."
The version of virtual box which is installed as a part of Auto Installation Script does not work in Windows 10 64 Bit system.
![](https://image.ibb.co/dembU6/4.png)
However, This problem can be fixed by overwriting or re installing other  versions of Virtual box such as 5.1.x.

[2018-01-17 10:23] BoazOngote commented on #1443
@kylemathias could you guide...

[2018-01-17 21:12] adepojubosun opened #1516 "Github and Markdown Page : External link to Github help page broken"
The external page link to GitHub help page for users with existing GitHub accounts is broken. The GitHub help page assists in setting up email and global settings for future commits and tracking issues. The link can be found [here](http://open-learning-exchange.github.io/#!pages/vi/vi-github-and-markdown.md). Broken link can be found in the note section of "Login to Github with your username and p

[2018-01-17 22:46] lorugant commented on #1457
@Jackbui96 I like the first one or something like https://guides.github.com/features/mastering-markdown/

[2018-01-17 23:27] #1467 closed

[2018-01-17 23:28] #1468 closed

[2018-01-17 23:34] kylemathias commented on #1506
do you only need to change the one line from this:
[code]
to

[code]
?

[2018-01-17 23:50] #1507 closed

[2018-01-17 23:55] #1516 closed

[2018-01-18 01:39] YangLou1 opened #1521 "Update Step 5 Git Repositories Page"
Under the section Summary of steps, there are two sentences need to be updated:
Clone your git \ repository and open your terminal window to it by using cd
Push the updates you just downloaded to your \ repository by using git push(info)

They symbol \ in these two sentences doesn't make sence, and it was produced by markdown syntax \<username\> in the file.

[2018-01-18 04:35] Teaganjzg opened #1523 "Scripts to Install the Community BeLL Window8.1 and Above Doesn't Work for Windows 10"
Scripts to Install the Community BeLL Window8.1 and Above Doesn't Work for my windows 10. I am not sure the reason, but I tried the script below which is for window 7 and above, it worked.

[2018-01-18 05:01] YangLou1 opened #1524 "Revise Git Repositories Page in Step 5"
Under Start here section, underscores inside "Clone_with_HTTPS_or_Use_SSH?" are unnecessary and may cause confusion.  "Clone with SSH" is more precise than "Use SSH", and "Clone with SSH" is also shown in the popup when clicking Clone or download button.

"Clone with HTTPS or Use SSH?" shows up under the section Clone Your GitHub Repository username.github.io as well.

[2018-01-18 05:07] YangLou1 commented on #1524
To make the sentence more clear, under the section Start here, we should change "Clone_with_HTTPS_or_Use_SSH?" into "Clone with HTTPS or Clone with SSH?"

Also, under the section Clone Your GitHub Repository username.github.io, we should change "Clone with HTTPS or Use SSH?" into "Clone with HTTPS or Clone with SSH?"

[2018-01-18 05:11] vishwakarmaanil commented on #1523
Refer https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1513

[2018-01-18 05:18] Teaganjzg commented on #1523
@vishwakarmaanil Thank you for your comment. I also had virtual box installation problems by running the script (window7 and above), but the first script was not running at all. Now all the installation problems are fixed. It is not a big thing, I am just wondering that if anyone knows the reason and maybe we can make some changes to the page helping others understand.

[2018-01-18 05:44] YangLou1 opened #1525 "Add Content under Step 2 Vagrant Tutorial Troubleshooting Section"
I run the Windows 8.1 and Above script to install all BeLL's Dependencies including VirtualBox and Vagrant.
I suspended my virtual machine using the command vagrant suspend. Then I issued the command vagrant up in order to restart my machine. However, I got an error message saying "Vagrant up: There was an error while executing `VBoxManage`, a CLI used by Vagrant". My OS is Windows 8.1.

[2018-01-18 05:48] vishwakarmaanil commented on #1525
Re installing other version of virtual box ( 5.1.x ) solves this problem. Don’t install 5.2 version of virtual box  since it is not supported by vagrant installations.

[2018-01-18 05:52] Teaganjzg opened #1526 "error from "sync with the nation""
I got an error from the "sync the nation", I followed all the instructions in Step 7. Does anyone know how to solve this? Maybe that is something we can add a note to this page.

<img width="883" alt="can t sync - step7" src="https://user-images.githubusercontent.com/31550461/35082767-d35dc7a8-fbd8-11e7-9b92-9d0901ae249e.PNG">

[2018-01-18 06:00] YangLou1 commented on #1525
I found the same error that someone was facing and its possible solutions at this link: https://github.com/hashicorp/vagrant/issues/1809.
I fixed the error by killing the process "VBoxHeadless" in Task Manager (Windows 8.1), and the command vagrant up worked afterwards.

We can add the following content under Step 2 Vagrant Tutorial Troubleshooting Section as the 4th item:
When you run vagrant up

[2018-01-18 06:08] Teaganjzg opened #1527 "Minor flaw in Step 7 - Nation Bell"
![image](https://user-images.githubusercontent.com/31550461/35083120-b06f43be-fbda-11e7-96a3-d8e1b8b58d21.png)

Actually, in Step 4 there is no survey to be updated, "you did" is kind of confusing, we can better use "you knew" instead.

[2018-01-18 06:21] YangLou1 opened #1528 "Change Step 3 Section Content on First Steps Page"
The instructions on the GitHub and Markdown page require future interns to post the following two links in the gitter.im chat:
https://YourUserName.github.io
https://rawgit.com/YourUserName/YourUserName.github.io/YourBranchName/#!pages/vi/profiles/YourUserName.md
![image](https://user-images.githubusercontent.com/35347763/35083762-b5ab43aa-fbee-11e7-9892-b16f5cbccf2f.png)

However, on First Steps

[2018-01-18 06:26] YangLou1 commented on #1528
Instead of "<username>.github.io and <username>.github.io/#!pages/vi/profiles/<username>.md", we can change the content in parenthesis into "https://YourUserName.github.io and https://rawgit.com/YourUserName/YourUserName.github.io/YourBranchName/#!pages/vi/profiles/YourUserName.md"

[2018-01-18 08:46] vishwakarmaanil opened #1530 "No Return to First Step Link at the bottom of Configurations page"
Here's the link for the page "http://open-learning-exchange.github.io/#!./pages/vi/vi-configurations.md". I think, it would be better if all the pages in the guide has a link to return to the first steps "http://open-learning-exchange.github.io/#!pages/vi/vi-first-steps.md". This would help user to return back to the actual the page after reading the information.

[2018-01-18 09:03] vishwakarmaanil opened #1531 ""Virtual Interns Gitter chatroom" link is dead (404 Error)"
Here is the link to the Page "http://open-learning-exchange.github.io/#!pages/vi/vi-first-steps.md".

![](https://image.ibb.co/ejPtSR/5.png)

The **"Virtual Interns Gitter chatroom"** link is not working.

[2018-01-18 09:16] vishwakarmaanil opened #1532 ""Markdown Tutorial" Link is Dead (404 Error Page)"
Here is the link to the page "http://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-markdown.md"

![](https://image.ibb.co/b6vgxR/6.png)

**"Markdown Tutorial"** link is not functional.

[2018-01-18 17:52] xyb994 commented on #1531
- The link is not dead, you are seeing 404 because "open-learning-exchange/interns" is a private room
- In this case, it make more sense to remove the link because aspiring virtual interns don't have access to it until they finish first steps

[2018-01-18 18:21] #1504 closed

[2018-01-18 19:54] vishwakarmaanil commented on #1531
Thanks for Updating me on this @xyb994.

[2018-01-18 20:11] kylemathias commented on #1532
go ahead and make the fix.

[2018-01-18 20:15] kylemathias commented on #1443
that's part of the process on fixing an issue 😃

[2018-01-18 20:51] vishwakarmaanil commented on #1532
@kylemathias Please check this Pull request https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1535

[2018-01-18 23:11] Jackbui96 commented on #1457
Ok I will create the PR right away. I just got back from my trip out of state, so that's why I am a bit behind of schedule.

[2018-01-18 23:51] xyb994 commented on #1530
@vishwakarmaanil Sure, go ahead and open a PR for that.

[2018-01-18 23:53] xyb994 commented on #1531
@vishwakarmaanil Sure, let us know after you update your pull request.

[2018-01-19 00:06] xyb994 commented on #1527
Good catch, it might be better if we say it this way:  "we showed your 3 kinds of updates that you might receive..."

[2018-01-19 00:09] xyb994 commented on #1526
Please provide more detail information about the problem. Some error message from console would be great.

[2018-01-19 01:06] #1459 closed

[2018-01-19 01:50] Jackbui96 commented on #1532
@vishwakarmaanil Hello, actually I am working on that issue right now.

[2018-01-19 05:13] vishwakarmaanil commented on #1531
@xyb994 Since it is a private room, I will create a pull to unlink the "Virtual Interns Gitter chatroom".

[2018-01-19 05:14] vishwakarmaanil commented on #1530
I already opened PR, waiting for the merge approval.

[2018-01-19 05:15] vishwakarmaanil commented on #1530
@xyb994
I already opened PR, waiting for the merge approval.
Please refer this link:  https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1533

[2018-01-19 05:16] xyb994 commented on #1531
@vishwakarmaanil You could keep work on https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1534 as well, maybe change the title of the PR.

[2018-01-19 05:20] vishwakarmaanil commented on #1531
@xyb994  Sure, I will update the pull https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1534

[2018-01-19 05:34] sente commented on #1531
., :

[2018-01-19 05:38] azywong opened #1543 "Virtual Interns FAQ Q16 clarification"
[faq](http://open-learning-exchange.github.io/#!pages/vi/vi-faq.md)  currently reads:

I already had a github.io with my username and the easiest method for me was to rename my original <username>.github.io repository to something else (for now) and then continue to follow the steps from the [github and markdown page](http://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-markdown.md)

[2018-01-19 16:04] xyb994 commented on #1543
I agree with you, go ahead and create a PR.

We can have the link to Q16 in "GitHub and Markdown - Go to Settings and rename your repository."

[2018-01-19 18:31] xyb994 commented on #1521
I believe the original intention was to escape the `<`, but it seems it won't work on MDwiki.

[2018-01-19 19:57] YangLou1 commented on #1521
@xyb994 I agree. The original intention was to show "<username>" instead of "\". I think the proposed changes in the previous comment is more clear and also consistent with previous sections on the page. Should I open a pull request to make the proposed changes?

[2018-01-19 21:57] xyb994 commented on #1521
Sure, I see you already have the PR for that. But in [item 3](https://github.com/YangLou1/YangLou1.github.io/commit/cde47ac2e35ecf84a0cbe7e01fab2268894f8a2b#diff-07304ab46110a37e2644ed71d0449181R182), maybe it's not necessary to mention the repository name again.

[2018-01-19 23:35] #1466 closed

[2018-01-19 23:35] #1453 closed

[2018-01-19 23:48] YangLou1 commented on #1521
@xyb994 I deleted the previous PR. Please review the new PR that doesn't mention the repository name in item 3.

[2018-01-19 23:55] xyb994 commented on #1521
@YangLou1 Thanks for the update. This is fine, but you could have kept working on the old branch, new changes will be reflected in the PR.

[2018-01-20 04:19] Teaganjzg commented on #1527
@xyb994 Thank you for your suggestion, can I make a PR on this?

[2018-01-20 04:38] Teaganjzg commented on #1526
@xyb994 That error message occurred when I tried to Sync with the nation. I checked on the nation side, the report shows that I've already updated. What do you think is the reason for this error message?

[2018-01-20 17:46] Ivaylo2017 commented on #1532
@vishwakarmaanil Hi bud. Why not link to [https://www.markdowntutorial.com](https://www.markdowntutorial.com/) instead?
[http://mdp.tylingsoft.com](http://mdp.tylingsoft.com ) seems to be the site of "Markdown Plus" editor

[2018-01-20 20:13] Jackbui96 opened #1559 "Update rbts-takehome-android-studio-setup.md"
It said to Download the JDK 8 version. But currently, the most up-to-date JDK is the JDK9 version. Should we change this to "Download JDK 9"?
![android studio setup - mozilla firefox_025](https://user-images.githubusercontent.com/15133304/35187599-4bb85ff2-fddb-11e7-83a9-b7fc1b139bf6.png)

[2018-01-20 20:18] Jackbui96 opened #1560 "rbts-takehome-emulator-setup.md"
Want to make an update on how to create Device Emulator in case the new intern is using AMD chip.

[2018-01-20 20:24] xyb994 commented on #1532
@Ivaylo2017 Thanks for catching the problem.

http://tylingsoft.github.io/tutorial.md/#whats-markdown looks more like the "original" one. See archive here: https://web.archive.org/web/20170425051003/http://tylingsoft.com/tutorial.md/

@Jackbui96 @vishwakarmaanil Our bad didn't notice you both raised the same issue and it end up like this. @Jackbui96 [raise the issue first](https://github.com/open-

[2018-01-20 20:27] xyb994 commented on #1532
Closing this, duplicate of #1457

[2018-01-20 20:27] #1532 closed

[2018-01-20 20:31] Jackbui96 opened #1561 "Adding pictures into "rbts-takehome-device-setup.md" file"
I want to add some picture into the guide so that it is easier to follow. Since the page is mostly written words, by adding some pictures it will be easier to follow.

![android device setup - mozilla firefox_026](https://user-images.githubusercontent.com/15133304/35240434-4e009cf0-ff68-11e7-8f39-f65978cca46a.png)

Link: https://open-learning-exchange.github.io/#!./pages/robots/rbts-takehome-devic

[2018-01-20 20:54] Ivaylo2017 opened #1562 "Links under Steps in vi-first-steps.md redirect to bottom of pages"
When virtual interns click on links under any of the First Steps in [vi-first-steps.md](http://open-learning-exchange.github.io/#!pages/vi/vi-first-steps.md) the next page loads at the mid-section or at the bottom and they have to scroll all the way up to start reading.

[2018-01-20 20:57] Ivaylo2017 commented on #1562
Adding an anchor with id matching the top header of the other file could solve this problem as explained in [this stackoverflow](https://stackoverflow.com/questions/6695439/how-to-link-to-a-named-anchor-in-multimarkdown)

[2018-01-20 21:05] CindyPSU opened #1563 "Content Editing Needed on GitHub Issues Page"
The wording needs to be edited on the GitHub Issues Page in the last paragraph of the Introduction section. See attached image noting the suggested changes. Strikethroughs note the removal of content and the dialog symbol denotes the replacement wording suggestion.
![githubissuespageeditsuggestion](https://user-images.githubusercontent.com/35432613/35187979-e6df1b9c-fdea-11e7-9cd2-50433e42dfc3.png

[2018-01-20 21:07] CindyPSU commented on #1563
Neglected to provide the GitHub Issues Page Link http://open-learning-exchange.github.io/#!./pages/vi/vi-github-issues.md

[2018-01-20 22:00] Ivaylo2017 opened #1564 "Redundant text in vi-faq.md"
The last part of the sentence in [vi-faq.md](http://open-learning-exchange.github.io/#!./pages/vi/vi-faq.md) is redundant:
![edit](https://user-images.githubusercontent.com/29740759/35188392-8817c7ae-fe02-11e7-9539-c016d9711fd7.png)

[2018-01-20 23:02] #1480 closed

[2018-01-20 23:46] xyb994 commented on #1563
@CindyPSU Thanks for catching the repetitive content, looks good, go ahead and create a PR.

[2018-01-21 01:32] CindyPSU commented on #1563
PR #1566 submitted.

[2018-01-21 01:51] CindyPSU commented on #1528
Good catch! I was going to add an Issue for this until I caught yours. This was definitely confusing wording/content working through the "First Steps". Clear guidance and wording is crucial. I really thought I had missed something during this step.

[2018-01-21 01:53] CindyPSU commented on #1527
@xyb994 I believe there is a typo in your suggested text. I think it should read "we showed you 3 types of updates that you might receive..." I think the "your" should be replaced with "you" and instead of "kinds", "types" might work better for clarity here. Just a suggestion.

[2018-01-21 01:55] CindyPSU commented on #1524
I think the change in wording is a good suggestion, much clearer than the current.

[2018-01-21 04:59] CindyPSU opened #1567 "Clarification Needed for Step 0 - Introductory Steps"
On the "First Steps" page http://open-learning-exchange.github.io/#!pages/vi/vi-first-steps.md, "Step 0 - Introductory Steps" section, list item 3. for Crowdin.

The second sentence states, "If you know another language, go to this Crowdin link to join Crowdin by creating an account." This is almost hidden information because it is not specifically called out to intern candidates as being _optiona

[2018-01-21 05:18] CindyPSU opened #1568 "Exit Button in BeLL Resource Feedback Page"
While testing my Resource Additions to the BeLL Library, I noticed that when I select a Resource that I wish to view, view it, but then wish to Exit the Resource Page, the Exit Button does not work. Screenshot included with red circle drawn around the referenced Exit Button.

![exitbutton](https://user-images.githubusercontent.com/35432613/35191120-b633e1b8-fe2f-11e7-8399-5ca06c743f7a.png)

Once c

[2018-01-21 05:21] CindyPSU commented on #1568
I just realized that I probably should have submitted this bug/issue within the Feedback Option of the BeLL App, correct? If so, I will resubmit this issue through the proper channel. Just want to confirm before deleting/canceling this Issue.

[2018-01-21 05:43] CindyPSU opened #1569 "Content Edit of Nation BeLL Dummy User"
It is clear that a user must create a Dummy User in order to sync the Community with the Nation; however, the Dummy User Screenshot Example is a little confusing and it does not convey _Required_ fields. Recommended changes to the Dummy User Example are in the included screenshot.

![adddummyuser](https://user-images.githubusercontent.com/35432613/35191240-461d8100-fe33-11e7-913e-a1925d0470b2.png)

[2018-01-21 06:12] CindyPSU opened #1570 "Clarification Needed for Step 6 - GitHub Issues"
The "Create an Issue" section on the GitHub Issues page (http://open-learning-exchange.github.io/#!pages/vi/vi-github-issues.md) has some wording that needs to be clarified in order to prevent issues with intern candidates creating issues and working on them before they are reviewed and approved for action. Wording that needs clarification is highlighted in yellow in the screenshot below.

![creat

[2018-01-21 09:04] vishwakarmaanil opened #1571 "Formatting is not consistent with the page"
The formatting(Styling) of the contents are different from other contents.

![](https://image.ibb.co/gwvATb/11.png)

Please refer this Link: http://open-learning-exchange.github.io/#!./pages/vi/vi-vagrant.md

[2018-01-21 16:15] Ivaylo2017 opened #1572 "Inaccurate command need fix in vi-github-repositories.md"
In Summary section in [vi-github-repositories.md](http://open-learning-exchange.github.io/#!./pages/vi/vi-github-and-repositories.md) item 13 is inaccurate:
![issue](https://user-images.githubusercontent.com/29740759/35196161-4ced4f60-fe9c-11e7-8428-8e2201b384d5.PNG)

`git status` should be used to check if branch is up-to-date with your github repo branch.
`git checkout <branch_name>` is primaril

[2018-01-21 16:17] Ivaylo2017 commented on #1572
My suggested solution is to add another item in the list to not only fix the issue but to provide reference to one more useful command.

[2018-01-21 16:40] Ivaylo2017 commented on #1560
@Jackbui96  Please make your issues more specific. For example a link to that page and/or image of the section in document would be very helpful for the rest of us to understand what exactly the issue is.

[2018-01-21 16:48] Ivaylo2017 commented on #1561
@Jackbui96 The issues that we are documenting need to have 2 parts:
1. Present a specific issue (use markdown and links! please)
2. Propose a solution as a comment.

Since the final solution may be different from your initial suggestion - it's good to keep it as a comment in the issue's thread. I hope this helps!
Cheers

[2018-01-21 16:56] Ivaylo2017 commented on #1570
I agree with Cindy. It's not very clear if we should make the pull request while waiting for approval for our issue. An emphasis at the exact point in these steps where prospect interns need to wait can be helpful.

[2018-01-21 17:58] adepojubosun opened #1573 "Planet Quick Start Manual Page : Remove Intradocument Hyperlink"
Jump-to links in hardware setup page(techgenius) are unnecessary as they are already available in the side menu. They are simply repetitions of the sidebar menus for intradocument linking. Also, the links are broken and do not work. They should not be fixed as those links are already provided in the side menu. The link can be found [here](http://open-learning-exchange.github.io/#!pages/techgenius/

[2018-01-21 18:14] adepojubosun opened #1574 "Tg-Hardware-Setup Page : Clarification of image location"
The instructions for setting up hardware have wrong misdirection of the image location. In the "How do I connect the planet Hardware?" section, it's stated that the image for RPI with case is on the right which is wrong. Also, the location of images for Ethernet Cable and USB cable is wrong.

[2018-01-21 18:23] adepojubosun commented on #1574
This might cause problems for users who have no preliminary basic hardware knowledge. Link can be found [here](http://open-learning-exchange.github.io/#!pages/techgenius/tg-hardware-setup.md).

[2018-01-21 22:42] YangLou1 opened #1575 "Update Step 1 Configuration Guide Page"
When I clicked on the "Register" button, I didn't get the "Successfully registered." popup (see below):
![image](https://user-images.githubusercontent.com/35347763/35199818-9eacbaae-fed1-11e7-9058-4401d9881b0b.png)

Instead, I instantly got "Registration request has been accepted." popup (see below) and didn't need to wait for an admin to accept my registration request, which cause confusion.
![im

[2018-01-21 23:00] YangLou1 commented on #1575
**We firstly should delete the following image:**
![alt text](http://open-learning-exchange.github.io/pages/vi/images/vi-success.png)

**Then rewrite the relevant content as following:**
Then, click on the "Register" button. Your registration request for your community will be automatically accepted from the nation side. You will see the following message.
![alt text](http://open-learning-exchange

[2018-01-22 01:07] YangLou1 opened #1576 "Revise Take the Course Section"
See below for the result after following this instruction: "To get to Publications, click on "Manager" from the dashboard, then the publications button." It's not relevant to Take the Course Section.
![image](https://user-images.githubusercontent.com/35347763/35201062-ec22b4dc-fee5-11e7-854c-bcc7d0ea6d42.png)

Also, it's more helpful to add an image to show Take the Course steps to future interns.

[2018-01-22 01:11] YangLou1 commented on #1576
We should delete this sentence: "To get to Publications, click on "Manager" from the dashboard, then the publications button.", and add the following image after the three **STEPS** items.
![ole course](https://user-images.githubusercontent.com/35347763/35201165-24747680-fee7-11e7-8b13-05cdf79ee885.png)

[2018-01-22 14:53] xyb994 commented on #1527
@CindyPSU Sure, that sounds better. Thanks for catching my typo.
@Teaganjzg Yes, you can go ahead and create a pull request.

[2018-01-22 16:03] xyb994 commented on #1574
@adepojubosun Thanks for catching the error, go ahead and create a PR.

Document about how to group images in MDwiki: https://dynalon.github.io/mdwiki/#!quickstart.md%23Images

[2018-01-22 16:05] xyb994 commented on #1573
@adepojubosun Thanks for catching the problem, go ahead and create a PR for that.

[2018-01-22 16:23] xyb994 commented on #1440
Closing this as PR #1446 was merged.

[2018-01-22 16:23] #1440 closed

[2018-01-22 16:24] #1385 closed

[2018-01-22 16:25] xyb994 commented on #1373
Fixed in PR #1473.

[2018-01-22 16:25] #1373 closed

[2018-01-22 16:33] lorugant commented on #1562
@Ivaylo2017 It seems that links are loading and directed to the top. Anyway, please make the changes and create a PR so that it can be reviewed.

[2018-01-22 17:27] lorugant commented on #1528
@YangLou1  Please make the changes and create a PR. @CindyPSU Thank you for your attention. Please create issues if you feel anything needs to be changed!!

[2018-01-22 17:32] ybai8 commented on #1571
Can you please provide a rawgit link? Thanks

[2018-01-22 17:33] kylemathias commented on #1525
I would say a fix is in order for this problem, but i don't think the problem is best fix by adding a solution to when something goes wrong. Try to fix the original install process instead.

[2018-01-22 17:33] lorugant commented on #1524
@YangLou1 Please make the changes and create PR

[2018-01-22 17:40] ofrank23447 commented on #1576
Okay, adjust the changes and open a PR.

[2018-01-22 17:40] i5o commented on #1387
https://open-learning-exchange.github.io/#!index.md

[2018-01-22 18:45] xyb994 commented on #1489
Closing this as #1497 was merged.

[2018-01-22 18:45] #1489 closed

[2018-01-22 19:05] #1289 closed

[2018-01-22 19:07] YangLou1 commented on #1528
@lorugant Please check the PR, thanks.

[2018-01-22 19:08] xyb994 commented on #1287
@dogi, can we put [Conference Calling](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1286/files) under robots/resources?

[2018-01-22 19:08] #1332 closed

[2018-01-22 19:11] xyb994 commented on #1433
@BasnetSamriddhi @SamriddhiBasnet1 Could you please clarify the issue?

[2018-01-22 19:16] xyb994 commented on #1491
Closing this as ##1496 was merged.

[2018-01-22 19:16] #1491 closed

[2018-01-22 19:17] xyb994 commented on #1492
Closing this as #1495 was merged.

[2018-01-22 19:17] #1492 closed

[2018-01-22 19:43] xyb994 commented on #1526
@Teaganjzg That's why I was asking for error message in browser's console. But assuming you've already closed the window at this time. If you could replicate the problem again and get any error message from console would be great.

[2018-01-22 19:46] YangLou1 commented on #1524
@lorugant I have made the changes and please check the PR.

[2018-01-22 20:04] Jackbui96 commented on #1561
@Ivaylo2017 Thank you very much for your feedback, I will pay more attention to how to make my issue more clearer.

[2018-01-22 20:09] YangLou1 commented on #1576
@ofrank23447 I have made the changes and please check the created PR.

[2018-01-22 20:39] xyb994 commented on #1559
@Jackbui96 Make sense, but the best is to confirm with @leomaxi and @open-learning-exchange/mobile

Found the note about Mac might need to be updated too: http://tools.android.com/tech-docs/configuration/osx-jdk

[2018-01-22 20:45] xyb994 commented on #1564
@Ivaylo2017 Make sense, go ahead and create a PR.

[2018-01-22 20:45] Jackbui96 commented on #1559
@xyb994 Thank you for your reply, I will send this issue to @leomaxi for revision in the Gitter chat. Also, since I don't know much about Mac OS (I don't own one), I don't think I can make the update for that part. Let's that be an opportunity for other VI. Anyway, thank you for pointing that out for me and the others to know.

[2018-01-22 21:11] adepojubosun commented on #1571
The only problem I can see is the typographical error in instructions.

[2018-01-22 21:14] xyb994 commented on #1571
Thanks for bringing it up, make sense to remove `-` and `>` here for consistency.

https://raw.githubusercontent.com/open-learning-exchange/open-learning-exchange.github.io/master/pages/vi/vi-vagrant.md

[2018-01-22 21:23] xyb994 commented on #1575
Make sense, go head and make a PR.

[2018-01-22 22:12] adepojubosun opened #1582 "Troubleshooting Information is ambigous : tg-router-config.md"
Information doesn't say to specifically restart configuration process after resetting router to factory default. There's only "start again" in a new paragraph with no link or information available. Issue can be found [here](http://open-learning-exchange.github.io/#!pages/techgenius/tg-router-config.md).

[2018-01-22 22:13] adepojubosun commented on #1582
I suggesting specifying more instructions after resetting the router and linking to initial steps. Gives more information on what to do after router factory reset.

[2018-01-22 23:03] vishwakarmaanil commented on #1530
@kylemathias I had to close that PR and delete the branch because it was causing some merge issues with other branches. This was because I accidentally merged my changes to master branch and was not able to revoke those changes due to which I had to restart with the clean copy of everything and create PR's from the start. Sorry for this confusion Kyle.

[2018-01-22 23:07] xyb994 commented on #1582
Good suggestion, go ahead and create a PR.

[2018-01-22 23:07] vishwakarmaanil commented on #1571
@xyb994 Thanks for the suggestion, should I create a PR reflecting these changes?

[2018-01-23 00:09] YangLou1 commented on #1575
@xyb994 Changes have been made. Please check the PR.

[2018-01-23 00:50] xyb994 commented on #1572
@Ivaylo2017 Are you suggesting adding `git status` and move the note you highlighted there?

[2018-01-23 00:55] xyb994 commented on #1569
@CindyPSU Sure, go ahead and create a PR to replace the screenshot.

[2018-01-23 01:07] xyb994 commented on #1567
@dogi Could you help clarify this?

[2018-01-23 01:21] xyb994 commented on #1568
@CindyPSU You are right, this is something separate from the github.io repo.

A side note, we are moving towards the next iteration of BellApps https://github.com/ole-vi/planet.

[2018-01-23 01:51] CindyPSU commented on #1568
@xyb994 Thank you! I thought so, I will close this issue and submit an Issue in BeLL.
Thanks for the heads up on the next iteration. Good news!

[2018-01-23 06:13] CindyPSU commented on #1569
Fixes completed. PR #1585

[2018-01-23 06:17] CindyPSU commented on #1568
Feedback submitted in MyBeLL Apps for bug. Closing this Issue since it is not MDWiki related.

[2018-01-23 06:17] #1568 closed

[2018-01-23 06:25] CindyPSU commented on #1563
PR #1566 Merged. 22 Jan 2018

[2018-01-23 06:25] #1563 closed

[2018-01-23 06:33] CindyPSU opened #1586 "Spelling Error on Git Repositories Page"
While reviewing the Git Repositories page "Summary", I noticed two spelling errors with the word "repository". See the highlights in the screenshots below. They just need to be fixed.

![gitrepositorysumerror](https://user-images.githubusercontent.com/35432613/35261239-8889cf54-ffcc-11e7-8ab3-60036a2fc919.png)

[2018-01-23 06:49] ketruong commented on #1586
Good catch. Make a PR.

[2018-01-23 07:09] CindyPSU commented on #1586
Fixes completed. PR #1587

[2018-01-23 07:52] Ivaylo2017 commented on #1572
@xyb994 Yes

[2018-01-23 10:55] vishwakarmaanil opened #1588 "Typography is not consistent"
In tg-planet-user-manual.md, some of the subquestions have Italic Style and Some of them do not

For example:
It should be Like this:
**# How do I Navigate and Use Planet?**
- _How do I access Planet and become a member?_
- _What are the differences between Learners, Leaders, and Managers?_
- _How do I navigate the Dashboard?_

But Its like this:
![](https://image.ibb.co/jVQkEG/1.png)
![](https://

[2018-01-23 16:23] Ivaylo2017 commented on #1562
@lorugant  Thank you for review.
#### Actually if you look at all the links under the Steps. (I hi-lighted just 3 here):

#### They'd take you not to the top of pages but somewhere mid-section like for example the vagrant link

[2018-01-23 16:52] Going-Gone opened #1590 "Missing periods in the README.md"
There are some areas that do not have a period at the end of the sentence.
The list is one of those areas, and then the second picture could either have a period or run on with the second sentence below it.

![screen shot 2018-01-23 at 10 48 51 am](https://user-images.githubusercontent.com/28640954/35288821-5c77bbf6-002b-11e8-848d-1cb98acac09e.png)
![screen shot 2018-01-23 at 10 49 07 am](https://

[2018-01-23 18:09] Going-Gone opened #1593 "Incorrect syntax for link vi-chat.md"
It appears that this link is showing in syntax form.
Incorrect syntax.
![link is wrong](https://user-images.githubusercontent.com/28640954/35292474-3754631e-0036-11e8-9071-1bf7906ada07.png)

[2018-01-23 18:15] Going-Gone opened #1594 "Additional detail for mac users"
This could be adjusted to show how to copy paste with mac as well.
![addmoreinfo](https://user-images.githubusercontent.com/28640954/35292740-21512754-0037-11e8-8c0d-3ba29b3106df.png)

[2018-01-23 18:21] Going-Gone opened #1595 "Additional information for who to tag"
I think it would be good to list that we should be tagging those with the credentials like @dogi or @xyb994 or @ketruong

![screen shot 2018-01-23 at 12 16 46 pm](https://user-images.githubusercontent.com/28640954/35292981-dcc603d8-0037-11e8-8989-1cb2509abae8.png)

[2018-01-23 19:07] xyb994 commented on #1588
Sure, go ahead and create a PR.

[2018-01-23 19:49] ofrank23447 commented on #1595
I don't think this is necessary as the credentials might change other than dogi.

[2018-01-23 19:50] kylemathias commented on #1512
i believe it might be a better idea to fix the scrip instead of adding more to the steps.

[2018-01-23 19:55] #1531 closed

[2018-01-23 20:25] kylemathias commented on #1570
1. making an issue is for documenting the problem.
2. Yes. The issue is then used to discus/find a solution and assign someone to fix it.
3. Issues are _not required_ to be approved before a pull request is made to fix it. **_But be warned, if your issue is not making a change that a OLE members dose not approve, you could be doing a lot of work for nothing._** This is the only reason we suggest t

[2018-01-23 20:29] kylemathias commented on #1560
Sounds good to me.

[2018-01-23 20:43] kylemathias commented on #1561
The guide is a little bland. Go ahead and find pictures to go along with the guide. Also, be on the look out for improving the wording overall on the guide.

[2018-01-23 20:52] CindyPSU commented on #1570
@kylemathias Based on the information you provided, do you think any of the wording should be changed to make it clearer for intern candidates?

[2018-01-23 22:24] Going-Gone commented on #1595
Could we have the role, instead of specific individuals?

[2018-01-23 22:56] ofrank23447 commented on #1595
What do you mean by the role?

[2018-01-23 23:06] kylemathias commented on #1570
By all means, please. any place you can make something more clear and concise is the core of the intern steps.

[2018-01-23 23:21] xyb994 commented on #1595
Normally we would `@` people when exchanging comments.

Looks like Gitter does [support GitHub team mentions](http://blog.gitter.im/2014/10/02/group-mentions/). But as @ofrank23447 said, this might change depending on people's availability. Newly accepted virtual interns are all asked to help with github.io.

[2018-01-23 23:41] xyb994 opened #1598 "Side bar with more levels"
Would be nice if we have multi-level sidebar

https://github.com/Dynalon/mdwiki/issues/54

[2018-01-23 23:43] xyb994 opened #1599 "Add github.io repo review process"

[2018-01-24 04:32] xyb994 commented on #1570
I think it's also worth noting that aspiring virtual intern should try to search to see if the issue they plan to create exists.

[2018-01-24 05:04] CindyPSU commented on #1570
@kylemathias @xyb994 @ofrank23447 I have been working on the wording based on suggestions that you have noted above. Let me know what you think.

![image](https://user-images.githubusercontent.com/35432613/35315387-62f3ff5e-0089-11e8-85b6-097dc5275c07.png)

[2018-01-24 05:21] xyb994 commented on #1570
@CindyPSU Thank you! This really help clarify things up.

[2018-01-24 07:02] #1506 closed

[2018-01-24 15:54] CindyPSU commented on #1570
@xyb994 Great! Just trying to make things clearer for Aspiring Virtual Inters like myself. Is this issue approved for its fix and PR?

[2018-01-24 17:27] Going-Gone commented on #1595
Thanks for the feedback!

[2018-01-24 17:36] Jackbui96 commented on #1561
@kylemathias Thank you for the confirmation. I am working on the issue right now.

[2018-01-24 17:37] Jackbui96 commented on #1560
Thank you for the confirmation. I am working on the issue right now.

[2018-01-24 18:26] #1575 closed

[2018-01-24 20:11] kylemathias commented on #1567
Adding Optional is fine. I think adding something like "If you know another language, you can go to..."

[2018-01-24 20:12] #1569 closed

[2018-01-24 20:14] #1528 closed

[2018-01-24 20:15] #1586 closed

[2018-01-24 20:16] #1574 closed

[2018-01-24 20:17] kylemathias commented on #1572
Sounds fine, Go ahead with the changes.

[2018-01-24 20:26] pengchengzhai opened #1602 "Bell-App issues"
In Step 3, the prerequisites seem a bit long and I went through the entire section that I have been familiar with before but I was afraid that I may missed something import. The prerequisites should be couple lines of sentences with links which leads to a new tab that explain more about Markdown and note that if people who is familiar with Markdown should go ahead and jump to start step.

[2018-01-24 20:27] kylemathias commented on #1562
All of the links take me to the top of the page. not sure whats happening. Anyone confirm my findings or @Ivaylo2017 ?

[2018-01-24 20:29] #1602 closed

[2018-01-24 20:30] pengchengzhai opened #1603 "Prerequisites seems a bit long and unne"
In Step 3, the prerequisites seem a bit long and I went through the entire section that I have been familiar with before but I was afraid that I may missed something import. The prerequisites should be couple lines of sentences with links which leads to a new tab that explain more about Markdown and note that if people who is familiar with Markdown should go ahead and jump to start step.

[2018-01-24 20:30] #1603 closed

[2018-01-24 20:30] pengchengzhai opened #1604 "Prerequisites seems a bit long and unnecessary"
In Step 3, the prerequisites seem a bit long and I went through the entire section that I have been familiar with before but I was afraid that I may missed something import. The prerequisites should be couple lines of sentences with links which leads to a new tab that explain more about Markdown and note that if people who is familiar with Markdown should go ahead and jump to start step.

[2018-01-24 20:30] CindyPSU commented on #1567
@kylemathias Thank you!
So this wording might work better for that sentence then:
"If you know another language, you can go to this Crowdin link to join Crowdin by creating an account."

[2018-01-24 20:32] #1521 closed

[2018-01-24 20:36] kylemathias commented on #1570
Looks great.

[2018-01-24 20:37] kylemathias commented on #1590
Go ahead and and make a PR.

[2018-01-24 20:38] kylemathias commented on #1593
Could you be more specific? Were is this problem exactly located in our wiki.

[2018-01-24 20:41] kylemathias commented on #1594
I would say change it from Ctrl+C and Ctrl+V to "Copy and Paste"

[2018-01-24 20:41] kylemathias commented on #1594
Again, try to be more detailed about the issue. Link to the exact location.

[2018-01-24 21:01] Going-Gone commented on #1593
Ok so, i was not seeing that the link was the chat embedded into the page. After viewing the page it does appear that this embedded link is working correctly.

[2018-01-24 21:04] Going-Gone commented on #1594
http://open-learning-exchange.github.io/#!./pages/vi/vi-chat.md

[2018-01-24 21:17] #1593 closed

[2018-01-24 21:17] Going-Gone commented on #1594
Would a link to the actual page like this be good, along with the picture?

[2018-01-24 21:18] #1595 closed

[2018-01-24 23:36] CindyPSU commented on #1570
Fixes completed. PR #1607

[2018-01-25 02:22] xyb994 commented on #1562
I can sort of reproduce the problem in Firefox, it's working fine in Safari.

[2018-01-25 04:00] pengchengzhai opened #1608 "repetitive phrase in index.md"
The home page contains duplicates words

[2018-01-25 04:00] pengchengzhai commented on #1608
Remove duplicate words in "index.md"

[2018-01-25 08:12] xyb994 commented on #1604
There is a WIP [PR](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/1547) that reduces some content in the section you mentioned, you are welcome to comment on it.

[2018-01-25 19:08] #1582 closed

[2018-01-25 19:13] #1588 closed

[2018-01-25 19:19] #1571 closed

[2018-01-25 19:31] #1573 closed

[2018-01-25 19:32] kylemathias commented on #1594
Yes, link to the page and location, images as well.

[2018-01-25 19:35] #1524 closed

[2018-01-25 19:36] #1576 closed

[2018-01-25 19:37] #1512 closed

[2018-01-25 19:38] #1570 closed

[2018-01-25 19:42] #1590 closed

[2018-01-25 21:10] Jackbui96 commented on #1561
This is a prototype that I have made. For those who are interested, please have a look and give me your feedback so that I can fix accordingly.
Gitraw Preview: https://rawgit.com/Jackbui96/Jackbui96.github.io/issue1561/#!pages/robots/rbts-takehome-device-setup.md

[2018-01-25 23:33] Ivaylo2017 commented on #1562
Ok. I'm closing this issue and the related pull request then and moving onto the next one.
Thank you!

[2018-01-25 23:33] #1562 closed

[2018-01-26 17:47] #1525 closed

[2018-01-27 23:28] NickBratt opened #1619 "Vagrant on Windows"
For Vagrant to be installed correctly on Windows you need to have Hyper-V enabled in your Windows Features. This caused me some trouble when trying to install Vagrant on my PC.

[2018-01-29 01:43] Going-Gone opened #1620 "Grammatical Error"
https://github.com/open-learning-exchange/open-learning-exchange.github.io/blob/master/pages/vi/vi-configurations.md
![screen shot 2018-01-28 at 6 38 22 pm](https://user-images.githubusercontent.com/28640954/35490113-d8dfb1a4-0462-11e8-86ef-eb2d44f0f0d9.png)

There should be a "the" in this sentence where the "*" is.
"After clicking on * OK button, you will be automatically logged in."

[2018-01-29 18:55] kylemathias commented on #1619
you could make a note some place on the wiki to let people know that they need that enabled.

[2018-01-29 19:40] xyb994 commented on #1620
@Going-Gone Thanks for catching the small grammar error, go ahead and create a pull request.

[2018-01-29 23:20] Going-Gone opened #1623 "Wording change"
https://github.com/open-learning-exchange/open-learning-exchange.github.io/blob/master/pages/vi/vi-configurations.md

Change the highlighted section in the picture below to "copy and paste"

![screen shot 2018-01-29 at 5 15 25 pm](https://user-images.githubusercontent.com/28640954/35539676-34858d8e-0518-11e8-9bf0-ac803016af85.png)