[2017-03-24 13:17] waryhermit commented on #546
Is this issue solved?

[2017-03-24 13:19] waryhermit commented on #544
Some gimmicks don't show up right for me in the github preview, have you tried previewing it with rawgit or publishing a change to your local repo and viewing your website directly?

[2017-03-24 13:23] #545 closed

[2017-03-24 13:24] waryhermit commented on #494
@shabiba Were you ever able to figure this out?

[2017-03-24 15:50] waryhermit opened #552 "Add InternOrientation.md to Teams menu"
Add Intern Orientation (`./pages/InternOrientation.md`) to the drop down menu shown below. There should be a horizontal line between Intern Orientation and the other menu items, just like the First Steps menu.

![image](https://cloud.githubusercontent.com/assets/5189447/24302051/a8c034a0-1087-11e7-8691-e54f91beaf94.png)

[2017-03-24 15:53] waryhermit opened #553 "Add short sentance to the end of the first steps linking to the Intern Orientation md file"
Add sentence at the end of step 9 here:
![image](https://cloud.githubusercontent.com/assets/5189447/24302241/5f89b774-1088-11e7-9d9c-4c2112311051.png)

[2017-03-24 16:28] waryhermit opened #555 "Too many extra words in bellapps.md"
There are a lot of words that are not needed to convey the information. For example we say "please" 11 times in this short document. The less extra words there the more easy it is for your eyes to scan and the more likely people can follow the directions.

[2017-03-24 16:40] kylemathias commented on #552
I was trying to preview this before i sent it in, but it seems to be working. My change should solve this issue.

[2017-03-24 20:50] Loshma93 opened #563 "Open Link in New Tab"
In First Steps page when we open a link, it was opening in the same tab. I think it would be better if the link opens in a new tab instead of opening in the same tab.

[2017-03-25 05:35] Supriyaranjan opened #565 "UI Cosmetic issue in githubandmarkdown.md"
In Markdown page, I noticed the navigation links on the left side, the first three links when selected and clicked, they turn bold but it does not happen when we click and select last link "Useful links".

![image](https://cloud.githubusercontent.com/assets/26332034/24319734/3b2cba38-10f2-11e7-8777-4a47f7c7b3dd.png)

![image](https://cloud.githubusercontent.com/assets/26332034/24319740/7293c5e8-10

[2017-03-25 23:30] waryhermit commented on #563
I think it would be better to leave it as it is, people can always open in new tab quite easily themselves with the open new tab feature that pretty much all browsers have, but some people might find it opening in a new tab annoying. Did you know you can open a link in a new tab by holding `control` and clicking a link?

[2017-03-25 23:34] i5o commented on #563
I like to hold control or command to open new tabs as well :)

I don't think this is necessary

El sáb., 25 de marzo de 2017 20:30, waryhermit <notifications@github.com>
escribió:

[2017-03-25 23:35] waryhermit opened #566 "Add check commit username vs github username to review steps in internorientation.md"
In the reviewing check list we should make sure that people use their github usernames and emails when making commits through git. see image for example of problem.
![img](https://files.gitter.im/open-learning-exchange/interns/WdGh/thumb/92-4.png "Usernames don't match")

Updated by @mappuji

[2017-03-25 23:36] #546 closed

[2017-03-25 23:45] waryhermit commented on #563
Since two of us think the same I will close.

[2017-03-25 23:45] #563 closed

[2017-03-25 23:55] dogi commented on #565
@Supriyaranjan I really like your suggestion so far - can you be more concrete?

[2017-03-25 23:59] waryhermit commented on #552
Closed via #558

[2017-03-25 23:59] #552 closed

[2017-03-26 00:15] waryhermit opened #567 "MDWiki breaks markdown on internorientation.md"
If you [preview internorientation.md on github](https://github.com/open-learning-exchange/open-learning-exchange.github.io/blob/master/pages/internorientation.md) it looks correct, but on the [actual wiki](http://open-learning-exchange.github.io/#!pages/internorientation.md) the lists are messed up. I think additional new lines might fix this.

[2017-03-26 00:18] waryhermit opened #568 "Move all pages which are not user pages to another folder"
Its hard for me to find files among all the user pages, it would be nice if they were stored separately.

[2017-03-26 00:45] waryhermit opened #569 "Move two interns to inactive"
FanisGk and prmurphy both went inactive at the end of January and should be moved to the inactive table on members page.

[2017-03-26 00:49] kylemathias commented on #569
i will take care of this.

[2017-03-26 02:05] waryhermit opened #571 "Correct github UI branch directions"
Right now we tell them to use the create branch option when creating a file - but the automatic pull request window that appears afterwards will not allow them to select open learning exchange. We need to tell them to create the branch first, edit the file, and then make a pull request.

http://open-learning-exchange.github.io/#!pages/githubandmarkdown.md

[2017-03-26 04:44] Supriyaranjan commented on #565
@dogi - While looking through the Markdown page (http://open-learning-exchange.github.io/#!pages/githubandmarkdown.md), I noticed a cosmetic issue when clicking the header links on the left hand side. I noticed when the link "Useful links" is clicked it does not turn bold like other links above it ("Start here","Prerequisites" etc.)
Can this be a cosmetic bug in the page?

[2017-03-27 03:38] Supriyaranjan opened #575 "add notes in firststeps.md to downgrade oracle VM to v5.1.14 for Windows7."
In Step#1(firststeps.md), while installing bellapps and trying to run it using vagrant and oracle VM on Windows 7, the oracle VM version 5.1.16 which is downloaded automatically using chocolatey is not able to up the "vi" virtual server using vagrant. This was caused because of an error in the path of Shared Folders.

**Proposed Solution** - To add a note at the end of Step#1 (firststeps.md) to do

[2017-03-27 03:43] Supriyaranjan opened #576 "extra words in firststeps.md"
Similar to issue https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/555
I noticed there are too many extra words like "please" in firststeps.md. Will it be better if these extra words are removed?

[2017-03-27 17:32] Loshma93 commented on #544
@dogi This is the link for gimmicks which I am following:
http://dynalon.github.io/mdwiki/#!gimmicks.md

[2017-03-27 20:42] waryhermit commented on #575
Could you post the exact error? If its the one I think it is, then its more of a warning than a error and doesn't prevent vi from running.

[2017-03-27 23:27] hannahgdubin commented on #555
I believe @Supriyaranjan corrected this with PR #561 which was merged 3 hours ago.

[2017-03-27 23:27] #555 closed

[2017-03-28 00:00] waryhermit commented on #544
Gimmicks are a feature of the Markdown **Wiki** software, and are not part of markdown itself. Thus they do not work correctly until the wiki has been built. Only the master branch is built, so you cannot use the built in github preview. You can either preview via rawgit (which can be slow to update), or install the MD wiki on your computer so you can preview the changes. Also note that mixed http

[2017-03-28 00:00] #544 closed

[2017-03-28 00:18] blazerchamp opened #579 "Test Issue"
Here is a test issue

[2017-03-28 00:18] blazerchamp commented on #579
raising a test issue

[2017-03-28 01:56] dogi commented on #565
@Supriyaranjan now I understand - sorry was completely off ;)

[2017-03-28 02:06] dogi commented on #579
;)

[2017-03-28 02:06] #579 closed

[2017-03-28 02:07] dogi commented on #579
... this was a closing and locking test

[2017-03-28 02:14] zeivhann opened #580 "Add note on adding images to Gitter (bellapps.md)"
It's just a small thing that can be solved after a quick google, but perhaps on [bellapps.md](http://open-learning-exchange.github.io/#!./pages/bellapps.md) we could add a note that you can drag and drop an image into the Gitter chat to upload it? (For example, when interns need to upload their configuration settings image)

[2017-03-28 02:20] dogi commented on #580
a picture says more then thousand words ;)

@dogi likes this one, but he does not remember if we did not already wrote about it

[2017-03-28 02:22] zeivhann commented on #580
I just double checked the page, and it does not appear to be mentioned there. I will go ahead and add that to my branch and submit a pull request if that's quite alright. :)

[2017-03-28 02:57] dogi commented on #580
sure @zeivhann - but there are more pages ;)

[2017-03-28 03:33] zeivhann commented on #580
Right, right, it probably is mentioned elsewhere but I thought maybe putting it right after mentioning posting the screenshot might help! I just didn't see it on the same page where the screenshot was requested.

[2017-03-28 04:04] zeivhann opened #582 "Spelling on simpleinstall.md"
Just a few little corrections should be made to [simpleinstall.md](http://open-learning-exchange.github.io/#!pages/simpleinstall.md).
The document is mostly fine, just a couple of extra letters and misspellings here and there.

[2017-03-28 04:55] Supriyaranjan commented on #575
@waryhermit - I am sorry I think I was unable to install BellApps rather than running "vi". This is the error which I was getting -
Vagrant was unable to mount VirtualBox shared folders. This is usually because the filesystem "vboxsf" is not available. This filesystem is made available via the VirtualBox Guest Additions and kernel module. Please verify that these guest additions are properly insta

[2017-03-28 07:23] #569 closed

[2017-03-28 11:27] waryhermit commented on #575
@Supriyaranjan Hmm, there was someone else in the channel that was using windows 7 and did not have a problem.. Did you already have virtualbox installed before installing the bellapps I wonder? In any case if its true that it needs to be down graded we need to change the script not make a note in first steps..

[2017-03-28 13:21] waryhermit commented on #582
Merged #586

[2017-03-28 13:21] #582 closed

[2017-03-28 13:45] sarvanivadali commented on #575
Hi @Supriyaranjan Can you try installing ```vagrant plugin install vagrant-vbguest``` plugin and try again. If that works for you then we can update instructions to install above plugin instead of downgrading.

[2017-03-28 14:47] blazerchamp opened #587 "Test Issue 1 Windows OS not loading"

[2017-03-28 14:48] blazerchamp opened #588 "Test Issue 2 critically low CPU performance"

[2017-03-28 14:48] blazerchamp opened #589 "Test Issue 3 cannot merge repositories"

[2017-03-28 14:52] blazerchamp commented on #580
Google works, as well as a simple check on the main markdown syntax on their website.

[2017-03-28 14:55] blazerchamp commented on #576
I had a VM problem when trying to access MyBell. The solution given to me was to install a vagrant git repository which contained files that eventually solved the VM problem that prevented me from accessing MyBell. The instructions and links for this suggestions need to be added so that applicants don't have to wait on any team member to provide them with the git repository. Instead, they will dow

[2017-03-28 15:00] blazerchamp commented on #568
A good solution for this is to find out where you are in the directory with the pwd command. You can use the find command to find the files you're looking for, and change to the directories it listed. Then use the mv command to move the files to another folder (don't forget to specify the source and destination path for this command). You can use the 'ls -l' command to list out the files in a dire

[2017-03-28 15:01] waryhermit commented on #576
@blazerchamp

1. How does that relate to this issue?
2. That solution is not needed most of the time, as most people do not have a corrupted vm.
3. The directions to fix a corrupt vm are already in the [FAQ](http://open-learning-exchange.github.io/#!pages/faq.md)

Also this issue was already solved so I am closing it.

[2017-03-28 15:01] #576 closed

[2017-03-28 15:03] waryhermit commented on #568
I have the mos trouble finding the files when browsing through Github, I just use `control + f` to find it. You can go ahead and make a pull request with the files moved to another folder though.

[2017-03-28 15:08] dogi opened #590 "create manual of BeLL-Apps out of google doc"
There is [a manual](https://docs.google.com/document/d/1ikNCxVEJq22K8kcqkZIe0ibGDvL_1gMSl3Vk2F1_O8w/edit?usp=sharing) we would like converted from a google document to a mark down file. Everyone who works on this issue should make one pull request per section of the document that they convert to markdown. You should add your section to [this existing markdown file (tg-planet-user-manual.md)](https

[2017-03-28 15:10] dogi commented on #590
This is a big meta issue, which should be split into tinier sub-issues ...
and this issues again should be solved by `pull requests`

[2017-03-28 15:26] Supriyaranjan commented on #575
This is a known issue with VMware 5.1.16 on Windows. Please check the link - http://stackoverflow.com/questions/42796016/vagrant-unable-to-mount-shared-folders
@sarvanivadali - This link states that installing vagrant plugin doesn't work. The only known solution is to downgrade VMware to 5.1.14.
@waryhermit - I was not having VMware installed earlier.

[2017-03-28 16:06] kylemathias commented on #588
What do you mean "Critically low CPU performance"? What is in danger of failing because the CPU performance is low?

[2017-03-28 16:07] sarvanivadali commented on #575
@Supriyaranjan Since installing plugin on your Windows 7 machine did not work for you either, please add this to your description as well.

[2017-03-28 16:12] kylemathias commented on #568
I will look into it.

[2017-03-28 18:13] kylemathias opened #591 "Suggestion: Add How-to branch correctly"
I know I was having to search outside of the First Steps to figure out how to branch, edit the branch and then create a pull request. Would it be a good idea to add a How-to work on a branch locally? What do you guys think?

[2017-03-28 18:14] waryhermit commented on #591
You don't find the branching directions in http://open-learning-exchange.github.io/#!pages/githubissues.md adequate?

[2017-03-28 18:15] kylemathias commented on #591
Is that linked someplace on the first steps? i might have missed it.

[2017-03-28 18:16] kylemathias commented on #591
NVM, i dont know why i didnt see it.

[2017-03-28 18:16] #591 closed

[2017-03-28 19:05] kylemathias opened #592 "Should we add more information about branching to githubissues.md?"
The page talks about how to make a branch, but doesn't talk about how to work on that branch. @waryhermit explained it very well to me.

@kylemathias and if you switch back to the master branch it will look like in windows explorer that your changes are gone, but if you go back to you patch branch they will come back

Even though this seemed to be the only logical thing that was happening, I could

[2017-03-28 19:44] waryhermit commented on #494
I will close this for now.

[2017-03-28 19:44] #494 closed

[2017-03-28 20:02] waryhermit commented on #590
@dogi I have made it into a list, I though splitting it into issues would clutter up the issue list too much.

[2017-03-28 20:04] waryhermit commented on #575
@Supriyaranjan Can you find anything explain who is effected by this issue? The link you posted didn't mention Windows 7 specifically.

[2017-03-28 20:19] waryhermit commented on #592
@kylemathias I certainly can see why you wondered what would happen, I look forward to hearing peoples thoughts regarding the cost / benefit of adding more and more information.

[2017-03-28 20:32] i5o commented on #592
I suggest adding something like this:

or idk?

[2017-03-28 20:56] waryhermit commented on #580
Closed via #581

[2017-03-28 20:56] #580 closed

[2017-03-28 21:03] Supriyaranjan commented on #575
@waryhermit if someone else with windows 7 did not have any issue then it might not be the case for all windows 7.

@sarvanivadali  I did not try plugin. I already downgraded and installed 10 days back. However in the link that person has mentioned that plugin didnt work for him.

[2017-03-28 21:09] waryhermit opened #594 "Add "Check for issue number in pull request title" to review checklist in internorientaton.md"
See title

[2017-03-28 21:11] sarvanivadali commented on #575
@Supriyaranjan Since installing plugin worked for me on Windows 10, we should suggest new interns to downgrade if on Windows 7 only.  For Windows 10 - we can suggest to install the plugin. I had hoped that installing plugin worked on Windows 7 too (that way we could add this plugin as part of installation script). My only concern is that - we are unsure of the side effects of downgrading and perha

[2017-03-28 21:41] Supriyaranjan commented on #575
@sarvanivadali  yes that would be better

[2017-03-28 23:15] Supriyaranjan commented on #575
So should i close this issue now?

[2017-03-28 23:58] waryhermit commented on #575
@Supriyaranjan No, I want to see if anyone else has this problem. You can work on other things though. If you have three issues, three merged pull requests, and three comments you can message Dogi though

[2017-03-29 01:51] sarvanivadali commented on #565
Hi @dogi can @Supriyaranjan work on this issue?

[2017-03-29 02:28] #571 closed

[2017-03-29 03:07] zeivhann commented on #592
I do feel like it is more beneficial to leave interns to do some googling. I find that in many cases (especially in the classes I've had where I am surrounded by people learning something for the first time) many of them get used to expecting everything to be in one place. Researching on your own is an important part of computer science, or just programming in general.

[2017-03-29 12:13] waryhermit commented on #565
@Supriyaranjan @sarvanivadali Its a real minor issue but sure -  I am curious to see how it could be fixed.

[2017-03-29 12:37] waryhermit opened #599 "Make pull/issue/comment requirement more clear."
Pull requests / issues / comments for one part of the steps do not count towards the other steps which isn't very clear right now.

For example you need

- 1 pull request from step three (your profile)
- 1 issue, comment and pull request at step 6.
- 3 issues, comments, and pull request at step 8

Thus before you are able to go on to step nine you will have **at least**

- 5 pull requests.
- 4 com

[2017-03-29 12:42] dogi commented on #599
@waryhermit agree -what about if we add this in front of step 9?

I also always check all the community nation actions of step 7
- sync
- publication
- update
- (dummy user)

[2017-03-29 14:16] sarvanivadali commented on #565
@Supriyaranjan @waryhermit Is it because there isn't enough room to scroll down and the CSS settings are perhaps not taking effect? I'm not really a CSS expert and curious to know if this can be fixed.

[2017-03-29 16:56] Supriyaranjan commented on #565
@sarvanivadali @waryhermit  I looked into file githubandmarkdown.md and noticed that top and left navigation bars remain frozen when we scroll down, also I couldn't find the code for navigation in githubandmarkdown.md file. So is there a separate file for navigation? If yes then which one can you tell me? It is easier to figure out in html and css but looks different in markdown

[2017-03-29 17:05] Supriyaranjan commented on #565
code for top navigation is in the file navigation.md but I am not able to find it for left navigation

[2017-03-29 17:09] sarvanivadali commented on #565
@Supriyaranjan I'm not really sure if this can be fixed. As you can see, if I minimize my chrome window I see the desired effect.
![image](https://cloud.githubusercontent.com/assets/8753852/24467004/cd6dc810-1480-11e7-8804-833ff2846b07.png)
I'm new to CSS as well :-)

[2017-03-29 17:13] waryhermit commented on #565
@Supriyaranjan
This seems to be a side effect of how the MDWiki CSS chooses which to be bold. From a little testing it seems that it chooses bases on how close it is to the top of the window or something.

As @sarvanivadali hinted at, this is from the MDwiki software, so if you can think of a better way of deciding which gets the **bold** effect I would make an issue there: https://github.com/Dyna

[2017-03-29 17:13] #565 closed

[2017-03-29 17:13] Supriyaranjan commented on #565
May be... I tried again in chrome,mozilla and IE and saw the same issue. :(
![image](https://cloud.githubusercontent.com/assets/26332034/24467184/1cb35fc8-1479-11e7-918b-99f8693a2f99.png)

[2017-03-29 17:14] Supriyaranjan commented on #565
If its not happening with everyone then may be it is not an issue.

[2017-03-29 17:15] waryhermit commented on #565
@Supriyaranjan You have to make the window small enough that the Useful Links paragraph header is near the top of the screen to get it bold

[2017-03-29 17:16] waryhermit commented on #565
![image](https://cloud.githubusercontent.com/assets/5189447/24467250/cb37ee76-1481-11e7-820b-5fe44de4a335.png)

[2017-03-29 17:18] Supriyaranjan commented on #565
@waryhermit  I tried that but not working somehow. However "useful links" link in other pages are turning bold.
![image](https://cloud.githubusercontent.com/assets/26332034/24467342/b90014f2-1479-11e7-8557-e8a4dbf13537.png)
![image](https://cloud.githubusercontent.com/assets/26332034/24467372/ccec6c7c-1479-11e7-9a77-daf751cacfa9.png)

[2017-03-29 17:19] Supriyaranjan commented on #565
Anyway I think it is not an issue

[2017-03-29 17:20] paulbert commented on #565
@sarvanivadali @Supriyaranjan The short version is that I don't think it's possible to have both the effect of items highlighting as they scroll as well as a bold when clicked cleanly because once the slightest page scroll happens it would revert to what you're seeing.

A bit more to dig into if you're interested in learning about how this works: this is done with javascript in the mdwiki script i

[2017-03-29 17:42] Supriyaranjan commented on #565
@paulbert thanks for helping us learn something new. It is very useful

[2017-03-29 20:02] waryhermit commented on #589
Please explain.

[2017-03-29 20:02] waryhermit commented on #588
@blazerchamp Please explain.

[2017-03-29 20:02] waryhermit commented on #587
@blazerchamp Please explain this issue.

[2017-03-29 20:05] waryhermit commented on #486
If someone wants to make it more clear that for most windows users vagrant does not auto start correctly as a temporary note that would be fine.

[2017-03-29 20:07] #553 closed

[2017-03-29 20:09] waryhermit commented on #548
Fixed by #573

[2017-03-29 20:09] #548 closed

[2017-03-30 05:08] kylemathias commented on #568
in order for me to make another folder, i will then have to go into each page file and update the url link from pages/ to pages/newfoldername. Unless there is an easier way to do this that i am not aware about.

[2017-03-30 12:07] waryhermit commented on #568
@dogi Is there any reason you wanted the steps files moved and not the user pages? I think it would avoid most of the trouble @kylemathias

You would still have to update the members page, but it wouldn't be as bad.

[2017-03-30 15:34] dogi commented on #590
@waryhermit thanks

[2017-03-30 16:22] kylemathias commented on #567
i look into fixing this right now

[2017-03-30 16:24] kylemathias commented on #568
@waryhermit I was thinking about moving the interns page. I would have to update the team.md along with editing the "First Steps" to have new interns make there profile page in the correct folder.

[2017-03-30 16:26] waryhermit commented on #568
@kylemathias Yes, that is what I was just saying - but I strongly remember @dogi asking for it to be done the way I originally said in the issue. So wait for his input.

[2017-03-30 16:46] #594 closed

[2017-03-30 19:19] kylemathias commented on #590
Ill work on The PLANET Learning System / Overview

[2017-03-30 21:41] kylemathias commented on #590
BTW: While you are converting this document, look for improvements/proof read the document as well. Would be a big help.

[2017-03-30 21:42] Ebuka-Chibueze commented on #599
@waryhermit  I found a way to count issues separately from PRs. Commits/Comments are more complicated than Issues/PRs It will take some research on my part.

[2017-03-30 21:45] waryhermit commented on #590
@kylemathias Thanks, I added that to the main post.

[2017-03-30 21:46] waryhermit commented on #599
@Ebuka-Chibueze OK. I think we only care about comments, not commits. Some people make 20+ commits per pull request. Thanks for keeping me updated.

[2017-03-31 06:27] Chris-Boe commented on #486
@waryhermit if we could have more people try your script, we can narrow down why/when it might not work. It seems like it's still working alright on my machine. Also I thought @sarvanivadali uses Mac as it says on her profile? If she tried it on a Windows computer, it'd be nice to know which version of Windows, etc.
It'd also be helpful to separate these issues, since it is not essential to the or

[2017-03-31 11:22] waryhermit commented on #486
@Chris-Boe No, she has a mac and a windows, she already tried it on her windows machine. Its the scheduled task that doesn't seem to work though but I don't know why... some kind of group policy or something perhaps. I need to find out if it would make a log anywhere or if I could turn that on. But yeah I need to get more people to try it, and see if I can make the window hidden or at least minimi

[2017-03-31 12:13] #567 closed

[2017-03-31 12:44] sarvanivadali opened #608 "Re-word BeLL-Apps tutorial (Creating configurations)."
Creating configuration in [Step 4](http://open-learning-exchange.github.io/#!././pages/bellapps.md) can be re-worded. I and two other interns made a mistake while specifying user and CODE - The note that specifies that both must use github username comes late. This note can either moved or re-worded - Better if someone can edit the existing image and specify the same.

[2017-03-31 20:57] waryhermit commented on #587
If you come back and explain this issue I will reopen it.

[2017-03-31 20:57] #587 closed

[2017-03-31 20:57] waryhermit commented on #588
If you come back and explain this issue I will reopen it.

[2017-03-31 20:57] #588 closed

[2017-03-31 20:58] waryhermit commented on #589
If you come back and explain this issue I will reopen it.

[2017-03-31 20:58] #589 closed

[2017-03-31 20:59] waryhermit commented on #458
The markdown wiki now works offline, so this issue should be less difficult. You pretty much just need to follow the directions at [html resources.](http://open-learning-exchange.github.io/#!pages/htmlresources.md)

[2017-03-31 21:02] waryhermit commented on #452
To clear it up for anyone who is wondering - to resolve this issue you should:

1. Create a page that has an explanation of what to do if the BeLL apps does not load, and a link to the local vi community.
2. Make "Community Login" menu item point to this new page.

[2017-03-31 21:21] waryhermit commented on #467
Here is what I would do:

Change `firststeps.md` Step 2 from this:

To this:

Then delete the first paragraph of `vagrant.md` and then append the contents of `vagrantwin.md` at the top of `vagrant.md` (except the first paragraph). Then change the `First Steps` menu to only link to `vagrant.md`.

[2017-03-31 21:29] waryhermit commented on #486
To resolve this issue someone should create a big Note at the top of the windows directions stating something like:

-------
The real issue here is that there is a problem with our windows vagrant task. I will create an issue for people to test my script at `ole-vi/BeLL-Apps`

[2017-03-31 21:45] waryhermit commented on #503
The dates for the last two are:

**epistulae**
Join: Jun 1, 2016
Leave: July 2016

**Neha1990**
Join: Jul 12, 2016
Leave: Sep 26, 2016

[2017-03-31 21:48] waryhermit commented on #511
We also have trouble with git commit username not matching github account name

[2017-03-31 21:53] waryhermit commented on #521
@Ebuka-Chibueze Says he is nearing completion of the script. Hopefully there will not be a problem including some javascript on the github pages / markdown wiki

[2017-03-31 21:57] waryhermit commented on #608
@sarvanivadali @dogi Maybe we should add to the FAQ what we want people to do when this happens also.

[2017-03-31 22:19] #599 closed

[2017-03-31 22:56] dogi commented on #568
OK I see - both solutions are not optimal
I slowly think @waryhermit you was right from start on
I mean that we should move away the personal pages

@dogi kinda feels that the question `move where to?` is more important to answer ...

[2017-04-01 00:49] Supriyaranjan commented on #608
Hi @sarvanivadali  I will work on it.
Few questions to ask, I can move or edit the note but do I need to edit/change the image?Seems fine to me
http://open-learning-exchange.github.io/pages/uploads/images/configuration.png

[2017-04-01 00:54] waryhermit commented on #608
@Supriyaranjan The image is fine, its just that people are seeing the note too late

[2017-04-01 00:54] sarvanivadali commented on #608
Hi @Supriyaranjan Any new text or re-wording that makes it more clear. Or change existing image to something like :

![image](https://cloud.githubusercontent.com/assets/8753852/24573651/1d6c249a-1654-11e7-9560-d5e42b17a7c3.png)

Lets see what @waryhermit @dogi have to say.

[2017-04-01 00:58] Supriyaranjan commented on #608
@sarvanivadali @waryhermit  Should I move the note before the image? Should I move all three lines from the note?
![image](https://cloud.githubusercontent.com/assets/26332034/24573702/5c48e2fa-164c-11e7-8057-e99670bf105e.png)

[2017-04-01 00:59] waryhermit commented on #608
Oh, you could make the "github username" and "code" text on the image more visible I suppose, but that would be bonus as far as I am concerned.

And yeah, move all lines.

[2017-04-01 01:00] Supriyaranjan commented on #608
@waryhermit  Ok I will do that

[2017-04-01 01:20] Supriyaranjan commented on #608
@waryhermit  @sarvanivadali  Does this image looks good?
![c](https://cloud.githubusercontent.com/assets/26332034/24573861/6f8cbad2-164f-11e7-8053-6180b2211dca.png)

[2017-04-01 01:23] Supriyaranjan commented on #608
@waryhermit  @sarvanivadali  Does this image looks fine? If yes then I will upload it
![cc](https://cloud.githubusercontent.com/assets/26332034/24573883/f7d6a0d8-164f-11e7-9cbc-234a016e84e2.png)

[2017-04-01 01:26] waryhermit commented on #608
If its no bother I might give it a strong color so it catches peoples eye more, but yeah it looks good

[2017-04-01 01:27] Supriyaranjan commented on #608
@waryhermit  Like Red? Even I was thinking that before.

[2017-04-01 01:31] Supriyaranjan commented on #608
How is this one?
![cc](https://cloud.githubusercontent.com/assets/26332034/24573952/fbafe2f4-1650-11e7-820f-5a09aa4fd96d.png)

[2017-04-01 01:32] waryhermit commented on #608
Yep that is good.

[2017-04-01 01:34] sarvanivadali commented on #608
@waryhermit so image update is sufficient or need to move test as well ?

[2017-04-01 01:36] Supriyaranjan commented on #608
@sarvanivadali  I moved the text before the image. Is that good?

[2017-04-01 01:46] sarvanivadali commented on #608
@Supriyaranjan No preference. I guess you have enough information to start on your PR.

[2017-04-01 20:03] dogi opened #615 "Add directions for uploading images and screenshots to chat.md"
At the bottom? (maybe there is a better place)
Add how to create screenshots (WinMacUbuntu)
and drop them into gitter chat

best thing would be if the picture you drop says `A picture is worth a thousand words` ;)

kinda like this one
![](https://blog.sqlauthority.com/i/b/a-pic-1000-words.png)

[2017-04-01 20:40] dogi commented on #608
@Supriyaranjan @waryhermit and @sarvanivadali very good job

[2017-04-03 17:26] Supriyaranjan commented on #590
I am working on "How do I navigate and use PLANET?"

[2017-04-04 17:07] dogi commented on #590
@Supriyaranjan great ;)

[2017-04-04 17:21] waryhermit commented on #615
Maybe to the FAQ as well?

[2017-04-04 23:11] Loshma93 opened #622 "Side Menu is disturbing main content"
In internorientation.md page the side Menu is disturbing Main Content in the page. You can see an example here:
![image](https://cloud.githubusercontent.com/assets/24893117/24682921/1577d1c6-1951-11e7-8c93-0ea82fa61f3e.png)

I think it would be better to compress or move side menu to left if possible. So that it won't disturb main content.

[2017-04-05 04:39] tianhaopx opened #624 "The colon(:) in every step title is redundant"
I noticed at the end of each step's title, there is a colon. I think it's redundant since they are titles. Also, the titles consist as the table of contents in the left side. The colons are unnecessary.
<img width="756" alt="wx20170405-003805 2x" src="https://cloud.githubusercontent.com/assets/5724086/24689976/36e8204e-1998-11e7-909a-a99ad31aea0d.png">

See pull request #627

[2017-04-05 05:14] Supriyaranjan opened #625 "Getting blank pages for automatedtestingcodeceptjs.md and automatedtestingpython.md"
I am getting blank pages when trying to open http://open-learning-exchange.github.io/#!pages/automatedtestingpython.md and http://open-learning-exchange.github.io/#!pages/automatedtestingcodeceptjs.md.
Although these two files are present in "pages" folder. I tried in chrome, mozilla, IE and safari(mobile) browsers

[2017-04-05 12:01] waryhermit commented on #625
@paulbert I think this might be related to the recent upgrade of the MDwiki, could you take a look?

[2017-04-05 12:02] waryhermit commented on #622
We are aware of this problem - but its a problem with the markdown wiki code not any of the markdown files we made. It will probably take a while to figure out and fix.

[2017-04-05 15:39] paulbert commented on #625
The syntax highlighting library is crashing. I'm checking now to see if it'll work with the latest version of that script.

[2017-04-05 16:00] kylemathias commented on #624
I think it would look better without ":". Let someone put there thoughts down about it first before making the change.

[2017-04-05 18:06] Loshma93 commented on #624
Yes, I agree with that. It would look better if we remove semi-colon at the end of title's.

[2017-04-05 20:23] tianhaopx commented on #622
In file `index.html`, at line 246, `var c=function(){var b=a("#md-left-column").css("width");a("#md-page-menu").css("width",b)};a(window).scroll(function(){c(a("#md-page-menu"));` I think that's why the width is changed when the page is scrolled.

[2017-04-05 21:10] prachi-chauhan opened #628 "Redundant " # " after each heading."
This "#" appears once you hover the mouse pointer around the end of the title. It is probably trying to redirect to the header of the page but it doesn't do that properly.

Proposed solution:
Instead a semi-opaque arrow head can be provided in the right corner which redirects to the top of the page.[
![screen shot 2017-04-05 at 4 03 10 pm](https://cloud.githubusercontent.com/assets/8962546/2472709

[2017-04-05 21:16] prachi-chauhan opened #629 "The redirect page to MDwiki is not a smooth redirect."
It kind of shows a mediator page for a second. This is a minor fix that needs to be made.
![screen shot 2017-04-05 at 4 13 13 pm](https://cloud.githubusercontent.com/assets/8962546/24727325/2ff5d000-1a1b-11e7-81b1-47cf671c2e66.png)

[2017-04-05 21:20] prachi-chauhan commented on #629
In fact all the tabs on the page header redirect to a different page in this way. In-page redirects work fine!

[2017-04-05 21:39] prachi-chauhan opened #630 "Redirect of understanding the flow of the android application leads to a heading that has no content in it!"
![screen shot 2017-04-05 at 4 37 56 pm](https://cloud.githubusercontent.com/assets/8962546/24728149/6262f09c-1a1e-11e7-9fc2-b45ec15624d5.png)

[2017-04-05 21:45] tianhaopx opened #631 "Improve the registration part in "Step 4 - BeLL-Apps Tutorial""
According to the tutorial, after we register in our local community BeLL app, the admin should accept the request in nation side. However, I waited one day and didn't get accepted. In step 7, I found I can actually log in to nation side and accept the request by myself. So I think we should add a note in step 4.

[2017-04-05 21:50] tianhaopx opened #632 "Improve sync publication part in "Step 7 - Nation BeLL""
The tutorial told me

But I didn't see that. I need to go to nation side, send the only one publication to me. We should add a more detailed tutorial here.

[2017-04-05 22:03] tianhaopx opened #633 "URL format is not consistent in MDWiki"
URLs in the left side column and paragraph are in the format: `http://open-learning-exchange.github.io/#!./pages/...`
URLs in the navigation bar are in another format: `http://open-learning-exchange.github.io/#!pages/...`
Although both of them work, we should keep consistent in one website.

[2017-04-05 22:14] waryhermit commented on #628
That is actually intended - it allows you to link to a specific part of the document. Check the url in the browser bar each time you click one of the `#`

[2017-04-05 22:16] waryhermit commented on #630
@prachi-chauhan That page literally isn't done 😄

Problem is we need interns that are working on the android application to update it, I don't think prospective interns will have the knowledge to do it.

[2017-04-05 22:17] waryhermit commented on #622
@tianhaopx OK, what effect to you think that line was intended to have?

[2017-04-05 22:18] waryhermit commented on #631
@dogi .. You were saying someone would figure out how to do that soon haha

[2017-04-05 22:19] waryhermit commented on #632
@tianhaopx @dogi typically sends the publications when he approves your community - but you bypassed that step 😋

[2017-04-06 00:50] #624 closed

[2017-04-06 01:21] tianhaopx commented on #622
@waryhermit `md-left-column` is the parent of `md-page-menu`. The width of `md-left-column` is defined as 25%, so that line intended to get the width of `md-left-column` and set it to `md-page-menu` when page is scrolled. It looks right, I don't know why it doesn't work.

[2017-04-06 01:31] tianhaopx commented on #632
@waryhermit so do I need to make some change for #632 and #631 ?

[2017-04-06 02:24] praharpatel opened #634 "Step 7 title and description modification"
# It is better to add 's' after BeLL in Step 7. So, it would go from Nation BeLL to Nation BeLLs. #

![image](https://cloud.githubusercontent.com/assets/15759751/24734823/679748c2-1a34-11e7-8d4e-5ac677c19ca4.png)

## The reason being, if we follow the link to nation.md, it's title is "Nation BeLLs". It is important that we maintain the same name so there will be less confusion.

![image](https://c

[2017-04-06 17:40] dogi commented on #629
@prachi-chauhan I think I understand - can you also explain how you wanna fix this ;)

[2017-04-06 17:43] dogi commented on #633
@tianhaopx ;)

yes - the `./` can (and maybe should?) be removed ...

[2017-04-06 17:47] dogi commented on #630
@waryhermit I totally agree

@leonardmensah @kylemathias and @zeivhann will soon improve this page ;)

[2017-04-06 18:08] dogi commented on #631
@waryhermit ;)

@tianhaopx you was not supposed to do that ... no worries

just wanted to say that I check at least every 24 hours for new communities
so you must have been very unlucky - specially since in 3 days I accepted at least 6 communities ;)

since you accepted your own community you was not getting a publication from me and because of that not able to finish step7 ...

[2017-04-06 18:15] dogi commented on #631
@waryhermit think we need to start using VIPlinks ...

[2017-04-06 18:28] dogi commented on #622
@Loshma93 @waryhermit @tianhaopx maybe we could just shrink the title instead of fixing the mdwiki code to support big titles ...

[2017-04-06 18:32] tianhaopx commented on #631
@dogi since I am not supposed to do that, so these two issues #631 #632 should be closed?

[2017-04-06 18:35] dogi commented on #632
@tianhaopx hope you understand if I close this issue since only you by sneaking into nation ever encountered it ;)

[2017-04-06 18:35] #632 closed

[2017-04-06 18:41] waryhermit commented on #622
@dogi I think this only started when we upgraded the MDwiki - so it may be fixable

[2017-04-06 20:32] Rlisa33 opened #635 "Vagrant.cmd.exe opens every time turn on the computer."
Command prompt opens and starts vagrant every time I turn on my computer. Interns need to avoid this. I reads "Starting vagrant in power down state. But later says failure to start vagrant. Close command prompt and reopen it with adding these commands
cd  %USERPROFILE%\ole--vagrant-vi
vagrant up
If the screen like this shows up
![image](https://cloud.githubusercontent.com/assets/26748347/25209319/

[2017-04-06 20:38] waryhermit commented on #635
@Rlisa33 Could you explain more? Right now I am afraid I have no idea what you mean.

[2017-04-06 20:38] Rlisa33 commented on #635
You can check to see if you follow all the steps on http://open-learning-exchange.github.io/#!./pages/githubandmarkdown.md. In order for the pull request to come up you need to then go to the pull request tab and check the pull request. If no pull request is there click on the green button called new pull request. Then add the repositories you would like to pull. Then also add a name for the pull

[2017-04-06 22:23] kylemathias commented on #634
I think it is supposed to be "BeLL". Let someone other than me comment about this issue before you make changes and make a pull request.

[2017-04-06 22:45] kylemathias commented on #622
I noticed that when you make your browser small the side menu would disappear. Might want to fix this issue that the side menu disappear sooner when the window is resized.

[2017-04-06 23:10] dogi commented on #631
@tianhaopx yes and no ;)

I already closed the other issue, but we will use this one to promote VIPlinks instead of login as supermanager into the nation ...

this fix will disable aspiring virtual interns to mess up the normal *slow* workflow ;)

[2017-04-06 23:23] Supriyaranjan commented on #635
@Rlisa33  As far as I understood is you are getting a blank page? Can you please take a snapshot of that and post here?

[2017-04-07 00:26] tianhaopx commented on #622
@kylemathias Can you show us the screenshot that the side menu **disappears**?
Actually, this page uses bootstrap for responsive design. When the window is small, the side menu will be moved to top.

[2017-04-07 00:30] Loshma93 commented on #634
@praharpatel I think it would be better to remove 's' in nation.md page instead of adding 's' in heading of step-7.

[2017-04-07 00:38] Loshma93 commented on #590
I will be working on Library and Resource overview

[2017-04-07 04:59] praharpatel commented on #634
I agree. Removing 's' from nation.md will be less tedious. @Loshma93

[2017-04-07 16:23] waryhermit opened #638 "Add note to intern orientation to remove commit message when merging pull requests"
@dogi likes the commit description messages to be empty (make sure to have a short and good title though). Add this information to the part of internorientation.md were it talks about reviewing and merging pull requests.

[2017-04-07 16:55] mappuji opened #639 "Can't access intern orientation via calendar address provided"
I have some problem when I want to add given calendar address to my Google Calendar.

The given calendar address is:
[code]

![image](https://cloud.githubusercontent.com/assets/11813607/24810742/97070f7e-1bed-11e7-9220-627f54e13a3f.png)

[2017-04-07 17:11] waryhermit commented on #639
@dogi did you restrict access? I think it worked back when I tired it.

[2017-04-08 01:50] waryhermit opened #641 "Move configurations step to part of step 1"
We want to move the configurations part of step 4 to the installing step, and add more exploring BeLL apps and finding issues with the BeLL software

[2017-04-10 01:06] praharpatel commented on #634
@dogi @waryhermit . What do you guys think?

[2017-04-10 12:41] waryhermit commented on #634
Removing the `s` from `nation.md` seems fine to me. Go ahead and create a pull request.

[2017-04-10 16:36] kylemathias commented on #622
![image](https://cloud.githubusercontent.com/assets/26488295/24872146/2d5682b8-1dd1-11e7-9de3-ad28902f521c.png)
it moves the menu to the top when the screen becomes smaller.

[2017-04-10 17:49] dogi commented on #638
@dogi believes in better nothing then lots of garbage

idea is to keep `git log` slim ;) and not like ...
[code]
there are 40 more lines of this

other possible solution would be `git log --xyz`:P`abc`
but is already longer to type ...

[2017-04-10 19:24] yssdnj opened #646 "Suggestion: Seperate intern profile files from pages folder"
Hi, I have a suggestion that separate those intern’s profile .md files from the pages folder. Like, we could create a new folder called internProfile under pages folder which is only used to store the candidate intern profile(.md file). It could make the layout clear.

[2017-04-10 21:20] Loshma93 commented on #646
@yssdnj Yes, that would be great if we implement that. So, personal pages and other pages will be in separate folders without any confusion.

[2017-04-10 23:05] yssdnj opened #647 "Confusion between Step 6 and 8."
- When I read Step 9, I find that step 6 and step 8 are no big difference.  Both are asking interns to create issues, add comments to certain issues and pull requests. So I think there is no necessary to part them as two steps. If step 6 is an issue tutorial, it should provide a test material to create a test issue and a posted issue which interns can make comments on. If not, I think step 6 and 8

[2017-04-10 23:19] yssdnj opened #649 "Suggestion: Replace "First Steps" with "Guide""
How about replace "First Steps" with "Guide" in main navigation bar?
I think that is more reasonable. How do you guys think?

<img width="1424" alt="screen shot 2017-04-10 at 1 13 44 pm" src="https://cloud.githubusercontent.com/assets/15866693/24886439/91ae7da0-1e22-11e7-889a-62681b6a48d4.png">

[2017-04-11 01:38] mappuji commented on #647
As far I know the main reason to separate step 6 with step 8 is in step 6 we only want the aspiring intern to learn about how to create an issue. The point is to familiarize. For the step 8, we want the aspiring intern to exercise.

Let others point their opinion.

[2017-04-11 05:27] Rupesh87 opened #650 "Defining Objective or Subjective type (CourseStep)"
Determine the step is Objective type or Subjective type

[2017-04-11 05:54] mappuji commented on #650
Could you explain more about this @Rupesh87 ?

[2017-04-11 06:31] sarah-lu102 opened #651 "Step 1 installation clarifications"
I already had virtualbox installed on my computer before we were supposed to install it for step 1-- I had a vm for my programming class already on my virtualbox, and I was afraid that the installation would reinstall virtualbox and erase the vm that I needed for class. I would add on to the instructions [here](https://github.com/dogi/ole--vagrant-vi) that if you already have virtualbox or any of

[2017-04-11 06:41] sarah-lu102 commented on #651
this is what the vm looks like- if people happen to use other vms on virtualbox, I've found it convenient to open the vm through the app itself instead of vagrant up (although maybe you would prefer if we used the command line?)
<img width="399" alt="vm" src="https://cloud.githubusercontent.com/assets/12993520/24895703/aceaa16a-1e46-11e7-81d1-3e33aa3cd02a.PNG">

also, an alternative to vagrant sus

[2017-04-11 06:49] sarah-lu102 opened #652 "Step 7 dummy user clarification"
before syncing with the nation, we have to create a dummy user in our community. The instructions specified to create a dummy with a username and a password that isn't our password. It is unclear whether we should remember the dummy username and password if we wanted to delete that person from our community. It is also unclear if the dummy user would eventually be removed from the community. If it

[2017-04-11 06:50] sarah-lu102 commented on #652
I would edit it here
<img width="867" alt="dummyuser" src="https://cloud.githubusercontent.com/assets/12993520/24896159/7b002722-1e48-11e7-8b83-7de9040a1c51.PNG">

[2017-04-11 07:09] sarah-lu102 opened #653 "First Steps menu in header doesn't match with the actual steps"
<img width="956" alt="menu" src="https://cloud.githubusercontent.com/assets/12993520/24896637/9f54ac9a-1e4a-11e7-99cf-9eac6bcb6ac6.PNG">

In order to get to steps 0, 1, and 8, we can't access it through the header dropdown menu for the First Steps section. It may also be helpful to include the step number for easier access and to keep it consistent with the content on the First Steps page.

[2017-04-11 07:14] sarah-lu102 commented on #646
@yssdnj that's a good point; there are also profiles from previous years mixed in with the ones that have been recently added, so separating intern profiles into folders by year would work!

[2017-04-11 07:25] sarah-lu102 commented on #592
I personally thought it was intuitive that the purpose of branching was so that you would create a new version that you can edit while preserving the old version before you save changes. However, it does get confusing because (correct me if I am wrong), there are multiple levels where at each level, you clone or fork something from the master or upstream, so it's hard to tell if branching already

[2017-04-11 07:30] sarah-lu102 commented on #647
I think the instructions in step 8 were more explicit; it said to create issues about the wiki, whereas in step 6 it just said to create an issue, which was a bit confusing. Also the fact that step 6 was named Issues tutorial gave me the impression that it was something to just read through, rather than to actually implement (since I read ahead to step 8 and figured that would be the actual implem

[2017-04-11 07:34] sarah-lu102 commented on #649
I think it might be more clear if we kept the first steps, because the process is composed of steps- it'll make it easier for people to break down all the things they have to do before becoming an intern

[2017-04-11 08:24] sarah-lu102 commented on #590
I can work on courses overview! Also, does it matter if we do it on our local files and use the git commands to commit and push, or can we just edit it through github.com as a branch and submit the pull request?

[2017-04-11 13:13] waryhermit commented on #651
Vagrant up will only start the vm corresponding to the vagrant file in the directory you have you shell window pointed at the moment. So it shouldn't matter if you have other VM's installed I think.

[2017-04-11 13:15] waryhermit commented on #646
@yssdnj I like this idea, but there is already [an issue for it here](https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/568).

[2017-04-11 13:15] #646 closed

[2017-04-11 13:18] waryhermit commented on #590
@sarah-lu102 Doesn't matter to me.

[2017-04-11 14:52] yssdnj commented on #647
Suggestion of arrange the steps like below imag.

Reason: group the similar topic steps together.

- Step 0 is the brief overview.

- Step 1 - 4 are all about BeLL-App from installation, environment building to BeLL web introduction(community and nation).

- Step 5 - 9 are all about how to operate GitHub including the basic GitHub knowledge and how to collaborate (create an issue and discuss it, p

[2017-04-11 14:52] waryhermit commented on #575
@Supriyaranjan @dogi I haven't noticed anyone else having this problem in the chat, so I think I will close this issue now.

[2017-04-11 14:52] #575 closed

[2017-04-11 14:53] waryhermit commented on #633
@paulbert Did https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/626 fix this issue?

[2017-04-11 14:55] yssdnj commented on #647
@sarah-lu102 I agree with what you said. When I read Step 9, I realize that I need to do severial implementations in Step 6.

[2017-04-11 14:56] waryhermit commented on #635
@Rlisa33
OK, I still don't understand, sorry.

1. What page of the mark down wiki needs to be changed?
2. And what do you think needs to be changed about said page?

[2017-04-11 14:59] waryhermit commented on #649
To me "Guide" gives a more optional feeling. These are the `First Steps` you **must** do in order to become a intern.

[2017-04-11 15:00] waryhermit commented on #650
@Rupesh87
I also do not understand what you mean. Perhaps you could help me understand by giving an example of what you would change to fix this issue?

[2017-04-11 15:01] paulbert commented on #633
@waryhermit Yes it did.

[2017-04-11 15:03] waryhermit commented on #633
@paulbert Thanks, I will close this issue then.

[2017-04-11 15:03] #633 closed

[2017-04-11 15:16] #625 closed

[2017-04-11 15:26] yssdnj commented on #653
Hi, @sarah-lu102 Do you mean to add all of step 0 - 9 to the dropdown menu? If So, I think the dropdown menu would be a little complicated. If someone would like to see all the steps, he or she could click "Start Here". In my opinion, we could add some key words of different topics. For example, BeLL Installation, BeLL Tutorial, Markdown, Git Rpositories, Git Issues. It also could give the beginne

[2017-04-11 15:42] dogi commented on #628
thanks @prachi-chauhan and @waryhermit - I am closing this issue

[2017-04-11 15:42] #628 closed

[2017-04-11 15:44] dogi commented on #649
@yssdnj thanks ;)

[2017-04-11 15:44] #649 closed

[2017-04-11 16:02] paulbert commented on #622
Hi @Loshma93 @waryhermit @tianhaopx @dogi @kylemathias .  So the issue originates from the fact that once you give an element the property `position: fixed` it won't inherit its width from its parent element anymore.  The creator of mdwiki decided to fix this by setting the menu's width with jQuery on every scroll event.  Unfortunately, when we updated jQuery we found that the newer version gives

[2017-04-11 16:12] kylemathias commented on #622
@paulbert sounds good to me.

[2017-04-11 19:20] sarah-lu102 commented on #651
Yes-- but for the installation of virtualbox itself in step 1 (BeLL installation), I would like to add that if you already have existing VMs, the virtualbox installation won't mess those up (I was afraid they would when I ran the command in my admin command prompt)

[2017-04-11 21:41] dogi commented on #647
thank you all for this suggestions and comments

as @mappuji suggest one of the reasons is in step 6 to learn and in step 8 to exercise
other reasons are:
- handle at step 6 one open PR - at step 8 do the same with 3 contemporaneous open PRs on the same time ...
- some steps of BeLL-Apps need hands from my side, the nations side: like accepting communities and sending publication (after step4 and

[2017-04-11 21:41] #647 closed

[2017-04-12 03:14] tianhaopx commented on #633
@paulbert @waryhermit No, I don't think so.
![image](https://cloud.githubusercontent.com/assets/5724086/24939601/971037f8-1f0c-11e7-9776-49ce8955a1d8.png)

[2017-04-12 03:58] duongdo27 opened #662 "Change date format in the Members tab"
Currently, the Join Date and the Leave Date use the format **YYYYMMDD**.
![screen shot 2017-04-11 at 10 57 49 pm](https://cloud.githubusercontent.com/assets/13564371/24940681/556449f4-1f0a-11e7-857f-087df8e6dffb.png)

I think we should change to the standard format  **YYYY-MM-DD**.
For example, if one copies the table to Excel, it will automatically format as date.

[2017-04-12 04:11] prachi-chauhan commented on #629
I think there might be some scripting error in the web page, could be an error with the <nav> tag. Would have to see the script for finding the bug. Will have to track the error in the script first and then work on eliminating it.
It could also be a styling error. I think that maybe there is an overlap of script code somewhere , which makes the page hang and then redirect.
So many options to think

[2017-04-12 04:13] prachi-chauhan commented on #629
*/nav/ tag
did not print in my comment as i put it inside <>

[2017-04-12 04:15] prachi-chauhan commented on #630
@waryhermit @dogi i think we can learn it  on the web and try to fix it. Android ain't that complicated. Guys with some idea of app development can handle this!

[2017-04-12 04:22] prachi-chauhan commented on #628
@dogi @waryhermit i understand that the URL changes, but from a user's perspective(a person with no knowledge in web development) it does not seem to "show" and "visible" effect. it just stays there. I think it would be wiser to use a redirect arrow to the top of the page. And instead of providing this "hard to find" #, we can provide an "go to top" option on the bottom right of the page??

[2017-04-12 04:23] prachi-chauhan commented on #628
*any

[2017-04-12 05:35] sarah-lu102 commented on #504
I am learning Adobe illustrator and teaching myself graphic design over the summer; I am willing to throw around some ideas and make mockups!

[2017-04-12 06:21] sarah-lu102 opened #666 "Improve index.md"
The text is more important than the image, but right now the image is overpowering, and the text is too small. I think it takes away from its purpose of informing readers about OLE. Perhaps we could resize the image and increase the font of the text?

---
Description update after the discussion.
2017-04-01 by @mappuji

which @EmilyLarkin and I created to fill the empty spot ;P

[2017-04-12 06:27] mappuji commented on #666
@sarah-lu102 could you tell us specific page you are talking about? so that we will in the same page with your suggestion.

[2017-04-12 07:04] dogi commented on #662
thanks @duongdo27 - please check https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/550

[2017-04-12 07:18] dogi commented on #504
@sarah-lu102 awesome

[2017-04-12 07:28] dogi commented on #666
@sarah-lu102 maybe you just add a screenshot to this tread ...

[2017-04-12 10:26] #650 closed

[2017-04-12 11:36] waryhermit commented on #633
@tianhaopx I think that is a separate issue which I don't even know if we can fix. The more times you hit that `#` the more `./` are added. As far as I know the anchor links are automatically generated.

But maybe you already realized that. I think me and @paulbert were thinking of link formats that needed to be changed in markdown files. If you want I can rename the issue and reopen it.

[2017-04-12 11:46] waryhermit commented on #628
@prachi-chauhan Well that would be for an entirely different purpose than the anchor / bookmark tags that are there. The `#` is just so you can link to a certain heading, and when they click on your link it will scroll to that heading. If you think there needs to be something that you can click to go to the top of the pages it doesn't mean the `#` are redundant.

I agree that having the `#` appear

[2017-04-12 11:56] waryhermit commented on #666
@mappuji @dogi Its the page nobody goes to 😛
http://open-learning-exchange.github.io/#!index.md

[2017-04-12 16:43] tianhaopx commented on #633
@waryhermit Yes, please reopen it.

All links referred to another markdown file and all anchor links are automatically generated by the code in mdwiki.js. But it shouldn't add `./` to these links. You can test it on [mdwiki official website](https://dynalon.github.io/mdwiki/#!index.md).
That's why I replace the mdwiki.js in #636. Check the [result](http://rawgit.com/tianhaopx/tianhaopx.github.io/f

[2017-04-12 17:30] kylemathias opened #667 "Broken link on internorientation.md"
This link...
![image](https://cloud.githubusercontent.com/assets/26488295/24970861/bb3edc8e-1f6a-11e7-9824-22184be7ab6f.png)
...leads to this page:
![image](https://cloud.githubusercontent.com/assets/26488295/24970924/e70bae8c-1f6a-11e7-8b84-7e934717c83b.png)

Would be a simple fix for a future intern. can someone post the correct link?

[2017-04-12 17:37] kylemathias commented on #630
@waryhermit @prachi-chauhan @dogi I am going to start some of this today. i want to update the guide with the extra steps i did to get the Android application working.

[2017-04-12 17:49] KodyKendall commented on #630
I have a little bit of android experience. If you guys want me to take a look at it, I can.

[2017-04-12 17:55] kylemathias opened #668 "Update takehome.md"
There are some steps missing on getting the "Take Home" app to run in Android Studio. I was going to update it but i wanted to make an issue and let people know that i am working on it.

[2017-04-12 18:12] kylemathias commented on #666
@sarah-lu102 The image i think is fine for its size. You want people, on there very first visit, to get this image into there heads that this is what the whole OLE program is about. That image, is essentially, a snap shot of the OLE environment.

This is my opinion, and of course could be wrong, but i think it is fine as is.

[2017-04-12 18:14] Loshma93 commented on #504
@dogi I have knowledge on HTML and CSS. Let me know if my skills match to resolve this issue.

[2017-04-12 23:59] shahswet opened #671 "Improve BeLL App's log-in page by adding "Forgot password?" for the user"
![snip-password](https://cloud.githubusercontent.com/assets/17865137/24983880/47cee3a6-1fa7-11e7-922a-dfac66719521.PNG)

We need to improve BeLL App's log-in page by adding "Forgot password?" for the user. Giving the user the chance to log-in to BeLL App when s/he forget's the password enhances the BeLL App's user-friendly feature.

[2017-04-13 00:03] yssdnj commented on #671
Totally agree! This issue should be in high prority

[2017-04-13 01:02] mappuji commented on #671
hi @yssdnj and @shahswet it is a good suggestion, but issues and improvement suggestions in this repository is limited to [OLE MD Wiki](http://open-learning-exchange.github.io/#!index.md ). Issue for
BeLL App particularly must posted here on [OLE VI BeLL Apps](https://github.com/ole-vi/BeLL-Apps)

[2017-04-13 01:06] mappuji commented on #667
Hi @kylemathias I have posted the same issue here #639

[2017-04-13 01:07] waryhermit commented on #633
@tianhaopx I will reopen it depending on your response to @paulbert comment https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/636#issuecomment-293678688

[2017-04-13 01:10] waryhermit commented on #630
@KodyKendall Once you have finished the first steps you could work on this issue, but it looks like kyle is already on it.

@dogi  I think it might have been better for us to have closed this issue and made a new one on ole-vi - this isn't really a good issue for aspiring interns.

[2017-04-13 01:17] waryhermit commented on #671
We have an issue already for this on the BeLL-Apps repo: https://github.com/open-learning-exchange/BeLL-Apps/issues/629

[2017-04-13 01:17] #671 closed

[2017-04-13 01:17] tianhaopx commented on #633
@waryhermit Thanks. Just leave this one closed. Reopen it may cause some confusion to other people. For the `./` issue of anchor links, what about open a new one?

[2017-04-13 01:25] waryhermit commented on #633
@tianhaopx So basically clicking an anchor link should only add `./` once, right? That is the issue you mean?

[2017-04-13 01:27] tianhaopx commented on #633
@waryhermit Yes.

[2017-04-13 01:33] waryhermit commented on #633
@tianhaopx Sure, you can open one on that. You might also consider opening an issue at https://github.com/Dynalon/mdwiki/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20anchor as well.

[2017-04-13 03:38] shahswet opened #672 "Hover popup for first steps and teams menu in the header"
![hovervsclick](https://cloud.githubusercontent.com/assets/17865137/24989065/19cf94b2-1fc7-11e7-8cff-9948e270cd4e.JPG)

We should have hover popup for the First Steps and Teams menu in the header rather than a mouse click. Hover popup will let the user make the decision to take that action or not, giving them more control over their experience. Many users believe that when their menus open on hove

[2017-04-13 04:00] Supriyaranjan commented on #666
@dogi  @waryhermit @mappuji @kylemathias I kind of agree with @sarah-lu102 . I think a little smaller image on the page would look nice and we don't have to scroll down to look at the whole image.
I have tried resizing the image in index.md. Please look at https://rawgit.com/Supriyaranjan/Supriyaranjan.github.io/Supriyaranjan-patch-11/#!index.md
If it looks fine the I will create the pull request

[2017-04-13 04:23] tianhaopx opened #673 "Click on anchor # continually adds ./ in the URL"
When we click on anchor `#` next to the title multiple times, it continually adds `./` in the URL.
It should just add `./` once.
![](https://cloud.githubusercontent.com/assets/5724086/24939601/971037f8-1f0c-11e7-9776-49ce8955a1d8.png)

[2017-04-13 04:50] shahswet opened #674 "FAQ questions in bold fonts"
![faq](https://cloud.githubusercontent.com/assets/17865137/24990156/027e1696-1fcf-11e7-95fd-8ea9cc4090c8.JPG)

The questions and answers looks like some paragraphs in above screenshot. The questions font are not contrast which makes us difficult to find the answer of particular question. If the questions are written in __bold__ font then I believe it will look more attractive and will be easier to

[2017-04-13 07:03] sarah-lu102 commented on #666
@Supriyaranjan yes, that is the [page ](http://open-learning-exchange.github.io/#!index.md)I'm talking about!

[2017-04-13 12:09] waryhermit commented on #674
Sounds good

[2017-04-13 12:17] mappuji commented on #674
@shahswet good idea, you can implement your idea and raise a PR for this :smile:

[2017-04-13 18:34] duongdo27 opened #676 "Left column overlap the main content"
When we go to any page in Open Learning Exchange and **scroll down**, the left column **always overwhelm** the main content.
I think we should make changes to avoid that.
![screen shot 2017-04-13 at 1 22 06 pm](https://cloud.githubusercontent.com/assets/13564371/25018674/8158a066-204d-11e7-905b-785a6c92e3bf.png)

[2017-04-13 19:38] yssdnj commented on #676
Hi, @duongdo27 it is actually an issue - that is what issue #622 is for. If you have any thoughts, you could make comments there 😊.

[2017-04-13 20:22] waryhermit commented on #676
Closing since duplicate issue.

[2017-04-13 20:22] #676 closed

[2017-04-14 00:06] #674 closed

[2017-04-14 00:41] waryhermit commented on #652
@sarah-lu102 Basically what happens with the dummy after you finish the steps is irrelevant, so we didn't clutter up the steps talking about it much.

[2017-04-14 14:56] mappuji opened #681 "Port (another) HTML Apps to BeLL-App Platform"
Right now we are able to upload htmlapp as a zip on BeLL-App.

Hi Aspiring Interns and Interns,

Throughout my internship journey, I have *ported* some HTML Apps to BeLL-App platform, but since I will work on some other issues, I will encourage you to try this exercise.

It is a fun exercise which you could follow the steps [here](http://open-learning-exchange.github.io/#!pages/htmlresources.md) a

[2017-04-14 16:48] waryhermit commented on #631
https://github.com/ole-vi/BeLL-Apps/issues/99

[2017-04-14 16:48] #631 closed

[2017-04-14 23:43] yssdnj opened #684 "layout in crowdinintegration.md page"
how do you guys think about this page [crowdin integration](http://open-learning-exchange.github.io/#!pages/crowdinintegration.md). Does it need to reformat?
Like,  images size, format of content.

[2017-04-15 02:11] mappuji commented on #684
Hi @yssdnj thank you for your issue.

But, it is considered as best practice if your issue contains a suggestion, a problem, or proposal. However, thank you for remind us about crowding page. You can improve the page by removing whitespace in some image on that page, so that people can see the image more clearly. You can raise your PR if you're done and refer to this issue.

[2017-04-15 05:08] yssdnj commented on #684
@mappuji Yes, I would like to try my best to optimize it.

[2017-04-16 01:57] praneetharra opened #685 "Confusion in "GitHub and Markdown" step while setup"
![issue](https://cloud.githubusercontent.com/assets/4139870/25068075/fa46c7e4-220c-11e7-80d2-8ca2f3dc3d53.JPG)

The link mentioned in the second block _https://USERNAME.github.io_ isn't active right after completing the task in first block. The link is active only after cloning the repo to the local storage. It is a bit confusing for the new interns who try to access the __url__ and find a __404__

[2017-04-16 02:01] praneetharra commented on #685
I know cloning has been explained in _Step 5_ of the _First Steps_, but it would be better if you can update _Step 3_ to avoid confusion for new interns.

[2017-04-16 02:27] mappuji commented on #685
Hi @praneetharra thank you for your issue.

I don't agree with this statement

The link or Github page is nothing to do with cloning to the local storage. Basically, Github needs a couple of seconds sometimes a couple of minutes to finish upping your Github page. Basically, you have forked the repository and change the name of your forked repository.

Please take a look to (this)[https://pages.git

[2017-04-16 04:35] praneetharra commented on #685
@mappuji if you see the link you mentioned, the process for setting up the pages completes at step 5 and before you can access the page, the step 2 is where you clone your repository. Before cloning the repo, I couldn't access my page(praneetharra.github.io) for more than a day, so even I followed the steps in the link you mentioned and eventually could access the page. Were you able to access wit

[2017-04-16 04:53] mappuji commented on #685
@praneetharra yes I did, I were make my page up without cloning the page. I just need to **fork** and change the name of the repository. Remember, fork is different with clone.

[2017-04-16 04:56] praneetharra commented on #685
@mappuji Yea, I understand they are both different, I wasn't able to access page for a day, so I read through that same link and followed along. After doing that I could access it, so I thought that is the process.

[2017-04-16 04:59] mappuji commented on #685
@praneetharra I think it is because Github server does not immediately refresh your changes, not because of cloning.

CMIIW 😄

[2017-04-16 05:05] praneetharra commented on #685
@mappuji may be true, I'll read it further and let you know 😄

[2017-04-17 02:58] kylemathias commented on #630
i have started the update. The take home guide is a work in progress. #668

[2017-04-17 02:58] #630 closed

[2017-04-17 03:00] #668 closed

[2017-04-17 03:13] kylemathias commented on #672
I think this is more of a preference issue. Windows start menu is a click to open situation, a lot of things are. Hover over and open is more of what happens once you are in the menu. You can let others comment before anything happens to this issue, but your time might be better spent fixing something that is broken.

[2017-04-17 03:19] kylemathias commented on #673
look at closed issue #633 . there is some discussion about this specific issue.

[2017-04-17 06:39] dogi commented on #667
@kylemathias and @mappuji since this was fixed I am closing the issue

[2017-04-17 06:39] #667 closed

[2017-04-17 09:54] dogi commented on #666
After some thinking I came to the decision that we should re-purpose this page,
which @EmilyLarkin and I created to fill the empty spot ;P

so that in the future we can accommodate more groups then just the virtual interns ...

... but also:
- Volunteers
- Techgeniuses (people in charge of Communities in field)
- normal BeLL-Apps user which for example wanna find the MAnual
- ...

[2017-04-17 18:08] duongdo27 commented on #622
@waryhermit My suggested fix for the issue is change **.css("width")** to **.width()**.
According to jQuery documentation

Please checkout the fix on [my version of OLE](https://duongdo27.github.io/open-learning-duongdo.github.io/#!pages/firststeps.md)

[2017-04-17 18:35] duongdo27 opened #689 "Unaligned indentation in FAQ"
![screen shot 2017-04-17 at 1 29 48 pm](https://cloud.githubusercontent.com/assets/13564371/25099585/8d67beb4-2372-11e7-8328-6b0361371fbd.png)

The sections **Virtual Box**  and **Vagrant** do not align with the rest.

[2017-04-17 18:52] duongdo27 commented on #689
The solution is adding blank lines between each list and each section header.
Here is [the commit](https://github.com/duongdo27/open-learning-duongdo.github.io/commit/376ab4be2fa328caf2c0e07f7ac949e8592aa5ff) on my personal fork of OLE.

[2017-04-17 19:19] duongdo27 commented on #673
I think the anchor link its own are generated by MDWiki, which we do not have control over.
However, we can remove the href attribute with JavaScript on our page.

[2017-04-17 22:13] praneetharra commented on #622
@duongdo27 @waryhermit Another issue is that when the page loads everything looks fine, but when we scroll a little the **_"left column"_** resizes and spans a little to the right.

[2017-04-17 23:53] Loshma93 opened #690 "Couchapp page doesn't exist in htmlresources.md"
![image](https://cloud.githubusercontent.com/assets/24893117/25108928/265016ba-238e-11e7-9e38-47674208c12a.png)

When I click on Couchapp it doesn't show anything.

When I tried to open it in new tab, it say's page doesn't exist.

![image](https://cloud.githubusercontent.com/assets/24893117/25108950/51b59e10-238e-11e7-8a28-00079b4a4a14.png)

[2017-04-18 00:19] praneetharra commented on #690
@Loshma93 I don't think its a new page that is supposed to be brought up, instead that link should redirect to the installation instructions mentioned few lines down in the same page.

[2017-04-18 16:12] shahswet opened #693 "Add another key for opening BIOS in FAQ answers"
![faq](https://cloud.githubusercontent.com/assets/17865137/25140714/74b82f1e-241e-11e7-986a-ee0987198f53.JPG)

I want to add **esc** key for enabling virtualization. In most of the laptops,including mine, **esc** key is used to access the BIOS. In the beginning I tried with *F2* and *delete* as stated in the FAQ and it didn't work so I wasted some time to figure out. So, I want to add the **esc**

[2017-04-18 17:22] #685 closed

[2017-04-18 18:27] waryhermit commented on #689
@duongdo27 Feel free to make a pull request

[2017-04-18 18:32] waryhermit commented on #690
@praneetharra I agree, but since its right below that it almost seems pointless. I would either change the link to `http://open-learning-exchange.github.io/#!./pages/htmlresources.md#Couchapp_Installation` or remove the link entirely.

[2017-04-18 18:36] waryhermit commented on #693
OK, sounds fine.

[2017-04-18 18:46] #690 closed

[2017-04-18 18:51] #662 closed

[2017-04-18 18:54] waryhermit commented on #651
Well, make a pull request and we will think about it.

[2017-04-18 18:55] waryhermit commented on #639
Fixed by #682

[2017-04-18 18:55] #639 closed

[2017-04-18 18:58] waryhermit commented on #635
@Rlisa33 Again, please explain what you mean when you say that "_because both links to download software for bellapps is not working._"

What errors do you get?
Screenshots?

[2017-04-18 18:59] waryhermit commented on #634
@praharpatel Do you still plan to make a pull request? Maybe I missed it?

[2017-04-18 19:00] waryhermit commented on #629
Have you made any progress on this issue?

[2017-04-18 19:02] waryhermit commented on #615
Fixed by #688

[2017-04-18 19:02] #615 closed

[2017-04-18 19:04] waryhermit commented on #608
I think this was fixed by #613

[2017-04-18 19:04] #608 closed

[2017-04-18 19:09] waryhermit commented on #521
@Ebuka-Chibueze Have you made any progress adding your script to a markdown page?

[2017-04-18 19:58] duongdo27 commented on #676
@waryhermit My suggested fix for the issue is change .css("width") to .width().
According to jQuery documentation

Please checkout the fix on [my version of OLE](https://duongdo27.github.io/open-learning-duongdo.github.io/#!pages/faq.md)

Here is [my commit](https://github.com/duongdo27/open-learning-duongdo.github.io/commit/e1ee9be86eba66634793b4f48c80d38c691b239f)

[2017-04-18 22:19] shahswet opened #695 "Syntax error <!doctype html> while clicking on Virtual intern"
![htmlerror](https://cloud.githubusercontent.com/assets/17865137/25155314/a7c7b496-2451-11e7-973a-755a72751054.jpg)

Whenever we click on Virtual Intern, syntax error **<!doctype html>** blinks for 2 second and goes away.

[2017-04-18 22:23] mappuji commented on #695
I don't know the core of engine of MDWiki who make it possible a markdown file view as it is an HTML, but I think the issue you've mentioned @shahswet is a matter of rendering time.

Anyone who have more experience with MDWiki are welcome to give a suggestion.

[2017-04-18 22:31] mappuji commented on #629
@prachi-chauhan

I want to give a hint. In `index.html` you could find something like this

![image](https://cloud.githubusercontent.com/assets/11813607/25155840/6bbb17ca-24c1-11e7-833a-f7b36e2edabf.png)

[2017-04-18 22:47] waryhermit commented on #695
@shahswet I don't get that when I click it. What browser are you using I wonder?

[2017-04-18 22:57] shahswet commented on #695
@waryhermit google chrome

[2017-04-18 23:08] kylemathias commented on #695
I saw it for a split second, but after that it never appeared again. on Chrome

[2017-04-19 00:17] dogi commented on #693
@shahswet ;) with me too

[2017-04-19 00:33] #638 closed

[2017-04-19 00:36] dogi commented on #695
hmm my chrome on ubuntu is not having that issue ... maybe my inet and/or computer is too fast

[2017-04-19 02:31] Rlisa33 commented on #635
I paste a screen print to the gitter chat

[2017-04-19 03:23] Rlisa33 commented on #635
Here is the screen shot
![image](https://cloud.githubusercontent.com/assets/26748347/25162087/04f2feb4-248e-11e7-9ec2-3f3e0eccfcd9.png)

[2017-04-19 03:29] Rlisa33 commented on #635
When using the bellapps sodftware download I receive a screen that comes up evertime I power on my computer and it says Starting vagrant from posered down state. Where as after a long period there is a message than says the operation returned because of timed out period. Also I cannot get the bellapps webpage through this second computer I own of that has windows 7 OS. My first computer does not g

[2017-04-19 03:42] duongdo27 commented on #689
@waryhermit  Here is the [pull request](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/696). Thank you.

[2017-04-19 06:26] praneetharra opened #698 "HTML and CSS for Tabs in navigation"
![navigation_control](https://cloud.githubusercontent.com/assets/4139870/25166057/4a9a2e24-248e-11e7-8ae6-58577554e4fd.png)

@dogi @mappuji @waryhermit @Loshma93 Hi guys, I was trying to locate the __html__ highlighted in the image for modifying the navigation and its corresponding __css__ in our code base. Can someone direct me where to access it.

[2017-04-19 13:56] waryhermit commented on #635
@Rlisa33 That error does not seem to be related to our software to me, we do not use anything called "OPINIO". I think that belongs to something called "OpinionSquare". If you have something called "OpinionSquare" I would uninstall it and see if the vagrant starts correctly after that,

[2017-04-19 17:58] shahswet opened #700 "Adding Crowdin in the list of Software used in THE BIG PICTURE"
![crowdin](https://cloud.githubusercontent.com/assets/17865137/25194287/39d9a18c-24f7-11e7-87c1-4340702d95e8.JPG)

I think we should add **Crowdin** in above list as we use this software frequently during the internship. And by looking the above list new interns/volunteers can have some knowledge and idea about all the software and languages that is used by OLE before starting the steps through 0

[2017-04-19 19:57] duongdo27 opened #701 "Solution for issue #622"
I figure out the solution for problem #622.

@waryhermit My suggested fix for the issue is change **.css("width")** to **.width()**.
According to jQuery documentation

Please checkout the fix on [my version of OLE](https://duongdo27.github.io/open-learning-duongdo.github.io/#!pages/firststeps.md)

@waryhermit Here is [my commit](https://github.com/duongdo27/open-learning-duongdo.github.io/commit/e

[2017-04-19 20:09] Loshma93 commented on #695
@shahswet I don't have the problem which you are talking about. When I click on Virtual Interns "index.md" page is viewing.
![image](https://cloud.githubusercontent.com/assets/24893117/25199941/660715fa-2501-11e7-9f0a-08f591b80ab5.png)

[2017-04-19 20:14] praneetharra opened #702 "Vagrant in First Steps"
In the First Steps dropdown, we have 2 different links for Vagrant installation. I feel this is damaging the proper structure. Is it because of any specific reason? Can we merge the installation for windows in the same [vagrant.md](http://open-learning-exchange.github.io/#!pages/vagrant.md) like shown in the second image.

![vagrant 1](https://cloud.githubusercontent.com/assets/4139870/25199789/de

[2017-04-19 20:46] Loshma93 commented on #701
@duongdo27 It looks great. Now it's not disturbing main content.

[2017-04-19 21:46] waryhermit commented on #702
@praneetharra I believe you are saying the same thing as in this issue? https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/467#issuecomment-290833341

[2017-04-19 21:52] waryhermit commented on #701
@duongdo27 We make solutions with Pull Requests, not issues. We already have an issue for this problem. I have assigned @paulbert to look at your solution. While you are waiting you can create a pull request, work on other issues, etc. Thanks for your patience.

[2017-04-19 21:52] #701 closed

[2017-04-19 23:21] Rlisa33 commented on #635
I have uninstalled opinionsquare and the problem is still happening

[2017-04-19 23:23] waryhermit commented on #635
@Rlisa33 You get the same error or a different one?

[2017-04-19 23:29] Rlisa33 commented on #635
The oinionsquare message does not comes up its gone but tje Command prompt comes up. I was waiting a while on my windows seven computer and it stayed blank for quite a while.

[2017-04-19 23:30] waryhermit commented on #695
I couldn't reproduce with the following browsers:

Firefox 52.0.1
Chrome 57.0.2987.133
IE 11
Edge 40.15063

@shahswet What version of chrome are you using?

[2017-04-19 23:31] shahswet commented on #590
I will start working on Reports Overview :)

[2017-04-19 23:34] shahswet commented on #695
@waryhermit I am using chrome Version 57.0.2987.133 (64-bit)

[2017-04-19 23:34] waryhermit commented on #635
If you open a command prompt do
[code]

What do you get?

[2017-04-19 23:38] waryhermit commented on #695
@shahswet hmm, I feel like this might be a problem with the MDwiki itself.

If you go to http://dynalon.github.io/mdwiki/#!index.md and click "MDwiki" do you get a similar problem?

[2017-04-19 23:41] shahswet commented on #695
@waryhermit Nope, I am not getting similar problem when i click "MDwiki". It's working fine.

[2017-04-20 00:44] Rlisa33 commented on #635
I am doing it right now.

[2017-04-20 00:46] Rlisa33 commented on #635
it is taking time. I think my computer is now slower.

[2017-04-20 00:47] Rlisa33 commented on #635
Well my computer with windows 7.

[2017-04-20 00:48] Rlisa33 commented on #635
ok somthing is happening.

[2017-04-20 01:17] Rlisa33 commented on #635
![image](https://cloud.githubusercontent.com/assets/26748347/25208886/863b32fe-2545-11e7-858f-8b52675d5ea3.png)

[2017-04-20 01:37] Rlisa33 commented on #635
![image](https://cloud.githubusercontent.com/assets/26748347/25209319/54d8ff36-2548-11e7-8dc2-7a856d676c7e.png)

[2017-04-20 02:30] Rlisa33 commented on #635
I am waiting for the next part of the instructions

[2017-04-20 02:31] Rlisa33 commented on #635
okay I will soon close command prompt and start all over tomorrow

[2017-04-20 02:38] Rlisa33 commented on #635
I cl;osed command prompt good night!

[2017-04-20 02:46] dogi commented on #700
@shahswet do I get you right like github gitter that we should name all the services we use?
services
- gitter
- travis
- saucelabs
- crowdin
- quantifiedcode
- hangout
- @dogi's linux cloud services on freedom server ;P
- ...

maybe ;)

but I just realized that some languages are also missing
- codeceptJS
- python
- ...

[2017-04-20 03:09] shahswet commented on #700
@dogi I didn't know that interns will be using so many software. I just wanted to add the software that is used widely during the internship so that the interns will have some idea before starting their first step but Never Mind :) :)

[2017-04-20 03:23] dogi commented on #635
@Rlisa33 this looks like an error of Bios with disabled or not existing `hyper virtualization`

in FAQ we have some help for you

[2017-04-20 06:47] praneetharra opened #706 "Counting Tasks Link in Step 9"
![task count](https://cloud.githubusercontent.com/assets/4139870/25216898/90137ebc-2559-11e7-9bae-071df03f476c.png)

When I first tried to count my total number of __PRs__ or __issues__ using [this link](https://github.com/open-learning-exchange/open-learning-exchange.github.io/commits/master) mentioned in the above image, it took a while for me to figure out how to filter things. It's be better i

[2017-04-20 06:50] praneetharra commented on #702
@waryhermit Yes, I see that you had the similar suggestion in the end. What's the reason for not executing it already?

[2017-04-20 11:55] #689 closed

[2017-04-20 11:56] #634 closed

[2017-04-20 12:01] #693 closed

[2017-04-20 12:05] waryhermit commented on #702
@praneetharra We reserve all these issues for aspiring interns 99% of the time - you realize you can work on issues others have created as long as they have not started working on it already themselves right?

I could have this issue queue empty in no time, but then we wouldn't have anything safe to evaluate potential interns with.

[2017-04-20 13:24] mappuji commented on #706
Interesting suggestion. Basically, we are working on a page to count PRs and issues created automagically. Btw, you give us a good suggestion.

Wonder how you think @dogi ?

[2017-04-20 13:32] mappuji commented on #700
@shahswet don't be discourage by @dogi 's comment.

He was meant to put only necessary list. Basically, Crowdin is only a platform which enables us to do translation easily.

[2017-04-20 13:44] mappuji commented on #698
@praneetharra have you check the ``index.html`` ?

[2017-04-20 14:23] Rlisa33 commented on #635
ok can this issue be approved?

[2017-04-20 14:30] Rlisa33 commented on #635
Okay. I will look it up.

[2017-04-20 15:02] mappuji commented on #635
@Rlisa33 thank you for your issue.

If you found any problem and you need assistance, please send your problem and appropriate description on our Gitter chat.

For this repository, you should raise issues related to [open-learning-exchange.github.io site](http://open-learning-exchange.github.io) only.

Last, there is no such issue we formally said as "approved", as long as you raise a proper issue

[2017-04-20 17:16] waryhermit commented on #486
I think the vagrant issue has been fixed, so I will close this unless we get a bunch of people having trouble.

[2017-04-20 17:16] #486 closed

[2017-04-20 17:22] waryhermit commented on #568
Fixed by #670

[2017-04-20 17:22] #568 closed

[2017-04-20 17:23] waryhermit opened #707 "Two user pages were not moved to the correct folder"
The following two profiles need to be moved to `/pages/profiles/`

praneetharra.md
ravikanthnookala.md

[2017-04-20 17:24] waryhermit commented on #592
@kylemathias @dogi @sarah-lu102 So do you think this page needs more explanation? Or should we close this issue?

[2017-04-20 17:26] waryhermit commented on #684
@yssdnj Hey, any progress on a pull request?

[2017-04-20 17:27] waryhermit commented on #698
@praneetharra Pretty sure that CSS is part of the MDwiki theme we use. Why do you want to open it?

[2017-04-20 17:41] waryhermit commented on #681
Another issue like this one is to make the first steps markdown wiki a BeLL App html resource: https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/458

[2017-04-20 18:03] waryhermit commented on #695
@shahswet Well if you have any thoughts on how to reproduce or fix this issue I am certainly interested to hear them, but as it is I think this issue is going to sit unfixed for a very long time.

[2017-04-20 22:44] paulbert commented on #622
@duongdo27 Just merged the CSS solution from another PR.  Good thought to switch to .width(), but your solution would need a little tweaking to make sure you adjust for the element's padding which is included in the .width() property.  The menu still grows on the first page scroll (just not enough to cover the text).

Either way I don't think we need to be running that code on every page scroll wh

[2017-04-20 22:44] #622 closed

[2017-04-20 22:45] praneetharra commented on #698
@waryhermit I was trying to address the issue https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/672

[2017-04-21 00:25] #707 closed

[2017-04-21 02:24] sarah-lu102 commented on #592
more explanation would be nice. Especially for people brand new to this, having the same information from different sources will make it sink in better, and cross-referencing with the wiki as well as googling will make it less confusing

[2017-04-21 02:48] Supriyaranjan commented on #681
@mappuji @dogi  I am working on to port "Exploding Bob" HTML app

[2017-04-21 03:45] Loshma93 commented on #706
@praneetharra I like your suggestion. It would be easy for interns to count how many they have created. Let's wait for other's suggestion.

[2017-04-21 03:55] Loshma93 commented on #684
@yssdnj Are you working on this issue. If you are not working on this I can reformat crowdinintegration.md page. Please let me know.

[2017-04-21 03:58] yssdnj commented on #684
@Loshma93, please reformat it. I have no good ideas about it.

[2017-04-21 04:06] Loshma93 commented on #684
@yssdnj Ok. I will work on it.

[2017-04-21 05:28] praneetharra commented on #672
@shahswet I think bringing this feature is not in bounds of OLE. CSS for changing the tabs is part of the MDWiki theme used.

[2017-04-21 05:55] Supriyaranjan commented on #706
@praneetharra  Very good suggestion. It will be easier for interns to follow the screenshots and also it is
easier to implement.

[2017-04-21 15:09] paulbert commented on #672
Hi @shahswet. Good thought, but I'll echo @kylemathias to say this isn't a high priority for us because the menu isn't broken.  If you have a solution or can create one please submit a pull request.  Otherwise we'll close this issue in 5 days.

[2017-04-21 15:57] shahswet commented on #700
@dogi @waryhermit you can close this issue.

[2017-04-21 16:01] waryhermit commented on #700
@shahswet Okay

[2017-04-21 16:01] #700 closed

[2017-04-21 17:27] kylemathias commented on #706
Anything that helps with clarity is a good change IMO. I say make changes and make a PR to let us preview it.

[2017-04-22 04:15] duongdo27 opened #716 "Missing how to install homebrew cask"
In the section of installing Vagrant for Mac OS(X), it assumes people have `homebrew` installed. However, they may not know how to get the `homebrew cask`.

![screen shot 2017-04-21 at 11 09 27 pm](https://cloud.githubusercontent.com/assets/13564371/25301251/a9759162-26e7-11e7-9b66-4dbcb152e39b.png)

[2017-04-22 04:17] duongdo27 commented on #716
**Solution**: Add this line

`brew tap  caskroom/cask`

[2017-04-22 09:56] mappuji commented on #716
hi @duongdo27 , you give a good suggestion.
Go on and raise your PR for this and don't forget to refer to this issue.

Anyone here working with mac? please confirm his proposed step.

[2017-04-22 20:21] Supriyaranjan commented on #590
@all @dogi  yesterday I was going through the planetusermanual.md and I saw one section "Members menu". But did not see that in the original document.
![image](https://cloud.githubusercontent.com/assets/26332034/25307907/4c219410-276f-11e7-9b93-21f56088a371.png)

[2017-04-22 21:53] waryhermit commented on #590
@Supriyaranjan It looks like @mappuji took the *Members Overview* section and expanded it with more content, and called it *Members menu*. You can see that here in his pull request, #654. As stated in the original post we are aiming to improve the manual as we go, so that is probably why. If you do not think it was well done, I recommend contacting @mappuji

[2017-04-22 23:14] Supriyaranjan commented on #590
@waryhermit @mappuji i think the new one is short and on the point

[2017-04-22 23:16] Supriyaranjan commented on #590
I was not aware of this change as I was not very active on OlE for last few days

[2017-04-23 06:18] Supriyaranjan commented on #681
@mappuji  @dogi @Loshma93 I am working on Reciclar

[2017-04-23 16:02] mappuji commented on #681
@Supriyaranjan awesome, please do it carefully (I suggest to do it one by one :smile: )

Exploding Bob then Reciclar. Good luck.

[2017-04-23 17:37] Supriyaranjan commented on #681
@mappuji  Sure I will start working on another after first one is done and confirmed

[2017-04-24 23:17] waryhermit opened #719 "remove fangninghe from active interns"
Never came back

[2017-04-25 18:35] #716 closed

[2017-04-26 00:19] #719 closed

[2017-04-26 04:08] duongdo27 opened #723 "Duplicate sentences on the HTML Resources page"
In the HTML resources page, the sentence *"Visit following link to learn more about it."* is duplicated.

![screen shot 2017-04-25 at 11 03 47 pm](https://cloud.githubusercontent.com/assets/13564371/25417739/cdd0ac5a-2a0b-11e7-85a0-f9a545a6ebb5.png)

[2017-04-26 04:09] duongdo27 commented on #723
Solution: Remove the duplicated sentence.

[2017-04-26 04:22] duongdo27 opened #724 "Some improvements for the Crowdin Integration page."
1. The two main objectives should be separated in two lines and in bigger font for clarity.

![screen shot 2017-04-25 at 11 16 24 pm](https://cloud.githubusercontent.com/assets/13564371/25417936/87c21f58-2a0d-11e7-9b43-1a0acb64a7f7.png)
---
2. The section number should be `2.1` here.
![screen shot 2017-04-25 at 11 15 26 pm](https://cloud.githubusercontent.com/assets/13564371/25417924/6f0ecc7c-2a0d

[2017-04-26 08:07] Ebuka-Chibueze opened #725 "Raw Git Sample Picture and Link"
Refer to [Step8](http://open-learning-exchange.github.io/#!pages/githubissues.md ). I think It would help to show a picture of a typical raw git page in addition to the template shown there.  Also, it could help to add the [RawGit](https://rawgit.com/) website to the [Useful Links](http://open-learning-exchange.github.io/#!././pages/githubissues.md#Useful_Links).

[2017-04-26 08:11] Ebuka-Chibueze commented on #521
@waryhermit For some reason my I can only get it to work if I adjust the link like [this](https://ebuka-chibueze.github.io/pages/track-progress). I'm also having issues with the font.

[2017-04-26 16:24] Supriyaranjan commented on #723
@duongdo27  I will work on it.

[2017-04-26 18:34] paulbert commented on #458
@waryhermit @dogi So it got a little lost in the shuffle, but I was just now trying to push this to the nation and it's stuck with the spinner going.  It is, however, now in the Pending Resources list on the nation.

[2017-04-26 21:04] paulbert commented on #458
Ok, the Virtual Intern mdwiki is now on the VI nation.

[2017-04-27 05:31] dogi commented on #716
@Loshma93 why did you close this?

If it was based on a PR it would be awesome to know which one ...
can you please add the link?

PS: automatic closing with (fixes #<issue number>) is preferred

[2017-04-27 11:15] waryhermit commented on #716
@dogi https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/721/files

[2017-04-27 17:30] jmgamer12 opened #729 "Missed header in vagrantwin.md"
At the very end of the document, there is a final line which says "#### Return to First Steps." The hashtags appear in text and the header is not the correct size. Check the attached image for a visual descriptor of the issue. I do not know if this intentional but it does appear to be an error.
![header issue](https://cloud.githubusercontent.com/assets/6437686/25496011/09618444-2b45-11e7-96a9-0691

[2017-04-27 17:57] Loshma93 commented on #723
@Supriyaranjan I think this issue is resolved. Can I close this Issue??

[2017-04-27 17:58] Supriyaranjan commented on #723
@Loshma93  yes

[2017-04-27 17:58] #723 closed

[2017-04-27 18:06] Supriyaranjan commented on #729
@jmgamer12  I could not find this issue on the page http://open-learning-exchange.github.io/#!pages/vagrantwin.md

![image](https://cloud.githubusercontent.com/assets/26332034/25497476/4cf25e9a-2b4a-11e7-9ef4-ea6457db4e93.png)

[2017-04-27 18:58] jmgamer12 opened #732 "simpleinstall.md Title formatting"
Within this page, it seems all titles and subtitles are left in a format of  "[several hashtags] title/subtitle" which I believe can be cleaned up by using the hashtags to make the titles & subtitles formatted to the correct header size. This look will make the page cleaner overall and more aesthetically pleasing.

[2017-04-28 18:47] #652 closed

[2017-04-28 19:47] dogi commented on #724
@duongdo27 hmm - try a PR and post it with the rawgit link ... ;)

[2017-04-28 19:51] dogi commented on #521
@mappuji if @Ebuka-Chibueze adds the link and/or publishes where he is so far ... can you try your magic?

[2017-04-28 19:55] dogi commented on #716
thanks @waryhermit

[2017-04-28 20:19] dogi commented on #729
@Supriyaranjan think it already got merged ;)

[2017-04-28 20:19] #729 closed

[2017-04-29 00:50] Yurockkk opened #737 "typos in Yurockkk.md"
**[problem]** there are two typos in Yurockkk.md as shown in the picture:

![screen shot 2017-04-28 at 8 42 31 pm](https://cloud.githubusercontent.com/assets/11954766/25551519/f787fe3c-2c53-11e7-89ba-4555b7500f16.png)

**[solution]** modify "enjoys" to "enjoy", "excercise" to "exercise"

[2017-04-29 05:47] #651 closed

[2017-04-29 21:09] sarah-lu102 commented on #517
@waryhermit  does this explanation work? see #739

[2017-04-29 23:00] Yurockkk opened #740 "Inconsistent formatting of "NOTE" alert"
To improve the readability of the Virtual Interns tutorial, There should be a standard formatting for "NOTE" alert. Right now there are five different formattings:

1. Start without "Note:"
  in nation.md
![screen shot 2017-04-29 at 6 47 07 pm](https://cloud.githubusercontent.com/assets/11954766/25559598/538294d2-2d0c-11e7-88ff-1e081656c8f9.png)

2. Start with "NOTE:" (bold, all capes)
  in github

[2017-04-29 23:08] Yurockkk commented on #740
Solution: we can set a standard formatting for “NOTE:” alert, change other formatting to the standard one. I'll prefer the second one: start with "NOTE" (bold, all caps)

[2017-04-30 07:45] mappuji commented on #740
Hi @Yurockkk, I agree with your idea and solution. I think you can create a solution and raise PR for this. Good luck :smile:

[2017-04-30 11:37] mappuji commented on #737
I have merged your PR @Yurockkk

[2017-04-30 11:52] #737 closed

[2017-04-30 11:59] mappuji commented on #732
I have merged your PR of these fixes. :+1:

[2017-04-30 11:59] #732 closed

[2017-04-30 13:32] mappuji commented on #725
I agree with you @Ebuka-Chibueze, but the solutions must be simple.

it is also useful if we change `https://rawgit.com/YourUserName/YourUserName.github.io/YourBranchName/#!index.md` to `https://rawgit.com/{YouGitHubUsername}/{YouGitHubUsername}.github.io/{YouGitHubUsername}/#!index.md` and give a simple example there with a simple sample..

[2017-04-30 20:01] Rlisa33 opened #741 "Pull Request Page does not show"
Some iterns are having problems with pull request page being blank, not showing up or even they can not find the page. First you need to open the repository and look for the pull request you names after this you can change the page number or letter or name so it can be different from all other webpages.

[2017-04-30 22:25] Yurockkk commented on #740
@mappuji  Done! #742

[2017-05-01 05:21] Yurockkk opened #743 "improvement for githubissues.md"
In [GitHub issues page](http://open-learning-exchange.github.io/#!./pages/githubissues.md), In order to allow prospective interns to better understand the important of keeping their repository clean, maybe we can add some words about they might want to delete the branch after each pull request has been approved and merged by OLE staff or their repository will getting bigger and become a mess of de

[2017-05-01 05:56] Supriyaranjan commented on #743
Sounds good. Go ahead and create a pull request for this issue

[2017-05-01 06:32] mappuji commented on #741
It is a common practice when using Github, I think we don't need to put that in our MDWiki.

[2017-05-01 06:49] mappuji commented on #740
Closed with #742

[2017-05-01 06:49] #740 closed

[2017-05-01 06:52] #741 closed

[2017-05-01 07:04] mappuji commented on #695
@waryhermit and @shahswet [here](http://dynalon.github.io/mdwiki/#!index.md) MDWiki needs time to load. I think, the problem mentioned is a matter of rendering time, but it is awesome if we can increase the rendering time.

[2017-05-01 07:10] mappuji commented on #672
Closed because of less urgent and no follow up.

[2017-05-01 07:10] #672 closed

[2017-05-01 07:19] mappuji commented on #653
Hi @sarah-lu102 , I agree with @yssdnj better to not clutter the header menu with all the steps, and since because no follow up on this issue, I will close this issue.

[2017-05-01 07:19] #653 closed

[2017-05-01 07:24] #629 closed

[2017-05-02 02:21] Yurockkk commented on #743
@Supriyaranjan After doing some googling ([here](https://help.github.com/articles/deleting-and-restoring-branches-in-a-pull-request/)), it seems to me that one of the easiest way to delete the defunct branch in remote repository (your username.github.io) is using GitHub interface as shown in the figure.

<img width="545" alt="screen shot 2017-05-01 at 10 10 02 pm" src="https://cloud.githubusercont

[2017-05-02 02:31] #673 closed

[2017-05-02 16:29] Yurockkk commented on #590
I can work on "Feedback Overview" if it hasn't been taken : )

[2017-05-02 22:04] jmgamer12 opened #751 "Embedded image in Chat.md"
In chat.md there is supposed to be an embedded image linking to Gitter but instead, a viewer sees the code for this as shown below in the screenshot.
![chat-md](https://cloud.githubusercontent.com/assets/6437686/25641363/54283668-2f59-11e7-9336-3232829bb3f9.PNG)

[2017-05-02 22:30] Yurockkk commented on #751
@jmgamer12 I've checked on chrome, safari and firefox and they all look just fine as shown below, just curious what browser are you using?

![screen shot 2017-05-02 at 6 28 47 pm](https://cloud.githubusercontent.com/assets/11954766/25642045/54e8a068-2f65-11e7-906f-ecfcf1874974.png)

[2017-05-02 22:38] jmgamer12 commented on #751
Chrome

[2017-05-03 00:09] kylemathias commented on #751
@jmgamer12 depending on how you view the source code, it will often be different then the live version.

With rawgit, the page looks like this:
![image](https://cloud.githubusercontent.com/assets/26488295/25644149/b749ec7e-2f58-11e7-9d5d-257db710612b.png)
that is the most accurate way to try and view changes you make to a file in a branch before it gets merged to the master.

But if you view the c

[2017-05-03 01:08] jmgamer12 commented on #751
Oooh ok got it.

[2017-05-03 01:08] #751 closed

[2017-05-03 03:28] Yurockkk opened #752 "Inconsistent page layout"
I notice that all of the pages in virtual interns tutorial have table of contents on the left except [Step6](http://open-learning-exchange.github.io/#!./pages/githubissues.md) and [Step7](http://open-learning-exchange.github.io/#!./pages/nation.md). Maybe we can come up with one or two headers along with the “Useful Links” to make table of contents for those two pages. It can not only increase our

[2017-05-03 03:36] mappuji commented on #752
Agree, go on with a PR good luck! :smile:

[2017-05-03 09:25] mappuji commented on #743
solved by #748

[2017-05-03 09:25] #743 closed

[2017-05-03 20:28] Yurockkk commented on #752
@mappuji Done! please take a look at #755 :grinning:

[2017-05-03 23:03] paulbert commented on #725
I like this, too, but would like to clarify that the last part is branch name not user name:
`https://rawgit.com/{YourGitHubUsername}/{YourGitHubUsername}.github.io/{YourBranchName}/#!index.md`

[2017-05-04 17:36] #752 closed

[2017-05-05 02:58] Yurockkk commented on #566
@waryhermit I encountered this problem, it turns out that I didn't set my username and email to match my GitHub account when creating the commit! Is this issue need to be fixed? If I understand correctly, just add a list item in the reviewing check list right?

[2017-05-05 13:15] mappuji commented on #566
@Yurockkk, basically @waryhermit is currently inactive, but you can help us by this sentence

to here http://open-learning-exchange.github.io/#!pages/internorientation.md

[2017-05-06 18:00] Yurockkk commented on #566
@mappuji sure, I'll work on it :smile:

[2017-05-07 01:17] aurinsomnia opened #761 "Improvements in clarity in FAQ Section/"Synopsis""
Something I've noticed while going through the 'First Steps' process of internship acceptance is that at times I'm sort of absentmindedly following instructions, and not really understanding the importance of each piece of software, and how they intertwine. Currently the technical section of the FAQ primarily deals with specific issues, such as "How do I enable virtualization in order to turn Vagr

[2017-05-08 00:11] snazzybunny opened #763 "Step 6 seems like a guide than a step by step tutorial"
Hello. I read the steps and thought step 6 just showed you how to use Github and what to expect on the other side once you've submitted something. The previous guides told you what to do along with the screenshots. I thought the bold such as "Create an Issue" were just headings and not instructions. Perhaps it is a good idea to keep the tutorials consistent? I found out that we had to create an is

[2017-05-08 00:28] snazzybunny commented on #761
I agree. I think there should be a troubleshooting section as well and perhaps something to let the user know if the latest build of the program matches with the most recent guide. The UI and some of the instructions might be different now than when it was first created.

[2017-05-08 00:49] aurinsomnia commented on #763
In a similar sense, perhaps an "Objective" tab or something similar could help for each step. Right now, only Step 5 (Keeping Fork Updated) has a clear Objective. All other steps start out with an introduction that aim to cover the material the steps pertain to, but these intros often lack clarity. It can be confusing at times to understand exactly what is required, and adding a clear objective to

[2017-05-08 01:00] aurinsomnia opened #764 "Inconsistency in First Steps Pages"
As I commented on Issue #763, there is currently an inconsistency in formatting between the steps. Only Step 5 covering Forked Repositories had a clear Objective tab as pictured.
<img width="1440" alt="screen shot 2017-05-07 at 8 54 22 pm" src="https://cloud.githubusercontent.com/assets/25090351/25786696/606a79c4-3367-11e7-9636-77eb648d188e.png">
The rest all began with "Introduction" sections, so

[2017-05-08 01:21] snazzybunny opened #765 "Error when running the command vagrant up"
Had problems running vagrant. Running vagrant up resulted in the error, "vi: Box 'ole/jessie64' could not be found. Attempting to find and install...". The latest version of vagrant may have bundled an old version of curl which is breaking the application. To fix this, perform the command /opt/vagrant/embedded/bin/curl. After this, the vagrant executed as expected.

For more information: http://st

[2017-05-08 02:09] snazzybunny commented on #765
Pull request found here #766

[2017-05-08 02:56] snazzybunny opened #769 "Everything about Vagrant and how to install it should be in its own file."
Many installation guides show how to install a program on many different operating systems and are usually found in the same manual or webpage. Having two different vagrant references is like having two different manuals and adds more clutter. The tutorial should merge windows and osx/unix versions so they can find everything in one place. It is very confusing otherwise.

[2017-05-08 02:56] snazzybunny commented on #769
#768

[2017-05-08 03:14] snazzybunny opened #770 "Incorrect headers on nation.md and one instruction looks out of place"
The headers on nation.md are not according to markdown syntax. The # sign and accompanying text should have a space between them. They do not render correctly on github. Thoughts?

Update by @mappuji
To-fix:
- [ ] bellapps.md *(Each header is incorrectly formatted)*
- [x] chat.md *(This page is more rough than anything, some issues with unfinished quotes, although no substantial header issues)*
-

[2017-05-08 03:21] snazzybunny commented on #770
Also, instructions on line 26 look out of place probably to emphasize username and password. Perhaps we can put some things in bold? Right now it looks awkward.

[2017-05-08 03:42] snazzybunny commented on #763
I think there is too much text in general. Might just be me. Maybe we could follow Archlinux's style of writing a manual?

[2017-05-08 03:52] aurinsomnia commented on #770
I think it would be greatly beneficial if you could post a screenshot of what you're seeing, because it can be hard to notice these things at a glance. It would make understanding the issue a lot easier and less abstract.

[2017-05-08 04:10] snazzybunny commented on #706
I don't think it would be that hard for an intern to count. I think there are more important issues to address.

[2017-05-08 04:21] snazzybunny commented on #764
It's nice but may introduce clutter. Maybe a video can make sense of how everything should work or a diagram. Also, I think step 4 and 7 can go together.

[2017-05-08 04:24] aurinsomnia commented on #764
@snazzybunny I don't think it's too much clutter. I don't add any content really, only take the main points/tasks of each page, and place them at the top so that the intern has an idea of what must be accomplished in that particular step. As for a video, I'm unsure how much that will help. I also think step 4 and 7 are intentionally separated, because they are supposed to be learned/accomplished i

[2017-05-08 04:25] snazzybunny commented on #769
If we look at #764, in the second screenshot, the page displays both MacOS/Ubuntu and Windows on the same page. I think it should be consistent throughout the page.

[2017-05-08 04:30] snazzybunny commented on #467
I did something similar in #769, oops.

[2017-05-08 04:36] snazzybunny opened #773 "Syntax for githubandmarkdown.md's and githubissues.md headers are incorrect"
Simiary to #770, the headers are incorrect. The headers look like this"#inserttexthere" instead of "# inserttexthere". It needs to have a space inbetween. The page does not display correctly when loaded in Github otherwise.

[2017-05-08 14:38] mappuji commented on #706
Agree with @snazzybunny point 😄
Basically, we can easily count via Issue/Pull Request tab on GitHub.

[2017-05-08 15:02] mappuji commented on #770
Hi @snazzybunny and @aurinsomnia yes, some header is not properly formatted. It looks okay in MDWiki, but not in the GitHub Markdown preview. It is due to lack of space after the last hashtag of the header.

For example:
`### Header 3`
but written as
`###Header3`

I think it would be better if we have a consistent formatting and it would be great if there is any aspiring intern want to look throug

[2017-05-08 16:02] mappuji commented on #763
Hi @aurinsomnia and @snazzybunny thank you for your input. I really appreciate it. Basically, Open Learning Exchange is an open source movement at heart and open to everyone input as long as it is constructive.

@aurinsomnia has already suggested "Objective" as a must-have section on the steps and I think it is a good move. For @snazzybunny could you explain more about Archlinux's style of writing

[2017-05-08 16:45] Yurockkk commented on #566
@mappuji  Done! see [here](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/775)

[2017-05-08 17:05] zeivhann opened #776 "Add documentation for take-home"
We have a lot of groundwork to cover for the take-home (Android build) part of the OLE project.

We need to make at least one page that goes into the nitty-gritty of the application, for example:
- The backend workflow
- How the app updates automatically and receives resources
- Interactivity with the RPi server
- Plans for the future of the mobile project (Bluetooth capabilities, building on an a

[2017-05-08 18:02] kylemathias commented on #706
Im going to close this out. been 17 days with no changes.

[2017-05-08 18:02] #706 closed

[2017-05-08 18:34] leonardmensah commented on #776
👍

[2017-05-08 18:51] kylemathias opened #777 "Changing takehome.md navigation"
The mobile team is in the process of refining the instructions on takehome.md. We will be separating takehome.md into new pages and to help integrate these new instructions we need to add a navigation menu. This might involve adding a extra drop down to Projects->Take Home-> New Drop Down, and updating navigation on the takehome.md page. So to sum it up...

TO DO:
- [ ] separate takehome.md into n

[2017-05-08 18:55] mappuji commented on #566
solved by #775

[2017-05-08 18:55] #566 closed

[2017-05-08 19:53] snazzybunny commented on #763
Basically it is very short and to the point. Gives the necessary commands without much additional information. Perhaps we could make a quick guide or a longer guide because not interns have the same level of experience. Another useful case for this style is if we want to make a quick reference manual.

The link can be found here: [https://wiki.archlinux.org/index.php/installation_guide](url)

[2017-05-08 20:45] aurinsomnia commented on #770
Hi @mappuji,
 I have gone through each individual page on the ole github.io and checked for formatting issues as you requested. There aren't an overwhelming amount of issues, but of the 22 pages I looked through 5 had some header formatting issues.
The pages in question are:
- bellapps.md *(Each header is incorrectly formatted)*
- chat.md *(This page is more rough than anything, some issues with u

[2017-05-08 21:02] aurinsomnia commented on #764
@kylemathias With regards to the gitandrepositories.md page, it is the only page with a "Prerequisites" header, and the prerequisite listed is merely to have completed all previous steps. As such, with the continued goal of unifying formatting, I'd say that we could easily remove the prerequisites section with no loss in clarity or content. The section of the page following the "Objective" and "Pr

[2017-05-09 03:30] duongdo27 opened #778 "Replace deprecated bootstrap script for setuptools"
In the [HTML Resources page](http://open-learning-exchange.github.io/#!./pages/htmlresources.md#Couchapp_Installation) , the bootstrap script to install `setuptools` is **deprecated**. Therefore, we should use a more reliable method.

![screen shot 2017-05-08 at 10 16 58 pm](https://cloud.githubusercontent.com/assets/13564371/25834390/409301b2-343d-11e7-81bf-4aed89ec4836.png)

[2017-05-09 03:34] duongdo27 commented on #778
**Solution:** According to the DEFAULT_DEPRECATION_MESSAGE in the bootstrap script, we should install `setuptools` with `pip`.

[2017-05-09 04:34] aurinsomnia opened #779 "Lack of clarity with counting contributions using link in Step 9"
In Step 9 of the First Steps page, the step lists the different items a prospective intern must have completed before taking the survey. These items are pull requests, comments, and issues, and the last bullet point in the list is a simple piece of text saying "You can count them here." "Here" is a link to the list of commits to the master branch of the ole github.io. In my eyes, this isn't a very

[2017-05-09 17:05] mappuji commented on #770
Thank you @aurinsomnia 😄
I will create a list for to-fix:
- [ ] bellapps.md *(Each header is incorrectly formatted)*
- [ ] chat.md *(This page is more rough than anything, some issues with unfinished quotes, although no substantial header issues)*
- [ ] planetusermanual.md *(The "How do I navigate the dashboard" header is incorrectly formatted)*
- [ ] takehome.md *(The first 2 headers both require

[2017-05-09 17:08] mappuji commented on #778
Hi @duongdo27

You remind me of the first time when I run the instructions. You can go on with a pull request and suggest in the document that `pip install setuptools` is an alternative for installing the setuptools.

[2017-05-09 18:02] snazzybunny commented on #779
I agree. Interns should be able to count themselves anyway.

[2017-05-09 22:07] snazzybunny commented on #778
I did some changes which can be found at #783 regarding this issue.

[2017-05-10 01:28] #761 closed

[2017-05-10 08:28] mappuji commented on #458
I think we can close this issue since @paulbert has ported the app to the BeLL-App.
See #681 for complete docs.

[2017-05-10 08:28] #458 closed

[2017-05-10 14:30] mappuji commented on #769
Solved #768

[2017-05-10 14:30] #769 closed

[2017-05-10 14:40] mappuji commented on #778
Solved by #783

[2017-05-10 14:40] #778 closed

[2017-05-10 19:02] snazzybunny opened #786 "githubissues.md at step 6 does not have PR instructions or PR structure"
The link [here](http://open-learning-exchange.github.io/#!./pages/githubissues.md) does not have instructions on submitting PR. Also, it would be a good idea for interns to know what to include in the PR.

[2017-05-10 19:09] snazzybunny commented on #786
#787

[2017-05-11 01:06] mappuji commented on #503
solved by #788

[2017-05-11 01:06] #503 closed

[2017-05-12 04:51] aurinsomnia commented on #773
Given the issue has been resolved, shouldn't this thread be removed?

[2017-05-12 07:00] mappuji commented on #773
Thank you for reminding me @aurinsomnia . Issue is solve by #774

[2017-05-12 07:00] #773 closed

[2017-05-12 21:35] aurinsomnia commented on #786
I think this issue should be removed, because snazzybunny resolved it in merge #787.

[2017-05-12 21:36] #764 closed

[2017-05-13 09:08] #786 closed

[2017-05-13 09:42] snazzybunny commented on #770
I believe vagrant.md is solved. Chat.md has no header errors but may need refining. The other 3 files are referenced in the pull requests by @aurinsomnia.

[2017-05-16 17:39] kylemathias opened #797 "Add Check list for PR aproval"
I really like the format @mappuji is using to aprove pull request:

Some newer interns are already using this format, and i think we could all benefit from using it as a standard. I think it should be added some place in the first steps. Thoughts?

[2017-05-16 19:39] sarah-lu102 commented on #797
I think that's a good idea as well!

[2017-05-17 07:11] Yurockkk commented on #797
Agree!! I think it's very helpful for reviewer so I post the checklist in every PR I merge with only slightly difference in formatting. I just copy and past the "Reviewing pull requests and issues" section in internorientation.md. it looks like this:

[x] Check for issue number in pull request title
[x] Are there any unneeded files in the pull request?
[x] Did they make a branch for their patch?
[

[2017-05-18 00:24] waryhermit commented on #467
@dogi @mappuji @paulbert Did #768 fix this issue?

[2017-05-18 00:26] waryhermit commented on #517
@mappuji @dogi @paulbert Did https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/753 fix this issue?

[2017-05-18 00:29] waryhermit commented on #666
@dogi I don't think anyone will work on this issue until you can give more concrete details about the re-purposing. Might be a good thing to discuss during some happy hacking session.

[2017-05-18 00:30] waryhermit commented on #684
Fixed by #747 I think

[2017-05-18 00:30] #684 closed

[2017-05-18 00:31] #698 closed

[2017-05-18 00:33] waryhermit commented on #702
Fixed by #768

[2017-05-18 00:33] #702 closed

[2017-05-18 00:34] waryhermit commented on #724
Fixed by https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/747

[2017-05-18 00:34] #724 closed

[2017-05-18 00:36] waryhermit commented on #765
Fixed by #766

[2017-05-18 00:36] #765 closed

[2017-05-18 00:40] waryhermit commented on #770
@mappuji I checked all the files, they all seem fixed

[2017-05-18 00:40] #770 closed

[2017-05-18 16:11] #776 closed

[2017-05-20 09:05] snazzybunny commented on #797
I will add it to the PR tutorial.

[2017-05-22 09:42] Yurockkk opened #803 "Minor issues in takeHomeEmulatorSetup.md"
Here are some minor issues I found while following the step in takeHomeEmulatorSetup.md

1. the file directory is app -> java __-> pbell.offline.ole.org.pbell__ -> FullscreenActivity

2. the command of finding IP address on Mac is `ifconfig` instead of `ipconfig`

3. Do we still need the Note below? Or it has been solved [here](https://github.com/open-learning-exchange/take-home/pull/55) ?

<img w

[2017-05-22 16:54] kylemathias commented on #803
@Yurockkk for 1, 2 and 3 i think you are correct. You can add the extra step for ```ifconfig``` for mac. For the other step, you can also just remove it if you like.

[2017-05-23 08:52] Yurockkk opened #805 "Improvement for takehome.md"
As discussed in [here](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/798), I'll add a paragraph about we prefer developing/testing take-home app on real android device rather than android emulator and switch the order of “android device emulator setup” and “android device setup”

[2017-05-24 06:49] Yurockkk commented on #805
solved by [#806](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/806)

[2017-05-24 06:49] #805 closed

[2017-05-24 23:39] kylemathias commented on #779
@aurinsomnia I agree. I would just remove that check box. I think interns with this step should learn how to find and count there pull request.

[2017-05-24 23:41] kylemathias commented on #777
Solved with https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/798

[2017-05-24 23:41] #777 closed

[2017-05-24 23:45] kylemathias commented on #763
@snazzybunny @mappuji @aurinsomnia Is this still being worked on? i am going to close this by the end of the week if i don't hear back. You can make the changes and put in a pull request. Just make sure you reference this issue.

[2017-05-24 23:46] kylemathias commented on #725
@Ebuka-Chibueze are you still working on this? If not i will close this out by the end of the week.

[2017-05-24 23:49] kylemathias commented on #695
This is an extremely small problem that appears to require way more time than it is worth. Im closing this for now.

[2017-05-24 23:49] #695 closed

[2017-05-24 23:50] Ebuka-Chibueze commented on #725
@kylemathias I plan to finish it soon.

[2017-05-24 23:54] #592 closed

[2017-05-25 09:01] Yurockkk commented on #803
Solved by [#808](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/808)

[2017-05-25 09:01] #803 closed

[2017-05-25 14:27] sarah-lu102 opened #810 "innoproject.md"
had some broken links and grammatical errors. Also needs a link to wine (didn't know what that was when I first read it)

[2017-05-25 16:25] aurinsomnia commented on #763
@kylemathias I haven't touched it in a while. I still think it is a good idea to include an objective section, however many of the pages are lacking them still. It might take a bit, but I could definitely get it done, and I do think it would be a positive change. Currently the pages missing objective sections on the "First Steps" are vagrant.md, bellapps.md, nation.md and githubissues.md. I don't

[2017-05-25 16:31] kylemathias commented on #763
@aurinsomnia sounds good. Go ahead and make the changes and reference this issue.

[2017-05-25 17:39] #779 closed

[2017-05-25 17:47] #810 closed

[2017-05-26 14:53] paulbert opened #816 "Document zip upload of HTML resources"
Now that we can add HTML resources as a zip file, we should include that in the HTML resources documentation.  We should keep the old way as well since that gives interns an opportunity to learn about CouchDB and Couchapps.

The steps for the new way are as follows:

- Delete all unnecessary files from the app (.git folder, node_modules, maybe bower. If you're not sure, leave it in, but more files

[2017-05-30 15:02] #797 closed

[2017-05-30 15:54] sarah-lu102 commented on #816
@paulbert where in the app are the files .git folder and node_modules? I can't find it in couchapp, or the apps that I've generated

[2017-05-30 16:17] snazzybunny commented on #816
I may be wrong but I think he means that there may be unnecessary files included in some apps. Some apps might have git data etc. And depending on how the app is developed it might not be using node or package managers like bower, so there is nothing really to delete.

[2017-05-30 20:50] paulbert commented on #816
@snazzybunny @sarah-lu102 Yes there are some situations where you'll end up with unnecessary files.  The most common is probably the .git folder which will be created if you clone a repository from GitHub or if it's a repository you created.

As I type this, I'm realizing that in Windows that folder will be hidden until you show hidden files
https://support.microsoft.com/en-us/help/14201/windows-s

[2017-05-30 21:34] dogi commented on #467
@waryhermit thanks

[2017-05-30 21:34] #467 closed

[2017-05-30 21:35] dogi commented on #517
thanks @waryhermit

[2017-05-30 21:35] #517 closed

[2017-05-30 21:36] dogi commented on #725
@Ebuka-Chibueze awesome

[2017-06-01 15:45] sarah-lu102 opened #823 "update logo and add planet user manual to index.md"
* change logo on header and favicon to the new transparent version
* [planet user manual](http://open-learning-exchange.github.io/#!pages/planetusermanual.md) is not linked anywhere on the mdwiki currently, need to add to front page

[2017-06-01 20:50] Loshma93 commented on #816
@paulbert Yes your'e correct. It's better to remove unnecessary files from the App. I encountered this problem while I am pushing App to nation. It took more than an Hour. It may be due to number of files in the App folder.

[2017-06-02 14:24] #816 closed

[2017-06-02 21:35] snazzybunny commented on #763
@aurinsomnia Do you think vagrant.md, bellapps.md and githubissues.md shoud have an objective section?

[2017-06-02 21:51] kanishk1010 opened #827 "Incorrect no. of steps in FAQ"
The FAQ page in the Markdown Wiki mentions 10 initial steps in the answers to Q6 and Q7. However, as a new member, I could see there are only 9 steps involved in the 'FirstSteps.md' page.

![image](https://cloud.githubusercontent.com/assets/22456494/26746138/033ef234-47bc-11e7-8904-0d3dafddbc3f.png)

[2017-06-02 21:53] kanishk1010 commented on #827
'faq.md' can be updated with correct information

[2017-06-02 22:14] kanishk1010 opened #828 "Incorrect <username>.md link in 'firststeps.md'"
The step 3 in the 'firststeps.md' instructs the interns to post the following link in the gitter chat:
\<username\>.github.io/#!pages/\<username\>.md
![image](https://cloud.githubusercontent.com/assets/22456494/26746713/475e2c8e-47bf-11e7-9985-8162e2e254dd.png)
However, this link seems to be defunct at that point of time.

The rawgit link mentioned in 'githubandmarkdown.md' seems to be the accurat

[2017-06-02 22:16] kanishk1010 commented on #828
The link in the step 3 in 'firststeps.md' can be replaced by the 'rawgit' link mentioned in 'githubandmarkdown.md'.

[2017-06-02 22:24] Loshma93 commented on #827
@kanishk1010 I think the steps starts from 0-9. If I am correct there are 10 steps in firststeps.md page

[2017-06-02 22:32] kanishk1010 commented on #827
You are right. I missed that. We can close this one. Thanks!

[2017-06-02 22:32] #827 closed

[2017-06-02 22:37] aurinsomnia commented on #828
@kanishk1010 Good catch!
The proper format should be <username>.github.io/#!pages/profiles/<username.md> it's correct when given as an example in the actual githubandmarkdown page, but in the first steps page it's given incorrectly. Why don't you make a new branch and change that to be correct, not just replace it with the rawgit link.

[2017-06-02 22:40] Loshma93 commented on #681
@mappuji I am encountering problems while downloading "Almost Bejeweled" App from the repository. I think it would be better to remove it from the list.

[2017-06-02 22:49] Loshma93 commented on #590
@dogi I am working on Language Overview and Calendar Overview

[2017-06-02 22:49] aurinsomnia commented on #763
@snazzybunny as I mentioned prior, I think it makes it easier to digest, and helps with clarity. I'll work on them tonight and then throw up some PR's for you guys to take a look at and give some feedback.

[2017-06-02 23:45] kanishk1010 commented on #828
@aurinsomnia Thanks for pointing me to the right direction. Pull request #831 created with the suggested changes.

[2017-06-03 21:30] kanishk1010 opened #838 "Ask interns explicitly to create and fix at least one issue in step 6"
Step 6 in 'firststeps.md' should explicitly ask the interns to create and fix at least one issue get it reviewed before proceeding to the next step, so that the intern knows how to work on an issue before creating more.

Also, it will prevent confusion, when starting with step 8 and suddenly finding out that they were expected to work on an issue already in step 6.

[2017-06-03 21:36] kanishk1010 commented on #838
An instruction can be added at the end of step 6 like "Before proceeding to the next step, make sure you have created and fixed at least one issue in this Markdown Wiki"

[2017-06-03 22:09] kanishk1010 opened #839 "Step 8 can be made crisper"
Would be clearer to the intern if it is presented in a way that it is an extension of task 6.

[2017-06-03 22:19] aurinsomnia commented on #838
I don't think the step is unclear on the fact that you are creating an issue, resolving it in a branch, and merging it. Perhaps the introduction could use a concluding sentence that states explicitly you need to create and resolve an issue, but other than that I think the step is fine. That said I'll assign this to you, and you can make a pull request with changes you think might benefit the page,

[2017-06-03 22:34] aurinsomnia commented on #839
@kanishk1010 I think similar to #838 this is somewhat debatable, as the step does literally say "You will follow the same steps as in GitHub Issues, but will be working to improve this Markdown Wiki so that it is clearer and better for future use." That said, this process is about improving the wiki however you think is best, so if you think the phrasing can be improved and through that bring grea

[2017-06-03 23:12] kanishk1010 commented on #839
@aurinsomnia Thank you for the feedback. You are right. But I think it also leaves it open to a different interpretation.

 "You will follow the same steps as in GitHub Issues, but will be working to improve this Markdown Wiki so that it is clearer and better for future use." might, prima facie,  look like one has to follow the same guideline "but" this time has to do something different than befo

[2017-06-04 00:13] kanishk1010 opened #840 "Briefly introducing Crowdin and the 'Translation' tab in 'index.md' for any potential translator"
I am not really sure if we want it this way but just a thought - we can add a brief introduction to the 'Crowdin' platform and the 'Translation' tab in the 'index.md' page for any potential translator landing on/visiting the index page.

[2017-06-04 00:32] kanishk1010 commented on #511
@waryhermit My user.name on git config is different from GitHub username, but since my email is the same, I have not faced any issue (maybe I'm naive). However, if it is a good practice, or desirable for this project, we can standardize it along with some other parameters, as suggested by @sarvanivadali

[2017-06-04 01:03] aurinsomnia commented on #839
@kanishk1010 This looks good to me, well-written and clear. Go ahead and make a Pull Request!

[2017-06-04 01:09] aurinsomnia commented on #840
I personally don't think that that's necessary to be quite honest. Crowdin, while important, isn't the primary point of the project, and it's also introduced right away (in step 0). While the index isn't perfect, I don't think this is one of the changes I'd make. With that said, I'm only one voice, so if another admin thinks this is a relevant or important change, we can consider it.

[2017-06-04 01:18] kanishk1010 commented on #840
@aurinsomnia I understand that. Being new to the project, I do not have the complete picture of the priorities and objectives.

[2017-06-04 03:27] mappuji commented on #681
done @Loshma93

For others, you can add another app to the list.

[2017-06-04 08:55] ChenjieZhou opened #841 "The git commit message style should be mentioned in GitHub Issues"
[Create a Commit](http://open-learning-exchange.github.io/#!./pages/githubissues.md#Create_a_Commit) in Github Issues does not mention the style of commit.

It is important for everyone in a team to write a standard style of commit. This [commit style guide](http://udacity.github.io/git-styleguide/) was created by Udacity is a good reference, we could add this link to there.

[2017-06-04 19:49] ChenjieZhou opened #842 "Typos in FAQ"
Last line of Q7, "until you **compete** the first steps" should be **complete**.

Third part of Q14, "**preferrably** one that" should be "**preferably**"

[2017-06-04 20:21] ChenjieZhou commented on #842
The [link](http://open-learning-exchange.github.io/#!pages/faq.md) of FAQ page.

[2017-06-04 22:09] ChenjieZhou opened #844 "Questions links cannot navigate to correct anchor in faq.md"
Some question links in [FAQ page](http://open-learning-exchange.github.io/#!pages/faq.md) cannot navigate to correct anchor like Q14 and Q12 link which will link to a blank page.

[2017-06-04 22:45] kanishk1010 commented on #838
While I am working on this, there is one more thing which is not very clear. It says "If you know how to solve an issue, be sure to provide a detailed account of your research and show how to fix it". Where exactly should one provide these details?
@Loshma93 Is this what you were referring to in the requested changes in #831
@mappuji You mentioned that this is no longer required "since the necessa

[2017-06-04 23:09] ChenjieZhou opened #846 "There are two typos in Github Issue Page"
Just found two typos in [Github Issue](http://open-learning-exchange.github.io/#!pages/githubissues.md) Page

1. In [Create Issue](http://open-learning-exchange.github.io/#!./pages/githubissues.md#Create_an_Issue) Tips, "changes you **dont** want" should be "**don't**"

2. In [Wait for Review](http://open-learning-exchange.github.io/#!./pages/githubissues.md#Wait_for_Review), "has been **aprroved*

[2017-06-04 23:31] kanishk1010 commented on #839
@aurinsomnia glad you liked it. Created a pull request #848

[2017-06-05 17:43] kylemathias commented on #841
I agree a "commit style" would greatly help clarity for everyone. I think everyone would agree that it is a good idea, but i think the biggest hurdle is getting people to use it.

The challenge is not getting this idea approved, its getting the leaders to commit to enforcing it. I am wiling to enforce it and use it, but every leader needs to agree to it.

So before you make the change, wait for ap

[2017-06-05 17:51] Loshma93 commented on #841
@ChenjieZhou That's a good explanation about "Commit". I agree with your point.

[2017-06-05 17:54] kylemathias commented on #842
@ChenjieZhou Go ahead and make the changes and create a pull request.

[2017-06-05 17:54] #828 closed

[2017-06-05 17:55] kylemathias commented on #844
Solved by #845

[2017-06-05 17:55] #844 closed

[2017-06-05 18:05] ChenjieZhou commented on #842
@kylemathias Yes, I created a pull request #843

[2017-06-05 18:09] zeivhann commented on #841
Sure, I feel that this would make things streamlined and uniform. Sounds like a good plan to me.

[2017-06-05 18:15] sarah-lu102 commented on #841
Yes, this is a good idea

[2017-06-05 18:16] Loshma93 commented on #681
@mappuji I will add more apps to the list if I find some.

[2017-06-05 18:16] #842 closed

[2017-06-05 20:12] kanishk1010 commented on #841
I think this is a good idea. We can at least incorporate the "type: subject" format, which will also include the (issue#). Elaborate explanation might not be necessary as we already explain the issue and the fix whenever we create one and we mention the issue# in the commit comment.

[2017-06-05 21:58] kanishk1010 commented on #838
Step 6 updated as per initial suggestions. Please refer pull request #853.

[2017-06-05 22:51] kanishk1010 opened #854 "make table alignment in 'team.md' consistent"
This is a minor one but I feel the table alignment of 'Active Volunteers' and 'Active Interns' should be consistent.

reference [team.md](http://open-learning-exchange.github.io/#!pages/team.md)

[2017-06-05 23:41] Loshma93 commented on #838
@kanishk1010 In #831 I asked you to create an example like this Loshma93.github.io/#!pages/profiles/Loshma93.md. I hope you are clear about what I meant.

[2017-06-06 03:38] ChenjieZhou commented on #841
@kanishk1010 It may work for the pull requests which fix issues but not all of them. Some pull requests are adding new features or updating.

[2017-06-06 03:45] #846 closed

[2017-06-06 15:29] adhikara opened #856 "Grammatical error fix in Git Repositories, under Sync Your Fork"
As part of step 6, here is my first issue, for the following page:

http://open-learning-exchange.github.io/#!pages/gitandrepositories.md

"You should see some variation **on** this response:"

This should be changed to _in_ this response.

[2017-06-06 17:30] alexkarasik opened #857 "Create numbered, step by step workflows on Git Repositories when apporpriate"
At the bottom of each section, I think it would be useful to layout the workflow and most of the commands in a step-by-step process as much as possible.

[2017-06-06 17:30] alexkarasik commented on #857
It would look something like this:

Make sure you are synced up properly to the upstream repository at the beginning of every session with the following commands:
1. git fetch upstream
2. git checkout master - *should get a message that your branch is up to date*
3. git merge upstream/master

[2017-06-06 17:41] sarah-lu102 commented on #857
@alexkarasik what do you mean by each section?

[2017-06-06 17:44] sarah-lu102 commented on #856
good catch but I think it should be "of this response"

[2017-06-06 18:08] alexkarasik commented on #857
Each step is broken up into issues, like "Create an Issue", "Create a Commit", "Create a Pull Request". A step by step summary at the end of each section would nicely summarize the already described steps.

[2017-06-06 18:43] aurinsomnia commented on #854
I agree, especially given we have three tables on the page, it looks too haphazard and disorganized to have all 3 tables with different dimensions. This might be a little tricky, but if you could fix the tables, I think it would be a worthwhile change.

[2017-06-06 18:59] kanishk1010 commented on #854
I will work on it. Would be a good learning experience!

[2017-06-06 19:04] adhikara commented on #856
Ahh, you're right. Should have checked the context. Should I send a pull request?

[2017-06-06 19:05] sarah-lu102 commented on #856
yes!

[2017-06-06 19:07] sarah-lu102 commented on #854
@kanishk1010 just a suggestion for next time- put a link in your issue description so people can reference it more easily. It's a good idea though!

[2017-06-06 19:16] sarah-lu102 commented on #857
ok! You can make a pull request for this so we can see what edits you were thinking of - make sure to include the issue number and a link to the issue in your PR description.

For future issues, we also recommend that you put a link that refers to the section that you want to change so that it is easier for others to see where you want to make your changes. For example in this issue description, I

[2017-06-06 19:41] kanishk1010 commented on #854
@sarah-lu102 That makes sense. I would keep that in mind. Thanks for the advice!

[2017-06-06 19:44] kanishk1010 commented on #838
@Loshma93 Thanks for clarifying!

[2017-06-06 20:20] ChenjieZhou commented on #857
@alexkarasik Totally agree. And it would be more clear if separate how to use Github, how to write Markdown and how to operate BeLL.

[2017-06-06 20:36] #838 closed

[2017-06-06 21:51] kanishk1010 commented on #854
I have made some changes to the structure and formatting. Please have a look. Pull request #858 created.

[2017-06-07 07:21] ChenjieZhou opened #859 "Update Nation BeLL with "internet connection" error."
In Nation BeLL [Different kinds of update](http://open-learning-exchange.github.io/#!./pages/nation.md#Different_Kinds_of_Update), I got this "internet connection" error at the first time. I could not update my Nation BeLL which happened on Safari. After I changed my browser to Chrome, it worked.
We could add a tip for this error.

[2017-06-07 20:58] kkearney95 opened #862 "Step 3 Improvement"
I think it would be a nice addition to add an example picture of a github profile. It would help convey the minimum requirement and hopefully increase new profile quality. Attached is a very basic template of my idea.
![johnsmith md](https://user-images.githubusercontent.com/27171307/26901067-7abadab4-4ba2-11e7-8136-e111abae1ee1.png)

[2017-06-07 22:33] kanishk1010 opened #864 "Multiple typos and punctuation mistakes in 'internorientation.md'"
reference: [internorientation.md](http://open-learning-exchange.github.io/#!./pages/internorientation.md)

I can correct them and create a pull request.

[2017-06-07 22:59] kanishk1010 commented on #864
Created a pull request #865 with the corrections. Please have a look.

[2017-06-07 23:13] kanishk1010 commented on #859
@ChenjieZhou I think we have been instructed to access BeLL with Firefox as of now. Please check [this link](http://open-learning-exchange.github.io/#!./pages/bellapps.md#MacOS(X)_and_Ubuntu)

[2017-06-08 00:07] Loshma93 commented on #862
Instead of adding a picture I would suggest to add link to sample profile pages: https://github.com/open-learning-exchange/open-learning-exchange.github.io/tree/master/pages/profiles. By doing this you can go through more pages to have an idea. This is my view let others give their view too.

[2017-06-08 00:11] #859 closed

[2017-06-08 00:32] #864 closed

[2017-06-08 13:24] #856 closed

[2017-06-08 13:29] #725 closed

[2017-06-08 13:39] #839 closed

[2017-06-08 14:15] adhikara commented on #862
I would say that one of the pages I saw there was quite limited and was what I chose to model mine after -- and it was denied the first time, citing a need for more features.

[2017-06-08 14:18] adhikara commented on #841
I, too, agree as I found difficulty understanding expectations.

[2017-06-08 17:22] sarah-lu102 commented on #862
maybe we should edit the instructions to tell them to add as many markdown elements as possible, and if not, their pull request may not be approved until they do so.

[2017-06-08 19:01] #854 closed

[2017-06-09 14:04] adhikara opened #867 "Fixing typo in index page"
http://open-learning-exchange.github.io/#!index.md

"Our Virtual Interns program is part of the software development strategy by Open Learning Exchange (**OLÉ**)" should probably be corrected to _OLE_. Fun note: "Olé" means "Bravo!" in Spanish. I will send a pull request.

[2017-06-09 15:28] leonardmensah commented on #841
Good resource to include https://chris.beams.io/posts/git-commit/

[2017-06-10 16:37] Yurockkk opened #870 "Clarify GitHub setting in takeHomeAndroidStudioSetup.md"
I found myself a little confused about GitHub setting while following [Android Studio Setup](http://open-learning-exchange.github.io/#!./pages/takeHomeAndroidStudioSetup.md). To make Take-Home setup process clearer, we can add a little more contents about GitHub setting in takeHomeAndroidStudioSetup.md. I might add a list somewhere in the page.

1. Find and fork the correct repository
2. Clone you

[2017-06-11 20:16] adhikara opened #875 "Standardized intro page has been changed in Github?"
I noticed here,

http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md#Clone_your_GitHub_repository_username.github.io

that there is an instruction asking us to clone the forked repository like this:

`git clone https://github.com/EmilyLarkin/EmilyLarkin.io.git`

Shouldn't that be now something more like, `https://github.com/EmilyLarkin/EmilyLarkin.github.io`

Let me know!

[2017-06-11 22:33] snazzybunny commented on #875
The first command doesn't work for me but using https://github.com/EmilyLarkin/EmilyLarkin.github.io.git does. Just missing the github part I believe.

[2017-06-12 13:32] sarah-lu102 commented on #875
<img width="672" alt="capture" src="https://user-images.githubusercontent.com/12993520/27036189-07e73e20-4f52-11e7-9b5e-5d4ba1bff52f.PNG">

[2017-06-12 16:04] kylemathias commented on #870
i think the "OLE | Virtual interns" is site wide and is still fine for us because we are technical all interns. If you wanted to, you could add the steps for the GitHub cloning and forking steps.

EDIT: i just noticed the tab heading changes with what we are looking at. I really dont know how to go about fixing that. if you can find a way, that would be great.

[2017-06-12 16:20] Yurockkk commented on #870
@kylemathias I'll make a PR for the issue

[2017-06-12 22:46] Yurockkk commented on #870
@kylemathias Done. look at [here](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/877)

[2017-06-13 17:03] adhikara opened #879 "adding a little bit of clarification"
http://open-learning-exchange.github.io/#!./pages/nation.md#Different_Kinds_of_Update

I got really confused here

"Next, click on "Publications" and sync the publications. "

I think it would be useful to write, 'Next, click on "Publications", under the Manager page, and sync the publications.'

[2017-06-13 20:59] alexkarasik opened #881 "Space after step numbers in Introductory steps"
Not a big deal, but in Step 0 @ http://open-learning-exchange.github.io/#!pages/firststeps.md, there is no space after the step number and the sentences.

[2017-06-13 21:13] alexkarasik opened #882 "Add a brief description to the videos in Useful links"
The titles are pretty self evident, but I think an additional sentence describing the content on the videos on each page will be a useful addition.

[2017-06-13 21:14] alexkarasik opened #883 "Add a gitter.im link to all sidebars"
I think with the frequency of how often gitter.im is used, it may be helpful to have an additional tab on the left hand sidebars that links automatically to gitter.im. It may take a moment for some people to find the link to get back there if it is not already open.

[2017-06-13 21:19] duongdo27 commented on #883
We already had the **Chat** in the top nav. You can go check and see.

[2017-06-13 21:23] alexkarasik commented on #883
Gotcha!

[2017-06-13 21:23] #883 closed

[2017-06-13 21:29] alexkarasik opened #884 "Include a FAQ section on each page"
I think some unique FAQ's will come up for each page and we can use it clarify the goals of the page and section and address and question that comes up more than once. We can add those all to the FAQ page itself as well.

[2017-06-13 23:54] #875 closed

[2017-06-14 02:29] LKhadka opened #886 "Make the exit button more noticeable"
The exit button that appears when you click on the image in the index page is hard to notice and in an odd place. I suggest moving it to the top right corner where exit buttons are usually place. I have attached a basic idea of what it would like.
![basic idea](https://user-images.githubusercontent.com/6295956/27112904-5a96315c-507f-11e7-90cf-496dd23d6c8d.png)

[2017-06-14 12:44] adhikara commented on #867
https://rawgit.com/adhikara/adhikara.github.io/master/#!index.md

[2017-06-14 17:31] adhikara opened #890 "A small clarification for new GitHub users"
http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md#Explanation_about_repositories_and_syncing_process

"Thus, you need to use git fetch upstream, git checkout master, and git merge upstream/master"

I would say changing this to, "Thus, _following the steps below,_ you need to use git fetch upstream, git checkout master, and git merge upstream/master" would help as readers woul

[2017-06-14 17:50] sagun98 opened #892 "Steps on syncing local (origin/master) and username.github.io on GitHub"
[Click here](http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md) for the link of the "Keeping Fork Updated" page of Step 5

The description in the highlighted red box explains the process to sync the local repo to the remote Github repo. However, adding few more screenshots of the steps in this [page](http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md) can

[2017-06-14 18:14] LKhadka opened #894 "Consider switching to specific tag or commit hash in the URL instead of a branch name"
Rawgit caches files permanently on the first request ([more info](https://github.com/rgrove/rawgit/issues/41)). When I made changes to my profile in the Github and Markdown tutorial step, my rawgit was not updated and I ended up making several unnecessary commits.
![image](https://user-images.githubusercontent.com/6295956/27153584-a6856c66-5117-11e7-96bb-02a30a4961b2.png)

[2017-06-14 18:21] sagun98 commented on #894
I ran into the similar problem. It would be better to put a warning tip in MDwiki to alert upcoming interns about this problem and suggest them to get rid of caches by going incognito or clearing cache manually.

[2017-06-14 18:27] LKhadka commented on #894
I guess that would be much easier than looking for specific commit hash.

[2017-06-14 18:34] kylemathias commented on #882
@alexkarasik what videos are you talking about? want to give us an example of how you would change it.

[2017-06-14 18:37] kylemathias commented on #884
@alexkarasik giving us details on what exactly you would add to a FAQ would help. It would be a good idea to keep in mind when you are going over a page, but we shouldn't add a FAQ with out at least 5+ questions and answers. You can make a pull request for this change, but it might take  a little bit before we can get to 5+ questions for each page we thing we should add a FAQ to.

[2017-06-14 18:51] LKhadka opened #895 "Update how to preview on Windows in README.md"
Text editors like Brackets and VS Code and Atom (with extensions) can live reload static files on the fly. I have been using VS Code to edit and preview changes locally on Ubuntu and Windows.

[2017-06-14 19:01] sagun98 opened #896 "Problem while going back to github page from http://open-learning-exchange.github.io/#!index.md"
Whenever I click on the [link](https://github.com/open-learning-exchange/open-learning-exchange.github.io) highlighted in the picture below and try to come back using back button, it does not work. It seems like the back button is redirecting users to the same [page](http://open-learning-exchange.github.io/#!index.md) again and again.

![imageedit_6_9198180127](https://user-images.githubuserconten

[2017-06-14 19:17] sagun98 opened #897 "FAQ page inconsistent in smaller screens (mobile devices)"
There is horizontal scrolling in FAQ page. This problem is due to the long links in the body of the page.
![faq](https://user-images.githubusercontent.com/15079734/27150316-5f80d1f8-510c-11e7-9df9-31035b8f4279.png)

[2017-06-14 19:18] LKhadka opened #898 "Reduce the spacing between the header and the content"
The space between the header and the content is quite big. The margin-top value is set to a value of 71px and I think it would look better if the gap was not so big.
![image](https://user-images.githubusercontent.com/6295956/27198199-cf2296f2-51d6-11e7-91cb-0e761a1cf644.png)

[2017-06-14 19:32] LKhadka opened #899 "Use Sticky Footer"
Make the footer always stick to the bottom of the page even where there is not enough content to push it down. I think it will look nicer and consistent that way.
![image](https://user-images.githubusercontent.com/6295956/27150704-da20523e-510d-11e7-9227-dfe85adeca3d.png)

[2017-06-14 19:46] sagun98 opened #900 "Checkbox for the completed steps"
Create a checkbox in front of the steps to track the progress as shown in figure below in the [first step](http://open-learning-exchange.github.io/#!pages/firststeps.md) page.

![imageedit_26_9899613793](https://user-images.githubusercontent.com/15079734/27151394-0eafafa2-5110-11e7-84d1-6a795b7bc878.gif)

[2017-06-14 19:49] LKhadka commented on #900
That sounds pretty useful. I think local storage can be used to persist the checked items even after the browser is closed.

[2017-06-14 20:18] yoeng327 opened #901 "Request for more clarification in step3 of "First Steps""
Hello.
Previously, I was working on the step3, but I struggled with it for a long time because of directory's location.

On the beginning of the step3, could you specify that people need to change the directory to "usename.github.io" in order to work on step3?

I will add the explanation, "In order to do Step 3 and Step 5, you should be in the directory, "username.github.io". If not, you would hav

[2017-06-14 20:30] yoeng327 opened #902 "Request for more specification and clarification in step4 of "First Steps""
Hello.

Previously, I was working on the step4, but I struggled with it for a long time because of directory's location.
It did not mention that new interns should be in "ole--vagrant-vi" directory in order to work on step4 and step7.

On the beginning of the step4, could you specify that people must be in "ole--vagrant-vi" in order to work on step4 and step7?

Moreover, could you specify that "Va

[2017-06-14 20:42] #890 closed

[2017-06-14 20:53] alexkarasik commented on #884
I don't think I'd be in the best position to write this out actually. I've had a few questions and made a couple of mistakes along the way, but I have no idea how common or frequent they may be. If there were some common questions about the process that come up that might be helpful, but I wouldn't really know what those would be, so this should probably be left for another day. Should I close thi

[2017-06-14 21:01] adhikara opened #903 "adding a simple colon for clarity"
http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md#Sync_your_fork

"If you find yourself needing to rebase your forked repository, the following two links should help:"

[2017-06-14 21:07] alexkarasik commented on #882
Sorry, I meant just any of the useful links. Some of them were videos so that is what came to mind.
Here's an example and I can do it for them on all of the pages.
https://rawgit.com/alexkarasik/alexkarasik.github.io/linkexample/#!pages/gitandrepositories.md

[2017-06-15 00:06] sagun98 opened #907 "Dates in readable format in Team.md"
Link to Team.md: http://open-learning-exchange.github.io/#!pages/team.md

The dates could be separated by '**/**' or '**-**' to make it readable.
For example: Change `20170610` to `2017-06-10`
![joindat](https://user-images.githubusercontent.com/15079734/27159637-0c5b3900-5134-11e7-8c75-de5c0e6d4a3a.png)

[2017-06-15 04:41] Loshma93 commented on #907
@sagun98 I agree with you. The format 2017-06-10 is more readable format than 20170610. But let's wait for others opinion as well.

[2017-06-15 16:34] #907 closed

[2017-06-15 17:02] alexkarasik opened #910 "Sidebar disappears when scrolling up"
The sidebar with the table of contents on the start here page is prominent when initially scrolling down, but when a user scrolls back up, it disappears, even if they scroll back down again after they have scrolled up. It simply disappears and goes back to the the top again, but I think it would be most useful if it remains on the side, no matter what the action by the user may be.

I think a litt

[2017-06-15 17:11] alexkarasik opened #911 "Tell new Users to implement at least 5 new pieces Markdown in their profiles"
I think some people are not sure about how many different pieces of markdown they should be using in the Github and Markdown section. I think recommending using 5 different pieces of syntax will help give them more guidance on this issue.

[2017-06-15 17:43] LKhadka opened #912 "Make the headers link to their specific pages in First Steps"
When I am going through the first steps, sometimes I get confused about which link I should click to view the instructions in detail especially in those which have a lot of text. I think it would be easier to navigate if the headings were to link to their respective instructions.

[2017-06-15 18:49] kylemathias commented on #886
You can  go ahead and make a PR.  but i caution you and fixing cosmetic issues over functional. We can touch up visual bugs once our foundation code is running smoothly.

[2017-06-15 18:51] kylemathias commented on #892
Sound good to me.  i like adding visuals to steps.  go ahead and make a PR with the changes so we can see what you are talking about.

[2017-06-15 19:00] LKhadka commented on #886
can you please take a look at [this?](https://github.com/open-learning-exchange/open-learning-exchange.github.io/pull/889)

[2017-06-15 19:21] LKhadka opened #914 "Tell users to include their rawgit and add a link to sample profile pages"
When people are doing their first pull request, they either forget to add a link to their rawgit or do not have enough markdown or styling and I always see the reviewers reminding them to do so. I think it would be better to add a small note about this at the end of the GitHub and Markdown page

[2017-06-15 19:24] duongdo27 commented on #914
@LKhadka  I agree with you. Makes some changes for it.

[2017-06-15 19:43] kylemathias commented on #895
Could you explain this issue a little more for us?

[2017-06-15 19:44] kylemathias commented on #896
I just tried going to http://open-learning-exchange.github.io/#!index.md , and then hit the back button to this issue, i am able to get back here fine. Windows 10, Chrome.

[2017-06-15 19:49] kylemathias commented on #897
The screen size you are show is extremely small. I just tested it on my phone and this is what it looks like on a galaxy s7:
![screenshot_20170615-124601 1156](https://user-images.githubusercontent.com/26488295/27198901-f9e7a1b0-51c8-11e7-9ddd-7967555d7c9c.png)

I dont think this issue is top priority right now.

[2017-06-15 19:50] kylemathias commented on #898
This is a preference more than functionality issue. Issues like this are going to be fine to be left alone for some and others not. Try to focus on issues that are unquestionably needed to be changed/fixed.

[2017-06-15 19:52] kylemathias commented on #899
Sounds like a good change to me. Go ahead and make the changes and a Pull request. Let us know when you have a rawgit example in chat.

[2017-06-15 19:52] LKhadka commented on #898
gotcha

[2017-06-15 19:52] #898 closed

[2017-06-15 19:55] kylemathias commented on #900
This is a good feature to implement. I think this might be more cumbersome project than it first appears. We do not have an active data base in witch you could store this server side(i think), but you could look into making a cookie for individual users when they first visit the site and track the check boxes that way.

You can make the fix and Pull request when ever. I wish you luck.

[2017-06-15 19:57] kylemathias commented on #901
This sounds like a perfect little pull request you could do. Feel free to make the changes and then create a pull request while referencing this issue. Fixing issues like this is what the intern first steps is all about.

[2017-06-15 19:58] LKhadka commented on #895
It's from the how to preview section of the README. I think information about text editors can be added in this section.
![image](https://user-images.githubusercontent.com/6295956/27199122-805e16fa-51da-11e7-84af-588813f5e638.png)

[2017-06-15 19:59] kylemathias commented on #902
like i said in your previous issue #901, i think it would still apply here:
"This sounds like a perfect little pull request you could do. Feel free to make the changes and then create a pull request while referencing this issue. Fixing issues like this is what the intern first steps is all about."

[2017-06-15 20:03] kylemathias commented on #884
i will close this issue for now (for cleanliness), but as you move along into the internship, keep this in mind. Then if you ever come up with a solid 5 FAQs, then go ahead and make the changes and pull request.

[2017-06-15 20:03] #884 closed

[2017-06-15 20:21] kylemathias commented on #882
Sure, little details about what the links are about would help. go ahead and make the changes and pull request.

[2017-06-15 20:23] kylemathias commented on #911
sounds good to me. Adding something like "use a minimum of 5 different markdown elements" would help. Go ahead and make the changes and the pull request.

[2017-06-15 20:28] kylemathias commented on #912
I agree with the headings being links, BUT there was an issue i found out while making the [Take-Home](http://open-learning-exchange.github.io/#!pages/takehome.md) pages. If you make the headers a link, the list menu dose not display correctly. The way i fixed this was by adding an additional link at the top of the description paragraph like so.
![image](https://user-images.githubusercontent.com/2

[2017-06-15 20:30] #886 closed

[2017-06-15 20:51] kylemathias commented on #914
I don't think its said anyplace to make a rawgit when making a PR. If you can find the right place to put it, im all for the change.

[2017-06-15 21:04] kylemathias commented on #895
This might be a preference change. You could add something about "Hey you can use an editor like:_____" that would be fine, but using the rawgit and GitHub editor is what most of us use because its a true view on how it will be displayed. If you want to make the change, go ahead, if you don't think it would be a good idea in light of this new information, go ahead and close this out.

[2017-06-15 21:16] LKhadka commented on #912
You're right. I had a similar issue when I was trying to link them. All the steps have a link to their pages in their descriptions. So, would it still be okay to add a link at the top of the description paragraph?

[2017-06-15 21:19] LKhadka commented on #895
I guess it would be better for newcomers to get used to GitHub editor rather than that but I think it would be okay to add a small info about editors so that they can work when they do not have internet.

[2017-06-15 21:20] kylemathias commented on #912
That would be my soultion, but it should be a majority voted for IMO. You can make the changes and the pull request.

Be wary, this might be more work then initial perceive. You are going to have to change the paragraphs that each of these links are in in-order to keep clarity.

[2017-06-15 22:14] Loshma93 commented on #896
@sagun98 I tried to go back from index.md to back. I encountered the same issue which you have specified. I am using Windows 8, chrome. I think it will differ from OS to OS. Because it is working fine for @kylemathias

[2017-06-15 22:15] LKhadka commented on #896
I think this only happens when you go to http://open-learning-exchange.github.io/ and not when you go directly to http://open-learning-exchange.github.io/#!index.md. Ubuntu, Chrome.

[2017-06-15 22:20] #903 closed

[2017-06-15 22:25] #894 closed

[2017-06-15 22:31] LKhadka commented on #912
I am closing it because I think it would be redundant to have so many links and only step 8 which has a lot of text would benefit from it.

[2017-06-15 22:31] #912 closed

[2017-06-16 05:05] yoeng327 opened #919 "Request for diverse tutorials of Markdown"
Hello.

I think it would be better to post the links of various tutorials of Markdown in the "Github and Markdown".
If we post the some excellent links of Markdown tutorials in "Github and Markdown", it would be efficient for new interns to create diverse things with Markdown.

Could we post more links of Markdown tutorials in the "First Steps"?

Sincerely,
Evan

[2017-06-16 06:41] yoeng327 commented on #900
Hello.
I think it is a good for new interns to have personal account's checkboxes.
The reason is that it would be complicated not having checkboxes while some steps have not finished.

I think it should be created at the beginning of "First Steps"!

[2017-06-16 06:57] yoeng327 commented on #911
I think it is good idea because that many interns should use diverse Markdown functions at first. It will help for new interns to learn how they can use Markdown in flexible ways. At lease 5 should be good. Make the changes and the pull request.

[2017-06-16 07:10] yoeng327 commented on #914
Hello.

It would be good to write down the rawgit when making a PR. Previously, a leader asked me to put down the rawgit link in my PR, so I did that. However, many first interns seem not to include the link in their PR.

Go ahead and make it changes and PR.

[2017-06-16 09:12] yoeng327 opened #924 "Further explanations about the "Become an Administrator" page in step4"
Hello.

I think it would be better to post the further explanations about "Become an Administrator" page.
The following explanations are better to be added:
1. If someone turns off the laptop or computer while staying on "Become an Administrator" page, it would go to "Member Login".
2. If it pops up "Member Login" page instead of "Become an Administrator" page, you should use the code "vagrant ini

[2017-06-16 09:23] yoeng327 commented on #879
Hello,
Right.
I think it should write that "Publications" is under the Manager page. Thus, new interns can realize that they should click "Publications" under the Manager page, and sync the publications.

[2017-06-16 15:58] kylemathias commented on #896
I think i will close this for now, feel free to reopen if you find a solution.

[2017-06-16 15:58] #896 closed

[2017-06-16 16:58] #681 closed

[2017-06-16 16:59] #635 closed

[2017-06-16 16:59] #504 closed

[2017-06-16 17:00] snazzybunny commented on #763
#834 and #833 are merged. Closing this issue.

[2017-06-16 17:00] #763 closed

[2017-06-16 18:20] LKhadka commented on #919
I think it would be hard for beginners to make changes to javascript since its written in jquery and looks complicated. I agree that it would be nice to have some Javascript tutorials.

[2017-06-16 18:26] LKhadka commented on #910
I don't have this issue. Can you add a screenshot or something?

[2017-06-16 18:42] 21stChannel opened #926 "More troubleshooting in step 2 & 4"
When I first tried accessing http://127.0.0.1:5985/apps/_design/bell/MyApp/index.html, I was redirected to an error page saying "no_db_found". And I checked that the "apps" and some other DBs were missing even if "vagrant up" did not show any error messages. There might be some glitches in downloading/unarchiving the files that corrupted the integrity.

So my suggestion for weird problems in step

[2017-06-16 18:57] #899 closed

[2017-06-16 21:57] navneetkarnam opened #929 "Number of Pull requests, comments in First steps"
- We should add the number of pull requests, comments and issues that the intern would have completed after each step in the **"first steps"** page. So that it is easier for them to keep track of the work they have completed.
- I see that this has been specified at **step 8**. But its good to specify the same after the previous steps too.

[2017-06-16 22:01] navneetkarnam commented on #926
I faced a similar situation too. I believe the **"Vagrant destroy"** and rebuilding with **"vagrant init"** would work and then we can **"vagrant up"** and check the status. It worked for me this way.

[2017-06-16 22:20] navneetkarnam commented on #914
It is mentioned to comment the rawgit link in the gitter.im chat. I suggest that we add below the same that the rawgit link has to be mentioned while creating a PR.

<img width="1011" alt="screen shot 2560-06-16 at 6 17 34 pm" src="https://user-images.githubusercontent.com/16421653/27246583-86212762-52c0-11e7-9b90-dce8806acdae.png">

[2017-06-16 22:25] navneetkarnam opened #930 "Markdown and HTML"
- This page that shows the cheatsheet of Markdown which is compared with the HTML elements I feel gets a bit confusing at the first look.
- I think we must just put the Markdown cheatsheet in here instead of having a comparison of it with HTML so as to reduce confusions while creating the md page.
- I personally got confused with this and had used the HTML elements in between while creating my Mar

[2017-06-17 00:36] 21stChannel commented on #929
Very good suggestion, as I sometimes need to go back to the big picture and check it :P

[2017-06-17 02:48] 21stChannel opened #935 "Followed step 7 and got something weird"
Hi all,

I followed the procedure in step 7, updated the app to version 0.13.* I guessed, then got a "crashed" page like this:
<img width="1265" alt="qbjietu20170616-194404 2x" src="https://user-images.githubusercontent.com/24657165/27249518-796d6e34-52cc-11e7-9697-9c092229d58b.png">
I have no idea how to fix it...Is it always safe to update?

[2017-06-17 02:56] 21stChannel opened #936 "Need for rephrasing the instruction in step 2"
In step 2, it says:
Now that you are in the right directory, check the status of your Vagrant machine with vagrant global-status. You should have the following message:
[code]
If you have a different message, either your Vagrant machine is powered off, or you have multiple machines with the same name, or you are experiencing some other technical issue.
***
For the first look to the instruction, ne

[2017-06-17 02:59] 21stChannel commented on #919
Good advice as MD will be heavily used in the project. It will be better if examples for each MD syntax can be given.

[2017-06-17 03:02] 21stChannel commented on #900
It will be better if a checklist of tasks can be added at the bottom of each task...

[2017-06-17 03:07] 21stChannel commented on #930
Yes, I think we should replace the HTML example with the actual MD layout. Sometimes I need to think about how this HTML layout looks, quite confused.

[2017-06-17 03:32] navneetkarnam commented on #935
Try updating this using the google chrome or Firefox browser! It should work. I got the same error when I tried updating using the safari browser on Mac and later tried with google chrome, it worked fine!

[2017-06-17 04:30] sagun98 opened #937 "Updating image of Nation bell of step 7"
In the [Nation Bell Step 7](http://open-learning-exchange.github.io/#!./pages/nation.md), it is mentioned that we could see a publications ready to be downloaded in the description but the image shows the "Update Available" button only.

We could update the image and add the Publication button too.
![issuue1](https://user-images.githubusercontent.com/15079734/27250104-1f69c9cc-52eb-11e7-8c7e-1bf6a

[2017-06-17 04:31] 21stChannel opened #938 "Should add step tag to the "first step" dropdown"
<img width="365" alt="qbjietu20170616-212558 2x" src="https://user-images.githubusercontent.com/24657165/27250108-6d8d6250-52da-11e7-8bef-9da3011959e5.png">
When using this dropdown for fast navigation, it's good to have something like Step 2: Vagrant, Step 3: GitHub and Markdown, etc to indicate which step it is related to.

[2017-06-17 04:34] 21stChannel commented on #937
And I have an additional question is, the Publications is 1 for me, but the instruction says it seems to be 2...Hmm

[2017-06-17 06:43] sagun98 opened #941 "The number of publication in the Nation Bell page"
The description in the [nation bell ](http://open-learning-exchange.github.io/#!pages/nation.md)page says that there are two publication ready to be downloaded but I see only one.

If number of publication is going to vary then it would be better to replace "two publication" with just "publication(s)."

![imageedit_1_3912125445](https://user-images.githubusercontent.com/15079734/27250792-81541702-

[2017-06-17 06:48] sagun98 commented on #937
@21stChannel  Yes. I also had just one publication to update. I raised a [new issue](https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/941) on that. Lets see what others have to say about this.

[2017-06-17 13:04] navneetkarnam commented on #937
Yes I had just one publication to update too.

[2017-06-17 14:21] sarah-lu102 commented on #924
good clarification. You can make a pull request for this

[2017-06-17 14:27] sarah-lu102 commented on #910
@LKhadka I think he is saying that the sidebar is static and does not move when scrolling (you can only see it at the top of the page)- but it would be more useful if the sidebar stayed in the same position relative to the screen no matter how you scroll up and down.

@alexkarasik you should go ahead and make a PR for this

[2017-06-17 14:35] sarah-lu102 commented on #926
sounds good. Make a PR and we will check it!

[2017-06-17 15:40] LKhadka commented on #910
@sarah-lu102  I see. I just noticed it. My bad.

[2017-06-18 17:18] #900 closed

[2017-06-18 20:00] sagun98 opened #945 "Screenshot for open a pull request in githubandmarkdown.md page"
Include a screenshot for the opening a pull request in [githubandmarkdown.md](http://open-learning-exchange.github.io/#!./pages/githubandmarkdown.md) page.

![issue1](https://user-images.githubusercontent.com/15079734/27263592-dc6dc590-5431-11e7-9324-2c28b6c820ab.gif)

[2017-06-18 20:04] sagun98 opened #946 "Screenshot for creating a pull request in githubissues.md page"
Include few screenshots for the process of compare an pull request, title of the pull request and the checklist in the [githubissues.md](http://open-learning-exchange.github.io/#!pages/githubissues.md) page.

![issue2](https://user-images.githubusercontent.com/15079734/27263805-f7bdcd9a-5436-11e7-8e58-6ac077263e27.gif)

[2017-06-18 21:09] 21stChannel commented on #935
@navneetkarnam Thanks bro. But I have a question is, how can you manage to update again since the page is crashed? Seems like I am not able to click anything on this page even if I refresh it several times...Thanks!

[2017-06-18 21:20] 21stChannel commented on #924
Hi, I have a question is, if someone destroy the virtual box by mistake, how can he recover the admin & configuration info?

[2017-06-18 21:51] navneetkarnam commented on #924
@21stChannel Just use the code "vagrant init" and then once it's initialised you can use "vagrant up" to start the virtual box again!

[2017-06-19 15:39] sarah-lu102 commented on #936
Good point- this may not be intuitive for some people. Go ahead and make a pr for this

[2017-06-19 16:09] kylemathias commented on #914
I would make a change to the explanation and to say when making a pull request to add a rawgit to the PR.

Something like:
"Rawget dose_____. its good because of _____, it helps others see exactly what the change would look like"

[2017-06-19 16:12] kylemathias commented on #929
It might be better to just add were the pull request is located in the summary. "1 PR in step 3 and 2 in step 4" or something like that.

[2017-06-19 16:14] kylemathias commented on #930
I agree. Just a markdown page would help, or at least having a header saying "This is html and this is markdown". make the change a pull request for it to be reviewed.

[2017-06-19 16:16] kylemathias commented on #938
I wouldn't mind having a second drop down for each step in "Start here" drop down link, so long as "Start here" is still clickable.

[2017-06-19 16:17] navneetkarnam commented on #929
@kylemathias yup I did the same and created a PR #940 please take a look :)

[2017-06-19 16:18] kylemathias commented on #941
You can change the description so people know exactly what we are referring to. Go ahead and make the change and the Pull request.

[2017-06-19 16:18] navneetkarnam commented on #930
@kylemathias sure I will go ahead and make the changes and create a PR for this!

[2017-06-19 16:23] sagun98 commented on #941
@kylemathias  I had already made the PR. Would really appreciate if you could review it #942 .

[2017-06-19 16:32] 21stChannel commented on #924
@navneetkarnam Thanks for your reply. But seems like "vagrant init" actually creates your own vi environment from scratch and is not compatible with the app.

[2017-06-19 17:22] sagun98 commented on #892
@kylemathias  I have the PR #934 ready. Would you mind having a look at it ?

[2017-06-19 17:24] sagun98 commented on #897
@kylemathias  Gotcha !! I ll close this issue for now.

[2017-06-19 17:24] #897 closed

[2017-06-19 18:41] #941 closed

[2017-06-19 18:53] prajwalajayaprakash opened #952 "re-ordering the members"
I suggest re ordering of the members to put the intern leads on top as bold statements placed randomly in the list don't look pleasing. Else we can make a separate list of the leads.
<img width="565" alt="re-ordering members" src="https://user-images.githubusercontent.com/29417343/27300811-0a04f42e-54ff-11e7-8a4f-254db46a9290.PNG">

[2017-06-19 19:58] #937 closed

[2017-06-19 20:04] #870 closed

[2017-06-19 20:47] LKhadka commented on #914
i think it would be better to update the open a pull request section to include all these new instructions

[2017-06-19 21:10] Yurockkk commented on #914
solved by #915

[2017-06-19 21:10] #914 closed

[2017-06-20 02:35] aurinsomnia commented on #952
Personally I think the layout is fine as is, given that it is listed by seniority with the most senior members at the top. That said, I do agree that the lead labels, as they are currently, seem a little out of place. I think that might have more to do with formatting than anything, but I'll defer to the more senior members on this one, as it is more a matter of preference than anything else.

[2017-06-20 14:58] #882 closed

[2017-06-20 16:43] sagun98 commented on #952
I also agree with @aurinsomnia as the interns are sorted in the order of their joined dates. Alternatively, I think referencing could be done to make this page visually pleasing.

For example:

Loshma93 (W)
kylemathias(M)

W-> Wiki Intern Lead
M-> Mobile Intern Lead

[2017-06-20 16:50] sagun98 commented on #895
@LKhadka  Adding other editors in the README file seems like a good idea.

[2017-06-20 17:34] kylemathias commented on #924
@yoeng327 i don't know exactly what you are talking about. You can make the change and the PR, but you might be doing something that might not get approved because of not fully understanding the exact change you are trying to make.

[2017-06-20 18:25] kylemathias commented on #952
Its ordered by date, witch i think is more important. I say leave it before @dogi realizes his date format he prefers was changed.

[2017-06-20 18:46] Yurockkk opened #955 "Update Google Calendar URL in internorientation.md"

[2017-06-20 19:15] #945 closed

[2017-06-20 20:33] #946 closed

[2017-06-20 23:31] #955 closed

[2017-06-21 01:57] tjyothsna16 commented on #938
I totally agree. I deeply felt the need for it. In fact, As @kylemathias mentioned, dropdown menu popping out when hovered on "Start Here" is not a bad idea. Personally, I would rather want to have it as a primary dropdown, since I felt the need for jumping between the steps multiple times.

[2017-06-21 02:01] tjyothsna16 opened #958 "Add title for the images in Nation Bell page"
It would be nice to have a title for the images in Nation Bell page. Something like this:

![capture](https://user-images.githubusercontent.com/29378988/27363657-df3f3726-5603-11e7-81b1-b17ff7fb7c50.PNG)

[2017-06-21 02:10] duongdo27 commented on #958
It looks good. Make a pull request for it if you want.

[2017-06-21 14:54] navneetkarnam commented on #929
This issue was resolved with PR #957 . Hence will close it.

[2017-06-21 14:54] #929 closed

[2017-06-21 15:10] #926 closed

[2017-06-21 15:11] #892 closed

[2017-06-21 20:30] prajwalajayaprakash opened #962 "Mismatch in the adding new resources screenshot in step-4(BeLL-Apps tutorial)"
There is a slight mismatch between the screenshot given for adding a new resource and the actual dialog box that appears. The media, open and resource for tabs appear in a different order. I suggest updating the page with a new screenshot as I was personally confused for a bit while doing it for the first time.

1. old screenshot
![addresourceold](https://user-images.githubusercontent.com/29417343

[2017-06-21 20:34] prajwalajayaprakash commented on #952
Okay I'll leave it :)

[2017-06-21 20:43] tjyothsna16 commented on #938
@kylemathias I do not think we can add multi-level dropdowns in the current implementation of markdown. Here's the <a href="https://github.com/Dynalon/mdwiki/issues/326">explanation</a> given.

[2017-06-21 21:42] aurinsomnia commented on #962
This seems like a reasonable and easy fix. Go ahead and make a pull request for the change.

[2017-06-21 22:37] aurinsomnia commented on #881
This is an incredibly minor issue that appears to have been ignored, but I think this should be an easy fix, and the steps as they are are currently are a bit of an eyesore. Go ahead and make a pull request with the changes.

[2017-06-21 22:45] aurinsomnia commented on #881
@alexkarasik Oops, just took a look at the PR's and you did make a request there. It hasn't been merged though, because your branch is out of sync with the rest of the page. If you could update your branch, I'd be happy to merge the change.

[2017-06-22 14:38] tjyothsna16 opened #968 "Remove an unnecessary space"
Remove unnecessary space after "OS X operation system". This space can cause a new line with only period as part of line.
![image](https://user-images.githubusercontent.com/29378988/27439736-a6b91cbc-5736-11e7-9dfc-c02c4ca4843a.png)

[2017-06-22 15:59] tjyothsna16 opened #970 "Minor grammatical errors"
There are a couple of minor grammatical errors that need correction.

![image](https://user-images.githubusercontent.com/29378988/27443729-0ada3374-5742-11e7-929e-1c5863d53b27.png)

![image](https://user-images.githubusercontent.com/29378988/27443757-26bfc41e-5742-11e7-98b9-95f8f82293d2.png)

[2017-06-22 16:10] kylemathias commented on #938
ok, i will close this out for now. if we can find a way to do it, just reopen the issue.

[2017-06-22 16:10] #938 closed

[2017-06-22 16:13] #952 closed

[2017-06-22 16:22] kylemathias commented on #970
go ahead and max the fix and the pull request

[2017-06-22 19:53] #970 closed

[2017-06-22 20:28] LKhadka opened #973 "Capitalize and rephrase note on Git Repositories page"
It would be better to rewrite the first line of the note as "While rebasing and merging are similar, there is a difference between them". If not it would be just better to capitalize the first word.
![image](https://user-images.githubusercontent.com/6295956/27454336-1c23801e-575f-11e7-9038-6be38cac0c7c.png)

[2017-06-22 20:42] LKhadka opened #974 "Change the sample pull request image on Github and markdown page"
The image in the open a pull request should be changed with one which has a rawgit link as suggested by the note below it.
![image](https://user-images.githubusercontent.com/6295956/27454825-e9b1ce2c-5760-11e7-953d-0d5f351133ad.png)

[2017-06-22 20:43] apurva-g opened #975 "Making one of the steps under Step3 (Markdown and fork tutorial) more clear."
**Create a new file as your personal MD wiki page and commit your changes**  one of the steps under Step 3 of First Steps where I made a mistake: Here it requires us to create a new branch before creating your file, while I was doing this, though I had followed the instructions I missed creating a branch and I happened to move to the next step of creating a file without cross checking to see if th

[2017-06-22 20:56] navneetkarnam opened #976 "Adding a screenshot in Step-0"
- I feel we must add a screenshot of the GitHub page showing where the watch and follow buttons are actually located.
- This would make it more easier for the new interns to follow the steps.
<img width="901" alt="screen shot 2560-06-22 at 4 52 51 pm" src="https://user-images.githubusercontent.com/16421653/27455564-b6d5da6a-576b-11e7-8bf4-8393724f075b.png">

[2017-06-22 21:02] apurva-g commented on #975
I think it could be made clear by adding these lines:
 **To create a branch:** Click on the **Branch** drop down menu and name your branch (you can give any name to your branch) then click **Create branch**. Once you are done with that now you can see that your branch is listed in the menu.

[2017-06-23 01:55] tjyothsna16 opened #979 "Add missing backslash in the windows file path"
I see a backslash missing in the file path below. This needs to be updated.

![image](https://user-images.githubusercontent.com/29378988/27463388-4db8dcec-5795-11e7-87ee-b74b82b28748.png)

[2017-06-23 03:48] navneetkarnam opened #981 "Vagrant Tutorial page warning"
- We should create a __BOLD__ warning message on the vagrant tutorial page about the __"vagrant destroy"__ command, that it will destroy their community BeLL and they'll have to completely rebuild it and will have to send another registration request to @dogi .
- Many of them are making this mistake so I suppose writing this in bold and putting in more clarification will at least warn them.
<img w

[2017-06-23 04:17] tjyothsna16 opened #982 "Community Manage Page needs an updated screenshot in Step 7"
Old:
![nation md3](https://user-images.githubusercontent.com/29378988/27466511-3cbd4964-57a9-11e7-9dcb-b3e4f984238a.png)

New:
![nation md3](https://user-images.githubusercontent.com/29378988/27466493-23d3b8ac-57a9-11e7-87c9-1238ef33ad7b.PNG)

[2017-06-23 13:35] sarah-lu102 commented on #976
ok, you can make a pr for this!

[2017-06-23 14:38] navneetkarnam commented on #976
Sure will go ahead and make a PR for this! :)

[2017-06-23 16:26] #666 closed

[2017-06-23 16:28] kylemathias commented on #973
Sounds good, make the PR and mention this issue.

[2017-06-23 17:18] kylemathias commented on #975
@apurva-g I think for the MD wiki page that new user create, all current interns understand it is going to be made in the master. That being said, it would be better to have interns start off on the right foot by making a branch and then creating there wiki. By doing this, we are setting up interns to how we want them to make branches and fix issues.

I say go ahead and make the changes and pull r

[2017-06-23 17:24] kylemathias commented on #981
Sounds good. make the change and the pull request.

[2017-06-23 17:27] kylemathias commented on #976
!!!!

[2017-06-23 17:57] #930 closed

[2017-06-23 17:58] navneetkarnam commented on #981
@kylemathias sure will do a PR for this one!

[2017-06-23 17:59] navneetkarnam commented on #976
Haha 😄

[2017-06-23 18:13] #979 closed

[2017-06-23 18:31] #962 closed

[2017-06-23 18:38] Yurockkk commented on #974
Sounds good to me! go ahead and make a PR 👍

[2017-06-23 19:24] prajwalajayaprakash opened #985 "Placing virtualization information under corresponding operating system"
I suggest placing the information links for enabling virtualization under the corresponding operating system instructions in the vagrant tutorial page. For example placing the windows virtualization enabling information under windows tab. Some people would only check the information regarding their OS and not scroll down the entire page and hence miss the virtualization information at the end in c

[2017-06-23 20:00] prajwalajayaprakash opened #988 "Wrong information about a screenshot in markdown tutorial page"
While the markdown tutorial image was updated with a new one, the information about it on the top wasn't and it still refers to HTML. The right column shows the text preview and not HTML syntax.

<img width="654" alt="markdowntutorial" src="https://user-images.githubusercontent.com/29417343/27498350-a166d73a-582c-11e7-9844-cfcb228ee0f2.PNG">

[2017-06-24 03:38] ChenjieZhou commented on #988
Yes, please make a pull request for it.

[2017-06-24 03:52] aurinsomnia commented on #982
Go ahead and make a pull request. This isn't a huge issue of course, but accuracy is always important.

[2017-06-24 15:09] sarah-lu102 commented on #985
this is a good idea

[2017-06-25 22:10] #981 closed

[2017-06-26 21:11] #974 closed

[2017-06-26 21:15] #973 closed

[2017-06-26 21:21] #988 closed

[2017-06-26 22:41] prajwalajayaprakash opened #995 "Provide a link to community login in step 7 introduction"
I see that there is no link to Community login in the introduction part of step 7(Nation bell tutorial). I suggest putting this link : http://127.0.0.1:5985/apps/_design/bell/MyApp/index.html. under the introduction part just above the note to avoid going back to step 4 in search of this link.

<img width="668" alt="step7intro" src="https://user-images.githubusercontent.com/29417343/27563353-13326

[2017-06-26 23:13] #976 closed

[2017-06-28 16:28] alexkarasik commented on #995
I agree. This would be helpful and also avoid confusion about where exactly someone should be working.

[2017-06-28 20:03] #975 closed

[2017-06-28 20:30] prajwalajayaprakash commented on #995
@alexkarasik I have created a PR#996 to resolve this issue. Please have a look.

[2017-06-28 22:05] #995 closed

[2017-06-28 22:53] navneetkarnam commented on #968
* This issue was resolved and hence I'm closing it.

[2017-06-28 22:53] #968 closed

[2017-06-28 22:55] navneetkarnam commented on #936
@21stChannel have you made a PR for resolving this issue?

[2017-06-28 22:58] #879 closed

[2017-06-29 00:01] njanne19 opened #1003 "Better explanation needed for interns in syncing with git"
For step 5, I don't think the [Git Repositories](http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md) page is clear enough to new developers on the simple stuff. The page should do a better job at telling the new intern exactly what he/she should do in order to ensure their work is never lost to an out of date repo. A solution to this would be to put in simple instructions and

[2017-06-29 02:36] alexkarasik commented on #911
I think this is resolved now. Closing this issue.

[2017-06-29 02:36] #911 closed

[2017-06-29 03:01] alexkarasik commented on #910
Hey guys, sorry for the delay on responding to this issue... I want to do a pull request, but I don't actually see where these sidebars are in any of the pages when I look at their markdown. Does anyone know where I would find them to fix this?

[2017-06-29 04:37] aurinsomnia commented on #1003
While I think more guidance on Git usage could be helpful for new users, I think that simplifying everything down to just a set of commands to type out means that some users won't understand exactly what they're typing and why. As an intern who was mostly unfamiliar with Git before starting, being forced to do research on what everything did and why I needed it helped me a lot in understanding how

[2017-06-29 05:33] duongdo27 commented on #910
@alexkarasik, That [issue](https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/622) may help you. See my comment in that issue

[2017-06-29 11:16] njanne19 commented on #1003
How about instead we had something like this:

*You should know that every time you step away from your desk and come back, other people are working at OLE too! Because of this. It is easy to find that your repository is out of date from the current one online, and if this is true when you start working, you could potentially lose all of your work when it comes time to submit. In order to prevent

[2017-06-29 11:17] njanne19 commented on #1003
Also the your in step 5 should be a you're, I'll make sure the grammar is correct on the real thing

[2017-06-29 15:53] adhikara commented on #1003
On the contrary, I found the Git page very useful, albeit a little confusing. It may be useful to append these instructions at the END, for people who forgot what to do after what step, but even then it's probably better to see the explanations again.

[2017-06-29 16:22] alexkarasik commented on #910
@LKhadka It does stay relative until a user goes all the way down to the bottom of the page. But once they scroll up again, it disappears until you go all the way to the top and it is static.
@duongdo27 thank you for the reference, but I am finding it very difficult to find the relevant part of this line since it is so long.
I am trying to figure out where in the index.html page I can find the mec

[2017-06-29 16:30] alexkarasik commented on #881
@aurinsomnia I think it is taken care of now. Should i close this issue?

[2017-06-29 16:42] alexkarasik opened #1005 "Make sure interns know that pull requests must be merged to count"
on the First Steps page, on step 8, we have a list of what needs to be done to move on to step 9 and that list is repeated at the the beginning of Step 9. I think including this list just in step 8 would be best and to then make sure that interns know that the pull requests must be merged to count, as the list says in Step 9.

[2017-06-29 16:52] alexkarasik opened #1006 "Remind interns that no issue is too big or too small to file"
I wasn't sure if some of the issues I was filing were too insignificant at times, but now in my experience, they have almost all been met with understanding and an approval for a pull request. I think some people may be intimidated at first with not finding significant enough issues to file and may be missing the point of this stage.

I believe a few lines in the opening paragraphs on the issues p

[2017-06-29 16:56] njanne19 commented on #1003
So do you want me to implement this for the sake of finishing the intern steps? Or do you recommend me going on to trying to make an issue somewhere else? I'm fine with either.

[2017-06-29 17:00] alexkarasik opened #1007 "Tell interns what a Rebase is before providing the links"
On the git Repositories page, we provide links to the rebase instructions and then a Note on the difference between a rebase and a merge.
I think we need a brief explanation of what a rebase is and when and why we may need it before providing the links and the difference between a rebase and a merge.

[2017-06-29 21:07] aurinsomnia commented on #1007
I agree that this could be confusing, and a rebase is a powerful tool that should be explained before it is suggested or brought up. If you can effectively explain what a rebase is, and why we would need it in a useful way I think that would be a good change. Go ahead and make a pull request for the change.

[2017-06-29 21:13] aurinsomnia commented on #1006
I do agree for the most part with the premise of this issue. I too struggled initially with issues, because I couldn't find any bugs or "real problems", and felt like making minor grammatical or formatting changes was pointless. That said I don't want to diminish the process to just fixing periods, or spaces etc. If you can find a way to emphasize that these kinds of fixes are acceptable without m

[2017-06-29 23:54] #985 closed

[2017-06-30 00:22] navneetkarnam commented on #1003
@njanne19 I think you should try to shorten your explanation and then make a PR for this. I feel it is a bit long given that there are instructions on this in the page. Also do specify where are you looking to add this.

[2017-06-30 00:24] njanne19 commented on #1003
@navneetkarnam Thanks for the response, I can definitely shorten this because it was a bit wordy. I was looking to add this at the end of the [Git Repositories](http://open-learning-exchange.github.io/#!./pages/gitandrepositories.md) page as suggested by @adhikara. I could shorten this down to a small summary and add it to the bottom.

[2017-06-30 00:24] navneetkarnam commented on #1003
@njanne19 perfect! do shorten this and make a PR for it!

[2017-06-30 08:42] l0rd3141 opened #1009 "Automate install and startup of vagrant using bash script for Ubuntu users"
Creating a bash script to run the following commands automatically would make Vagrant installation and startup easier for upcoming interns using Ubuntu and other similar variants of Linux.
![screenshot2017-06-3003 34 26](https://user-images.githubusercontent.com/9048731/27727680-1d4d1928-5d45-11e7-939f-36195f523153.png)

My proposal is to upload a bash script and provide a link to this script in [

[2017-06-30 14:06] navneetkarnam commented on #1009
* I think you should go ahead and make a PR for this.

[2017-06-30 14:14] #935 closed

[2017-06-30 14:19] navneetkarnam commented on #924
@yoeng327 Are you still working on this? Did you make a PR?

[2017-06-30 14:30] alexkarasik commented on #1007
Here is the current explanation I have for a rebase. It is right above the first mention of rebase on the page and is just a brief additional paragraph. Please let me know what you think:

https://rawgit.com/alexkarasik/alexkarasik.github.io/rebaseline/#!pages/gitandrepositories.md

[2017-06-30 14:56] #823 closed

[2017-06-30 15:11] #881 closed

[2017-06-30 15:41] njanne19 opened #1012 "Add a CD instruction to Mac OSX user Vagrant install"
On the [page where it tells new interns to install Vagrant](http://open-learning-exchange.github.io/#!pages/vagrant.md), I believe that the Mac OSX instructions go in an order that is inopportune. The wiki says that you only can use vagrant in the folder it's installed in only after the user has installed it. This could lead to people installing Vagrant in a place that's either inconvenient or mes

[2017-06-30 15:44] navneetkarnam commented on #1012
* @njanne19 Yes I feel the same being a Mac user. I feel you should go ahead and make a PR for this one.

[2017-06-30 16:32] njanne19 opened #1015 "Branching instructions on Github Issues"
For the page about [Github Issues](http://open-learning-exchange.github.io/#!pages/githubissues.md), I think a better explanation of branching should be in order, especially for new users. This would require taking all the branch information provided, giving "Branching" it's own header, and posting links after each command to the github documentation. Additionally, I think that the screenshot I ha

[2017-06-30 16:39] sagun98 commented on #1009
It would be better if you include the bash script for windows too in the same file rather than just for the Ubuntu and other Linux distribution,

[2017-06-30 16:41] njanne19 opened #1016 "FAQ Q2"
One of the FAQ questions (Q2) asks what kinds of programs and applications will the intern be using during this internship. (See below)
![image](https://user-images.githubusercontent.com/24515342/27745371-152b0b78-5d91-11e7-8973-d9949163a2bf.png)

I think this would be a really good spot for there to be a description on OLE's ideal workflow for interns. The question currently doesn't really answer

[2017-06-30 18:57] Yurockkk opened #1017 "Update takeHomeEmulatorSetup.md"
Update takeHomeEmulatorSetup.md by deleting [code modification part](http://open-learning-exchange.github.io/#!./pages/takeHomeEmulatorSetup.md#Android_Studio_Emulator_Setup). The issue has been solved by [this PR](https://github.com/open-learning-exchange/take-home/pull/55)

[2017-06-30 20:10] apurva-g opened #1018 "Fixing a typo and also making a sentence more understandable in Step 7 Nation Bell"
In the Introduction paragraph:
1)There is just a missing pronoun in this sentence here shown in bold: There should be constant communication between the nation and the communities. **While is** not necessary for.....

2)This sentence is too long making it difficult to understand in the first go, I am thinking if I can highlight some important part in the sentence by adding quotes:
 While is not ne

[2017-06-30 20:15] apurva-g commented on #1018
Above mentioned both issues can be fixed as follows:

While it is not necessary for remote communities in the field, it is ideal for our goals of "improving the software and testing the increasing forms of communication and feedback between the nation and the communities".

[2017-06-30 21:00] #895 closed

[2017-07-01 17:57] lucy811 opened #1020 "Update the image links in Markdown tutorial"
When I learned the Markdown Image syntax in Markdown tutorial, I saw these image links break. Could we update these image links in Markdown tutorial, which can help us learn the image syntax better.

<img width="940" alt="images" src="https://user-images.githubusercontent.com/25615945/27764341-ba940bde-5e5c-11e7-9240-48580391f3cd.png">